<section class="chat boxed">
	<div class="boxed-inner">
		<header>
				<h1>Chat: <span>Estado '<em class="offline">no conectado</em>'</span> <span>(<%= link_to "Conectar", "#" %>)</span></h1>
				<%= link_to "Abrir chat en una ventana nueva", "#", class: 'new-window' %>
		</header>

		<div class="clearfix">
			<div class="span7">
				<div class="user-info clearfix">
					<a href="/user/user-profile.html.erb"><img src="/users/placeholder2.jpg" width="80" height ="80"></a>	
					<div class="text">
						<span class="info"><%= link_to "Judit", "/user/user-profile.html.erb" %> 21 años, Barcelona</span><span class="	status">&bull; Conectada</span>
						<div class="user-card">
							<ul class="actions user-card">
	  	 					<li class="message"><a href="#">Send Message</a></li>
	  	 					<li class="chat"><a href="#">Chat</a></li>
	  	 					<li class="like"><a href="#">Like</a></li>
	  	 					<li class="block"><a href="#">Block</a></li>
	  					</ul>
	  				</div>
					</div>
				</div>
				
				<div class="chat-container">
				<% (1..20).each do %>
					<div class="log clearfix">
						<p class="who">
							<strong>Sara</strong><br><span>14:36h</span>
						</p>
						<div class="msg">
							<p>ola ke ase</p>
						</div>
					</div>
				<% end %>
					<div id="last" class="log clearfix">
						<p class="who">
							<strong>Tu</strong><br><span>14:36h</span>
						</p>
						<div class="msg">
							<p>gracias por este sueño</p>
						</div>
					</div>
				</div>
				<div class="msg-form clearfix">
					<form>
	  	      			<label>Tu</label> <input type="text" />
	  	      			<button class="btn btn-info pull-right" type="submit">Enviar</button>
	  	  			</form>
	  	  		</div>
			</div>
			<div class="span2 sidebar">
				<hr>
				<ul>
					<li>Sara González</li>
					<li><%= link_to "Carla Morgades", "" %></li>
					<li><%= link_to "Mila Fontanals", "" %></li>
				</ul>
				<hr>
			</div>
		</div>
	</div>
</section>