<section class="user-profile">

	<article class="boxed">
		<div class="boxed-inner">
			<div id="nice-couple">
				<i></i>
				<p>¿Hacéis buena pareja?</p>
				<ul>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
				</ul>
			</div>

			<div class="user-detail-container clearfix">
				<div class="photo">
						<a href="/users/large_1.jpg" class="grouped_elements" rel="group1"><img src="/users/profile.jpg" width="210"></a>
				</div>
				<div class="description">
						<h5>Maria González | <span>Sabadell, Barcelona</span></h5>
						<p class="small">Chica - 24 años - 1'72 altura</p>
						<p class="small">Maria es soltera y sin hijos. Busca a un chico de entre 16 y 20 años para hacer amigos y que esté cerca de Sabadell, Barcelona</p>
				</div>

					<div id="user-profile-thumbs">

						<div class="jcarousel">
							<ul>
								<li><a href="/users/large_1.jpg" class="grouped_elements" rel="group1"><img src="/users/placeholder2.jpg" width="80" height ="80"></a></li>
								<li><a href="/users/large_2.jpg" class="grouped_elements" rel="group1"><img src="/users/placeholder2.jpg" width="80" height ="80"></a></li>
								<li><a href="/users/large_3.jpg" class="grouped_elements" rel="group1"><img src="/users/placeholder2.jpg" width="80" height ="80"></a></li>
								<li><a href="/users/large_1.jpg" class="grouped_elements" rel="group1"><img src="/users/placeholder2.jpg" width="80" height ="80"></a></li>
								<li><a href="/users/large_2.jpg" class="grouped_elements" rel="group1"><img src="/users/placeholder2.jpg" width="80" height ="80"></a></li>
								<li><a href="/users/large_3.jpg" class="grouped_elements" rel="group1"><img src="/users/placeholder2.jpg" width="80" height ="80"></a></li>
								<li><a href="/users/large_1.jpg" class="grouped_elements" rel="group1"><img src="/users/placeholder2.jpg" width="80" height ="80"></a></li>
								<li><a href="/users/large_2.jpg" class="grouped_elements" rel="group1"><img src="/users/placeholder2.jpg" width="80" height ="80"></a></li>
								<li><a href="/users/large_3.jpg" class="grouped_elements" rel="group1"><img src="/users/placeholder2.jpg" width="80" height ="80"></a></li>
								<li><a href="/users/large_1.jpg" class="grouped_elements" rel="group1"><img src="/users/placeholder2.jpg" width="80" height ="80"></a></li>
								<li><a href="/users/large_2.jpg" class="grouped_elements" rel="group1"><img src="/users/placeholder2.jpg" width="80" height ="80"></a></li>
								<li><a href="/users/large_3.jpg" class="grouped_elements" rel="group1"><img src="/users/placeholder2.jpg" width="80" height ="80"></a></li>
							</ul>

						</div>

						<a href="#" class="jcarousel-prev">anterior</a>
						<a href="#" class="jcarousel-next">siguiente</a>
					</div>

			</div>
		</div>
	</article>

	<%= render '/shared/user/profile-action-links' %>

<article class="basic-tabs tabs-container">
		
		<ul class="nav nav-tabs" id="basic-tabs">
  		<li class="active"><a href="#desc">Descripción</a></li>
		  <li><a href="#dicen">Sus Celestin@s</a></li>
		  <li><a href="#atributos">Sus Atributos</a></li>
		  <li class="last"><a href="#notas">Tus notas</a></li>
		</ul>

		<div class="boxed">
			<div class="boxed-inner">
				<div class="tab-content">

		  		<div class="tab-pane active" id="desc">
						<p>Tengo 36 años y vivo en Barcelona. Me gusta hacer monólogos, pero lodicen mis amigos. Me fustra poque es que hablo mucho, muy rápido y muy seguido.</p>
		  		</div>

		  		<div class="tab-pane" id="dicen">
		  			<% @foregin_user = true %>
		  			<% 5.times do %>
						<%= render '/shared/user/celes-item' %>
						<% end %>
		  		</div>

		  		<div class="tab-pane" id="atributos">
							<div class="span4">
								<% (1..12).each do %>
									<h5>Amable</h5>
									<div class="progress">
										<div class="bar" style="width:35%"></div>
									</div>
								<% end %>
							</div>

							<div class="span4 offset1 attributes-col-2">
									<% (1..12).each do %>
										<h5>Amable</h5>
										<div class="progress">
											<div class="bar" style="width:35%"></div>
										</div>
									<% end %>
							</div>
		  		</div>

		  		<div class="tab-pane" id="notas">
		  			<h4>Tus notas de María González <span>(tranquilo, él/ella no las verá)</span></h4>
		  			<hr>
		  			<% 5.times do %>
		  				<%= render '/shared/user/nota-item' %>
		  			<% end %>

		  			<div class="new-nota">
		  				<form>
		  					<textarea placeholder="Nueva nota">Nunca me contesta. ¿Será por mi aliento insecticida? Y, sobretodo... ¿cómo lo habrá olido por internet?</textarea>
		  					<div class="pull-right controls">
		  						<button type="submit" class="btn btn-info">Añadir nota</button>
		  					</div>
		  				</form>
		  			</div>
		  					  
		  		</div>
				</div>
			</div>
		</div>
	</article>


	<article class="profile-tabs tabs-container">
		
		<ul class="nav nav-tabs" id="myTab">
  		<li class="active"><a href="#como">¿Cómo es?</a></li>
		  <li><a href="#gustos">Sus gustos</a></li>
		  <li><a href="#busca">Qué busca</a></li>
		</ul>

		<div class="boxed">
			<div class="boxed-inner">
				<div class="tab-content">

		  		<div class="tab-pane active" id="como">
						<p>Me considero normal y de estilo clásico. No tengo hijos y no me gustan los niños. Fumo y soy antitabaco.</p>
						<p>Mido 1'75m y peso 65kg. Tengo los ojos de color marrón y mi complexión es fuerte.</p>
						<p>Mi nivel de estudios es diplomado y hablo castellano fluido. Trabajo en el sector salud y mi nivel de ingresos es inimaginable.</p>
						<p>Soy cristiana y me lo tomo muy en serio.</p>
		  		</div>

		  		<div class="tab-pane" id="gustos">
					<p>Me gusta comer estrictamente de todo. Bebo alcohol raramente y no tomo drogas. </p>

					<p>Me gustan los animales de compañía. No tengo y soy alérgica.</p>

					<p><strong>Sus aficiones:</strong> escribir, leer, y hacer mis propios vestidos con restos de cortinas. Tengo una máquina de coser, aviso.</p>

					<p><strong>María, cuando sale...</strong> me gusta ponerme del revés. Antes he dicho que no me drogaba ni bebía, pero es mentira. En realidad en cuanto puedo me enchufo al frasco, le tiro a los palomos y me pongo ciega ciega.</p>

					<p><strong>¿La música?</strong> escucho de todo, pero me gusta especialmente REM y Paul Mc Cartney. Sobretodo lentas para poder bailar pegada, que eso si es bailar. También me gusta Franz Ferdinand pero prefiero The Strokes.</p>

					<p><strong>De cine...</strong> mis películas favoritas son las de acción. Soy muy fan de Bruce Willis. Todo lo que toca ese tío se convierte en oro. Qué forma de llenar la pantalla, ¡pardiez!</p>
		  		</div>

		  		<div class="tab-pane" id="busca">
		  			<p>A alguien atractivo, de estilo bohemio que sea más alto que yo y que pese igual que yo.</p>
		  			<p>Si puede ser, con los ojos de color marrón y de complexión fuerte. Me gustaría que tuviera hijos y que deseara tener más.</p>
		  		</div>

		  		<div class="tab-pane" id="dicen">
		  			<% @foregin_user = true %>
		  			<% 5.times do %>
						<%= render '/shared/user/celes-item' %>
						<% end %>
		  		</div>

		  		<div class="tab-pane" id="notas">
		  			<h4>Tus notas de María González <span>(tranquilo, él/ella no las verá)</span></h4>
		  			<hr>
		  			<% 5.times do %>
		  				<%= render '/shared/user/nota-item' %>
		  			<% end %>

		  			<div class="new-nota">
		  				<form>
		  					<textarea placeholder="Nueva nota">Nunca me contesta. ¿Será por mi aliento insecticida? Y, sobretodo... ¿cómo lo habrá olido por internet?</textarea>
		  					<div class="pull-right controls">
		  						<button type="submit" class="btn btn-info">Añadir nota</button>
		  					</div>
		  				</form>
		  			</div>
		  					  
		  		</div>
				</div>
			</div>
		</div>
	</article>

	<%= render '/shared/user/profile-action-links' %>

</section>

<script type="text/javascript">


</script>
