<aside>
	<ul>
		<li><%= link_to '¿Qué es?', '/public/que-es' %></li>
		<li><%= link_to '¿Cómo consigo más popularidad?', '/public/consigue-popularidad' %></li>
		<li><%= link_to 'Celestin@s', '/public/celestinos' %></li>
		<li><%= link_to 'Consejos de uso', '/public/consejos-de-uso' %></li>
		<li><%= link_to 'Condiciones generales', '/public/condiciones-generales' %></li>
		<li><%= link_to 'Sobre Cellove.com', '/public/sobre-cellove' %></li>
	</ul>
</aside>