		<nav role="navigation">
          <ul class="clearfix">
            <li><%= link_to 'Inicio','/public/home' %></li>
            <li><%= link_to '<span>Registro Gratis</span>'.html_safe,'/public/alta-usuario' %></li>
            <li><%= link_to 'Celestin@s','/public/alta-celestino' %></li>
            <li><%= link_to 'Ver usuarios','/public/ver-usuarios' %></li>
            <li><%= link_to 'TV','#' %></li>
          </ul>
        </nav>