<% self.formats = [:html] %>
<section id="new-users" class="home-users">
<div class="clearfix list-header">
  <h4 class="pull-left"><%= _('Usuari@s nuevos en tu zona') %></h4>
  <div class="pull-right"><%= link_to_previous_page @new_users_near_me, '< ' + _('Anterior'), class: 'paginate-users', params: { controller: 'dashboard', action: 'paginate_users', partial: 'new_users_near_me' } %>&nbsp;<%= link_to_next_page @new_users_near_me, _('Siguiente') + ' >', class: 'paginate-users', params: { controller: 'dashboard', action: 'paginate_users', partial: 'new_users_near_me' } %> | <%= link_to _("Ver más"), users_path() %></div>
</div>
<ul class="user-list clearfix">
  <%= render current_user.new_users_near_me.sample(5) %>
</ul>
</section>
