<section class="direct-search">
  <div class="boxed">
    <div class="boxed-inner overflow-show">
      <h4>Búsqueda directa:</h4>
      <div class="searchform form-horizontal">
        <%= search_form_for @search, :class => 'overflow-show' do |f| %>
          <fieldset class="span6">
            <div class="control-group sliders">
              <label>Edad <span></span></label>
              <div class="controls">
                <input id="years" type="slider" name="" value="<%= @search.years_lteq || '18' %>;<%= @search.years_gteq || '80' %>"/>
                <%= f.hidden_field :years_lteq  %>
                <%= f.hidden_field :years_gteq  %>
              </div>
            </div>
            <div class="overflow-show control-group">
              <label>Población y código postal</label>
              <div class="controls">
                <%= f.select :city_eq, [current_user.city], { include_blank: _('Localidad...'), selected: @search.city_eq || current_user.city }, { class: 'city' } %>
                <%= f.text_field :postal_code_cont, placeholder: 'CP', class: 'span1' %>
              </div>
            </div>
            <div class="control-group sliders">
              <label>Distancia <span></span></label>
              <div class="controls">
                <%= text_field_tag :distance, (params[:distance] || '500'), type: 'slider' %>
              </div>
            </div>
            <div class="control-group">
              <label>Palabra clave</label>
              <div class="controls">
                <%= f.text_field :description_cont %>
              </div>
            </div>
          </fieldset>

          <fieldset class="form-options">
            <label class="checkbox">
              <%= f.check_box :pictures_main_eq, {}, 1, '' %><%= _('Con foto') %>
            </label>
            <label class="checkbox">
              <%= f.check_box :updated_at_gteq, {}, 5.minutes.ago, '' %><%= _('Online') %>
            </label>
            <%= f.submit _('Buscar'), class: 'btn btn-info' %>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</section>
<%= render partial: 'shared/search_js' %>
