<section class="user-home">

  <%= render "shared/related_list" %>
  <%= render "quick_search" %>

  <hr class="thin">

  <section id="new-users" class="home-users">
    <div class="clearfix list-header">
      <h4 class="pull-left">Usuari@s nuevos en tu zona</h4>
      <div class="pull-right">En un radio de 50 km > <%= link_to "Cambiar radio", "#" %> | <%= link_to "Ver más", "#" %></div>
    </div>
    <ul class="user-list clearfix">
      <%= render current_user.new_users_near_me %>
    </ul>
  </section>

  <section id="best-rated" class="home-users">
    <div class="clearfix list-header">
      <h4 class="pull-left">Usuari@s con mejor puntuación</h4>
      <div class="pull-right"><%= link_to "Ver más", "#" %></div>
    </div>
    <ul class="user-list clearfix">
      <%= render current_user.best_rated_near_me %>
    </ul>
  </section>

  <section id="near-most-visited" class="home-users">
    <div class="clearfix list-header">
      <h4 class="pull-left">Usuari@s que te pueden gustar</h4>
      <div class="pull-right"><%= link_to "Ver más", "#" %></div>
    </div>
    <ul class="user-list clearfix">
      <%= render current_user.best_suited_near_me %>
    </ul>
  </section>

  <section id="last-messages">
    <h4>Últimas conversaciones <a href="/user/messages">(Ver todos los mensajes)</a></h4>
    <% current_user.mailbox.conversations.last(5).each do |conversation| %>
      <%= render conversation %>
      <hr>
    <% end %>
  </section>
</section>
