<section class="user-home">

  <%= render "shared/best_suited_near_me" %>
  <%= render "quick_search" %>

  <hr class="thin">

  <%#= render partial: 'could_interest_me', locals: { radius: 500 } %>

  <%#= render partial: 'best_index', locals: { radius: 500 } %>

  <%#= render partial: 'new_users_near_me', locals: { radius: 500 } %>

  <section id="could-interest-me" class="home-users"><%= image_tag('/assets/ajax-loader.gif', :style => 'margin-top: 65px; margin-left: 365px') %></section>
  <section id="best-index" class="home-users"><%= image_tag('/assets/ajax-loader.gif', :style => 'margin-top: 65px; margin-left: 365px') %></section>
  <section id="new-users-near-me" class="home-users"><%= image_tag('/assets/ajax-loader.gif', :style => 'margin-top: 65px; margin-left: 365px') %></section>

  <section id="last-messages">
    <h4><%= _('Últimas conversaciones') %> <%= link_to _('(Ver todos los mensajes)'), conversations_path %></a></h4>
    <%= render current_user.mailbox.inbox.first(5) %>
    <%= _("No hay ninguna conversación.") if current_user.mailbox.conversations.count == 0 %>
  </section>
</section>

  <script>
    $.get( "<%= url_for(:controller=>'dashboard',:action=>'show_users', partial: 'could_interest_me') %>", function( data ) {
      $( "#could-interest-me" ).html( data );
    });
    $.get( "<%= url_for(:controller=>'dashboard',:action=>'show_users', partial: 'best_index') %>", function( data ) {
      $( "#best-index" ).html( data );
    });
    $.get( "<%= url_for(:controller=>'dashboard',:action=>'show_users', partial: 'new_users_near_me') %>", function( data ) {
      $( "#new-users-near-me" ).html( data );
    });
  </script>
