<section class="user-home">

  <%= render "shared/related_list" %>
  <%= render "quick_search" %>

  <hr class="thin">

  <%= render partial: 'near_most_visited', locals: { radius: 500 } %>
  <%= render partial: 'best_rated', locals: { radius: 500 } %>
  <%= render partial: 'new_users', locals: { radius: 500 } %>

  <section id="last-messages">
    <h4><%= _('Últimas conversaciones') %> <%= link_to _('(Ver todos los mensajes)'), conversations_path %></a></h4>
    <% current_user.mailbox.conversations.last(5).each do |conversation| %>
      <%= render conversation %>
      <hr>
    <% end %>
  </section>
</section>
