<section class="user-home">

  <%= render "shared/best_suited_near_me" %>
  <%= render "quick_search" %>

  <hr class="thin">
  
  <%= render partial: 'could_interest_me', locals: { radius: 500 } %>

  <%= render partial: 'best_index', locals: { radius: 500 } %>

  <%= render partial: 'new_users_near_me', locals: { radius: 500 } %>

  <section id="last-messages">
    <h4><%= _('Últimas conversaciones') %> <%= link_to _('(Ver todos los mensajes)'), conversations_path %></a></h4>
    <%= render current_user.mailbox.inbox.first(5) %>
    <%= _("No hay ninguna conversación.") if current_user.mailbox.conversations.count == 0 %>
  </section>
</section>
