<div class="clearfix">
	<div class="width95">
		<h5><%= _('Romántico') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('romantic')}%" %>"></div>
		</div>

		<h5><%= _('Aventurero') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('adventurer')}%" %>"></div>
		</div>
		
		<h5><%= _('Amable') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('friendly')}%" %>"></div>
		</div>
		
		<h5><%= _('Familiar') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('familiar')}%" %>"></div>
		</div>
		
		<h5><%= _('Trabajador') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('hardWorking')}%" %>"></div>
		</div>
		
		<h5><%= _('Extrovertido') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('extroverted')}%" %>"></div>
		</div>
		
		<h5><%= _('Generoso') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('generous')}%" %>"></div>
		</div>
		
		<h5><%= _('Reservado') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('reserved')}%" %>"></div>
		</div>
		
		<h5><%= _('Sociable') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('sociable')}%" %>"></div>
		</div>
		
		<h5><%= _('Tranquilo') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('quiet')}%" %>"></div>
		</div>
		
		<h5><%= _('Exigente') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('demanding')}%" %>"></div>
		</div>
		
		<h5><%= _('Orgulloso') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('prideful')}%" %>"></div>
		</div>
	</div>

	<div class="span4 offset1 attributes-col-2">
		<h5><%= _('Solitario') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('solitary')}%" %>"></div>
		</div>
		
		<h5><%= _('Tenaz') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('tenacious')}%" %>"></div>
		</div>
		
		<h5><%= _('Atento') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('attentive')}%" %>"></div>
		</div>
		
		<h5><%= _('Bienhumorado') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('goodHumored')}%" %>"></div>
		</div>
		
		<h5><%= _('Espontáneo') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('spontaneous')}%" %>"></div>
		</div>
		
		<h5><%= _('Inquieto') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('restless')}%" %>"></div>
		</div>
		
		<h5><%= _('Sensible') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('sensitive')}%" %>"></div>
		</div>
		
		<h5><%= _('Tímido') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('shy')}%" %>"></div>
		</div>
		
		<h5><%= _('Posesivo') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('possessive')}%" %>"></div>
		</div>
		
		<h5><%= _('Celoso') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('jealous')}%" %>"></div>
		</div>
		
		<h5><%= _('Fiel') %></h5>
		<div class="progress">
			<div class="bar" style="<%= "width: #{user.avg_characteristic('faithful')}%" %>"></div>
		</div>
	</div>

</div>

<hr>			
<% if show_footer %>
<% current_user.confirmed_recommenders.each do |rec| %>
	<%= render 'shared/user/celes-item', recommendation: rec, is_creator: false %>
<% end %>
<hr class="thin">
<div class="center"><a href="/user/celestinos-of-mine#tab_mejora" class="btn btn-info btn-large"><%= _('¡Consigue más puntos!') %></a></div>
<hr class="thin">
<% end %>
