<article class="form-inline">  
	<%= form_for @user, :url => profile_path do |user| %>	
	<hr class="thin">
	<h5><%= _('Dieta') %></h5>
	<%= user.label :diet, _('Me gusta la comida') %>
  <%= user.select :diet, diet_options, {include_blank: _('No quiero decirlo')} %>
	<hr>
	<h5><%= _('Hábitos') %></h5>
  <%= user.select :smoke, smoke_options, {include_blank: _('No quiero decirlo')}, {:class => 'span3'} %> <%= _('y') %> 
  <%= user.select :alcohol, alcohol_options, {include_blank: _('No quiero decirlo')} %>
	<hr>
	<h5><%= _('Matrimonio') %></h5>
  <%= user.select :wedding_opinion, wedding_opinion_options, {include_blank: _('No quiero decirlo')}, {:class => 'span4'} %>
	<hr>
	<h5><%= _('Animales') %></h5>
  <%= user.select :animals, animals_options, {include_blank: _('No quiero decirlo')}, {:class => 'span4'} %>
	<hr>
	<h5><%= _('Ocio') %></h5>
  <%= user.select :party, party_options, {include_blank: _('No quiero decirlo')}, {:class => 'span4'} %>
	<hr class="thin">
  <%= user.select :music, music_options, {include_blank: _('No quiero decirlo')}, {:class => 'span3'} %>
	<%= user.label :music_genre, _(', me gusta el') %>
  <%= user.select :music_genre, music_genre_options, {include_blank: _('No quiero decirlo')}, {:class => 'span2'} %>
	<hr class="thin">
  <%= user.select :cinema, cinema_options, {include_blank: _('No quiero decirlo')}, {:class => 'span3'} %>
  <%= user.select :cinema_frequency, cinema_frequency_options, {include_blank: _('No quiero decirlo')}, {:class => 'span3'} %>
	<%= user.label :cinema_genre, _(', de género') %>
  <%= user.select :cinema_genre, cinema_genre_options, {include_blank: _('No quiero decirlo')}, {:class => 'span2'} %>
	<hr class="thin">

	<div class="span4"><%= _('En mi tiempo libre me gusta:') %></div>
	<div class="clearfix"></div>

	<div class="checkbox-group">
		<div class="span2">
			<div>
				<%= user.check_box :like_sport %>
				<%= user.label :like_sport,_('Deporte') %>
			</div>
			<div>
				<%= user.check_box :like_read %>
				<%= user.label :like_read,_('Lectura') %>
			</div>
			<div>
				<%= user.check_box :like_cinema %>
				<%= user.label :like_cinema,_('Cine') %>
			</div>
		</div>
		<div class="span2">
			<div>
				<%= user.check_box :like_walk %>
				<%= user.label :like_walk,_('Pasear') %>
			</div>
			<div>
				<%= user.check_box :like_beach %>
				<%= user.label :like_beach,_('Playa') %>
			</div>
			<div>
				<%= user.check_box :like_mountain %>
				<%= user.label :like_mountain,_('Montaña') %>
			</div>
		</div>
		<div class="span3">
			<div>
				<%= user.check_box :like_quiet %>
				<%= user.label :like_quiet,_('Estar tranquilo en casa') %>
			</div>
			<div>
				<%= user.check_box :like_family %>
				<%= user.label :like_family,_('Estar con la familia') %>
			</div>
			<div>
				<%= user.check_box :like_friends %>
				<%= user.label :like_friends,_('Estar con mis amigos') %>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
		
	<hr class="thin">
							
</article>
								
<div class="center">
	<button class="btn btn-info btn-large"><%= _('Guardar gustos') %></button>
</div>
<% end %>

<hr class="thin">
