<section id="pay_header" class="boxed">
  <div class="boxed-inner">
  <header>
    <h1><%= _('Hazte usuari@ VIP de Cellove') %></h1>
  </header>
  </div>
</section>
<section id="pay_subheader">
  <h2><%= _('Utiliza todo el potencial que te ofrece Cellove') + raw('<br>') + _('¡No pongas límites!')%></h2>
</section>
<section id="pay" class="boxed">
  <div class="boxed-inner">
  <article>
        <fieldset class="clearfix">
            <div class="payment">
              <h3><%= _('PASE') + raw('<br>') + _('GRATIS') %></h3>
              <ul>
                <li><%= _('Ilimitada navegación') %></li>
                <li><%= _('Ilimitada recepción mensajes') %></li>
                <li><%= _('Envío 5 mensajes diarios') %></li>
                <li><%= _('2 Chats simultáneos') %></li>
                <li><%= _('Limitación opciones avanz.') %></li>
                <li><%= _('Publicidad en navegación') %></li>
                <li>&nbsp;</li>
              </ul>
            </div>

            <div class="payment plan2">
              <header>
                <h3><%= _('PASE') + raw('<br>') + _('VIP') %></h3>
                <h4><%= _('4,99€/mes') %></h4>
              </header>
              <ul>
                <li><%= _('Ilimitada navegación') %></li>
                <li><%= _('Ilimitada recepción mensajes') %></li>
                <li><%= _('Ilimitados envíos mensajes') %></li>
                <li><%= _('Acuse recibo mensajes') %></li>
                <li><%= _('Ilimitados Chats simultáneos') %></li>
                <li><%= _('Navegación oculta') %></li>
                <li><%= _('Opciones avanzadas libres') %></li>
              </ul>
              <div class="call">
                <% if current_user.has_role? :premium_user %>
                  <%= _('Actualmente eres VIP') %> <%= link_to 'Cancelar', pay_cancellation_path, class: 'btn btn-info', confirm: _('¿Estas seguro?') %>
                <% else %>
                <%= form_tag pay_confirmation_path do %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-name="Cellove"
                          data-image="<%= asset_path('logo-cellove-square.jpg') %>"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="<%= _('Subscripción mensual') %>"
                          data-label="<%= _('Confirmar') %>"
                          data-currency="EUR"
                          data-panel-label="<%= _('Pagar') %>"
                          data-email="<%= current_user.email %>"
                          data-allow-remember-me="false"
                          data-amount="499"></script>
                <% end %>
                <% end %>
              </div>
            </div>
        </fieldset>

  </article>

</div>

</section>

<section id="why">
  <h4><%= _('¿Por qué tengo que pagar para utilizar Cellove?') %></h4>
  <p><%= _('Cellove ha sido diseñado y creado como una red social de contactos gratis para todos los usuari@s, con las funciones y herramientas necesarias para fidelizar y convertirnos en tu red social de contactos de confianza. Para mantener la plataforma y ofrecer nuestro servicio con garantías, es necesario disponer de un sistema de micropagos solo para usuari@s que quieran utilizar Cellove sin limitaciones.') %></p>
</section>
