<section class="profile">

	<div class="boxed">
		<div class="boxed-inner">
			<header>
				<h1 class="span3">Tu perfil</h1>
				<div class="pull-right">
					Índice Cellove: 35/100 <%= link_to "¡Mejora tu índice!", "/user/celestinos-of-mine#tab_mejora" %> - Perfil 35% completado
				</div>
			</header>
      <%= render partial: "pictures", locals: {user: @user} %>
		</div>
	</div>

	<hr class="thin">

	
	<%= form_for @user, :url => profile_path do |f| %>
		<section class="boxed">
			<div class="boxed-inner">
				<fieldset>
					<header>
						<h1>Datos de acceso a Cellove</h1>
						<br>
						<p>Modifica aquí tus datos de acceso a Cellove</p>
					</header>
					<div>
						<div class="span4 left">
							<div class="control-group">
								<%= f.label :email, 'Email', :class => 'control-label' %>
								<div class="controls">
									<%= f.email_field :email, :class => 'span2' %>
								</div>
							</div>
							<div class="control-group">
								<%= f.label :email_confirmation, 'Confirmar Email', :class => 'control-label' %>
								<div class="controls">
									<%= f.email_field :email_confirmation, :class => 'span2' %>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="control-group">
								<%= f.label :password, 'Contraseña', :class => 'control-label' %>
								<div class="controls">
									<%= f.password_field :password, :class => 'span2' %>
								</div>
							</div>
							<div class="control-group">
								<%= f.label :password_confirmation, 'Confirmar contraseña', :class => 'control-label' %>
								<div class="controls">
									<%= f.password_field :password_confirmation, :class => 'span2' %>
								</div>
							</div>
						</div>
						
						<div class="center">
							<%= f.submit 'Modificar datos de acceso', :class => 'btn btn-info' %>
							<hr class="thin">
						</div>
					</div>
				</fieldset>
			</div>
		</section>
	<% end %>

	<hr class="thin">

	<%= form_for @user, :url => profile_path do |user| %>
		<section class="boxed">
			<div class="boxed-inner">
				<fieldset class="quien form-inline">
					<header>
						<h1>¿Quien eres?</h1>
					</header>
					<div class="span9">
						Me llamo 
						<%= user.text_field :name, :class => 'input-small' %>
						<%= user.text_field :surname, :class => 'input-small' %>
						pero quiero que mi nombre para mostrar sea 
						<%= user.text_field :screen_name, :class => 'input-small' %>
						<small>* Cellove recomienda utilizar tu nombre real para tener más posibilidades de contactos y Celestin@os. Deja este campo vacío para usar tu nombre real.</small>
					</div>
					<div class="center">
							<%= user.submit 'Modificar datos personales', :class => 'btn btn-info' %>
							<hr class="thin">
						</div>
				</fieldset>
			</div>
		</section>
	<% end %>

	<hr class="thin">

	<article class="profile-tabs">
		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#como">¿Cómo eres?</a></li>
		  <li><a href="#gustos">Tus gustos</a></li>
		  <li><a href="#buscas">Qué buscas</a></li>
		  <li><a href="#dicen">Que dicen de ti</a></li>
		</ul>
		 
		<div class="boxed">
			<div class="boxed-inner">
				<div class="tab-content">
					<div class="tab-pane active" id="como">
						<article class="form-inline">
							<hr class="thin">
							<%= form_for @user do |f| %>
							<%= f.label :gender, "Soy" %>
      				<%= f.select :gender, gender_options  %>
      				<%= f.select :orientation, orientation_options  %>
      				<%= f.label :marital_status, "y" %>
      				<%= f.select :marital_status, marital_status_options,	{}, { :class => 'span2' } %>
      				,
							<hr class="thin">
							<%= f.label :birth_date, "Nací el" %>
							<%= f.text_field :birth_date_day, placeholder: Date.today.day, class: "span1" %>
							<%= f.label :birth_date, "de" %>
      				<%= f.date_select(:birth_date, {:discard_day =>'true', :discard_year => 'true'}, :class=>'span2' ) %>
      				<%= f.label :birth_date_year, "de" %>
      				<%= f.text_field :birth_date_year, placeholder: Date.today.year, class: "span1" %>
      				<hr class="thin">

      				<%= f.label :country, "Vivo en" %>
      				<%= f.select :country, country_options %>
							<%= f.label :postal_code, ' y mi código postal es el' %>
							<%= f.text_field :postal_code, placeholder: 'CP', :class => 'input-mini' %>.
						
							<hr>
							<%= f.label :physical_desc, 'Soy' %>
							<%= f.select :physical_desc, physical_desc_options %>
							<%= f.label :physical_style, 'y mi estilo es' %>
							<%= f.select :physical_style, physical_style_options %>.

							<hr class="thin">
							<%= f.label :height, 'Mido' %>
							<%= f.text_field :height, :class => 'input-mini' %>
							<%= f.label :weight, 'm. Y peso ' %>
							<%= f.text_field :weight, :class => 'input-mini' %>
							kg.
							<%= f.label :complexion, 'Mi complexión es ' %>
							<%= f.select :complexion, complexion_options %>.

							<hr class="thin">
							
							<%= f.select :child, child_options, {} , :class =>'span2' %>
							<%= f.label :child_want, ' hijos, y' %>
							<%= f.select :child_want, child_want_options, {}, :class => 'span3' %>

							<hr>
							<%= f.select :smoke, smoke_options, {} , :class => 'span2' %>
							<%= f.label :smoke_tolerance, 'y' %>
							<%= f.select :smoke_tolerance, smoke_tolerance_options, {}, :class=> 'span3' %>.
							<hr>
							</br>
											
							<%= f.label :diet, 'A la hora de comer' %>
							<%= f.select :diet, diet_options, {}, :class => 'span4' %>.
							
							<hr class="thin">
							<%= f.select :alcohol, alcohol_options %>
							<%= f.label :drugs, 'y' %>
							<%= f.select :drugs, drugs_options, {}, :class => 'span2' %>
							<%= f.select :drug_frequency, drugs_frequency_options  %>.

							<hr>
							<%= f.label :religion, 'Soy' %>
							<%= f.select :religion, religion_options %>
							<%= f.label :religion_opinions, 'y' %>
							<%= f.select :religion_opinion, religion_opinion_options %>.

							<hr>
							<%= f.select :animal_like, animal_like_options  %>
							<%= f.label :animal_have, 'los animales de compañia y' %>
							<%= f.select :animal_have, animal_have_options, {} , :class => 'span2' %>

							
							<hr>
							<%= f.label :study_level, 'Mi nivel de estudios es' %>
							<%= f.select :study_level, study_level_options %>
							<%= f.label :language, 'y hablo' %>
							<%= f.select :language, language_options %>.

							<hr class="thin">
							<%= f.label :job, 'Me dedico a' %>
							<%= f.select :job, job_options %>
							<%= f.label :earn, 'con un nivel de ingresos' %>
							<%= f.select :salary, salary_options, {} , :class => 'span2' %>.

						</article>
						<hr>
							
						<article>
							<h3>¿Cómo te describirias?</h3>
							<p>¡Una pequeña descripción de cómo te ves a ti mismo ayudará a otros usuari@s a conocerte mejor!</br>
								No desaproveches esta oportunidad...</p>
							
							<textarea></textarea>
						</article>
						<hr>
						<article class="clearfix">
							<h3>¿Cómo te consideras?</h3>
							<p><em>Puntua de 1 a 5 cada una de estas características</em></p>
							<div class="span1">
								&nbsp;
							</div>
							<div class="span3 offset1">
								<% (1..12).each do %>
									<h5>Amable</h5>
									<input id="points" type="slider" name="" value="3"/>
								<% end %>
							</div>
							<div class="span1">
								&nbsp;
							</div>

								<div class="span3">
									<% (1..12).each do %>
										<h5>Amable</h5>
										<input id="points" type="slider" name="" value="3"/>
									<% end %>
								</div>
							</article>
							<hr>
							<div class="center">
								<button class="btn btn-info btn-large">Guardar cambios</button>
								<hr class="thin">
							</div>
							<% end %>
						</div>

			</div>
		</div>
	

</section>

<script src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript">
	$('#myTab a').click(function (e) {
  	e.preventDefault();
  	$(this).tab('show');
	})
</script>







