<section class="profile">

	<div class="boxed">
		<div class="boxed-inner">
			<header>
				<h1 class="span3">Tu perfil</h1>
				<div class="pull-right">
					Índice Cellove: 35/100 <%= link_to "¡Mejora tu índice!", "/user/celestinos-of-mine#tab_mejora" %> - Perfil 35% completado
				</div>
			</header>
      <div id="user-pictures">
        <div id="picture_gallery">
          <%= render partial: 'pictures/picture_gallery', locals: {user: @user} %>
        </div>
      </div>
		</div>
	</div>

	<hr class="thin">

	
	<%= form_for @user, :url => profile_path do |f| %>
		<section class="boxed">
			<div class="boxed-inner">
				<fieldset>
					<header>
						<h1>Datos de acceso a Cellove</h1>
						<br>
						<p>Modifica aquí tus datos de acceso a Cellove</p>
					</header>
					<div>
						<div class="span4 left">
							<div class="control-group">
								<%= f.label :email, 'Email', :class => 'control-label' %>
								<div class="controls">
									<%= f.email_field :email, :class => 'span2' %>
								</div>
							</div>
							<div class="control-group">
								<%= f.label :email_confirmation, 'Confirmar Email', :class => 'control-label' %>
								<div class="controls">
									<%= f.email_field :email_confirmation, :class => 'span2' %>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="control-group">
								<%= f.label :password, 'Contraseña', :class => 'control-label' %>
								<div class="controls">
									<%= f.password_field :password, :class => 'span2' %>
								</div>
							</div>
							<div class="control-group">
								<%= f.label :password_confirmation, 'Confirmar contraseña', :class => 'control-label' %>
								<div class="controls">
									<%= f.password_field :password_confirmation, :class => 'span2' %>
								</div>
							</div>
						</div>
						
						<div class="center">
							<%= f.submit 'Modificar datos de acceso', :class => 'btn btn-info' %>
							<hr class="thin">
						</div>
					</div>
				</fieldset>
			</div>
		</section>
	<% end %>

	<hr class="thin">

	<%= form_for @user, :url => profile_path do |user| %>
		<section class="boxed">
			<div class="boxed-inner">
				<fieldset class="quien form-inline">
					<header>
						<h1>¿Quien eres?</h1>
					</header>
					<div class="span9">
						Me llamo 
						<%= user.text_field :name, :class => 'input-small' %>
						<%= user.text_field :surname, :class => 'input-small' %>
						pero quiero que mi nombre para mostrar sea 
						<%= user.text_field :screen_name, :class => 'input-small' %>
						<small>* Cellove recomienda utilizar tu nombre real para tener más posibilidades de contactos y Celestin@os. Deja este campo vacío para usar tu nombre real.</small>
					</div>
					<div class="center">
							<%= user.submit 'Modificar datos personales', :class => 'btn btn-info' %>
							<hr class="thin">
						</div>
				</fieldset>
			</div>
		</section>
	<% end %>

	<hr class="thin">

	<article class="profile-tabs">
		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#como">¿Cómo eres?</a></li>
		  <li><a href="#gustos">Tus gustos</a></li>
		  <li><a href="#buscas">Qué buscas</a></li>
		  <li><a href="#dicen">Que dicen de ti</a></li>
		</ul>
		 
		<div class="boxed">
			<div class="boxed-inner">
				<div class="tab-content">
					<div class="tab-pane active" id="como">
						<article class="form-inline">
							<hr class="thin">
							<%= form_for @user, :url => profile_path do |user| %>
							<%= user.label :gender, "Soy" %>
      				<%= user.select :gender, gender_options  %>
      				<%= user.select :orientation, orientation_options  %>
      				<%= user.label :marital_status, "y" %>
      				<%= user.select :marital_status, marital_status_options,	{}, { :class => 'span2' } %>
      				,
							<hr class="thin">
							<%= user.label :birth_date, "Nací el" %>
							<%= user.text_field :birth_date_day, placeholder: Date.today.day, class: "span1" %>
							<%= user.label :birth_date, "de" %>
      				<%= user.date_select(:birth_date, {:discard_day =>'true', :discard_year => 'true'}, :class=>'span2' ) %>
      				<%= user.label :birth_date_year, "de" %>
      				<%= user.text_field :birth_date_year, placeholder: Date.today.year, class: "span1" %>
      				<hr class="thin">

      				<%= user.label :country, "Vivo en" %>
      				<%= user.select :country, country_options %>
							<%= user.label :postal_code, ' y mi código postal es el' %>
							<%= user.text_field :postal_code, placeholder: 'CP', :class => 'input-mini' %>.
						
							<hr>
							<%= user.label :physical_desc, 'Soy' %>
							<%= user.select :physical_desc, physical_desc_options %>
							<%= user.label :physical_style, 'y mi estilo es' %>
							<%= user.select :physical_style, physical_style_options %>.

							<hr class="thin">
							<%= user.label :height, 'Mido' %>
							<%= user.text_field :height, :class => 'input-mini' %>
							<%= user.label :weight, 'm. Y peso ' %>
							<%= user.text_field :weight, :class => 'input-mini' %>
							kg.
							<%= user.label :complexion, 'Mi complexión es ' %>
							<%= user.select :complexion, complexion_options %>.

							<hr class="thin">
							
							<%= user.select :child, child_options, {} , :class =>'span2' %>
							<%= user.label :child_want, ' hijos, y' %>
							<%= user.select :child_want, child_want_options, {}, :class => 'span3' %>

							<hr>
							<%= user.select :smoke, smoke_options, {} , :class => 'span2' %>
							<%= user.label :smoke_tolerance, 'y' %>
							<%= user.select :smoke_tolerance, smoke_tolerance_options, {}, :class=> 'span3' %>.
							<hr>
							</br>
											
							<%= user.label :diet, 'A la hora de comer' %>
							<%= user.select :diet, diet_options, {}, :class => 'span4' %>.
							
							<hr class="thin">
							<%= user.select :alcohol, alcohol_options %>
							<%= user.label :drugs, 'y' %>
							<%= user.select :drugs, drugs_options, {}, :class => 'span2' %>
							<%= user.select :drug_frequency, drugs_frequency_options  %>.

							<hr>
							<%= user.label :religion, 'Soy' %>
							<%= user.select :religion, religion_options %>
							<%= user.label :religion_opinions, 'y' %>
							<%= user.select :religion_opinion, religion_opinion_options %>.

							<hr>
							<%= user.select :animal_like, animal_like_options  %>
							<%= user.label :animal_have, 'los animales de compañia y' %>
							<%= user.select :animal_have, animal_have_options, {} , :class => 'span2' %>

							
							<hr>
							<%= user.label :study_level, 'Mi nivel de estudios es' %>
							<%= user.select :study_level, study_level_options %>
							<%= user.label :language, 'y hablo' %>
							<%= user.select :language, language_options %>.

							<hr class="thin">
							<%= user.label :job, 'Me dedico a' %>
							<%= user.select :job, job_options %>
							<%= user.label :earn, 'con un nivel de ingresos' %>
							<%= user.select :salary, salary_options, {} , :class => 'span2' %>.

						</article>
						<hr>
							
						<article>
							<h3>¿Cómo te describirias?</h3>
							<p>¡Una pequeña descripción de cómo te ves a ti mismo ayudará a otros usuari@s a conocerte mejor!</br>
								No desaproveches esta oportunidad...</p>
							<%= user.text_area :description %>
							
						</article>
						<hr>
						<article class="clearfix">
							<h3>¿Cómo te consideras?</h3>
							<p><em>Puntua de 1 a 5 cada una de estas características</em></p>
							<div class="span1">
								&nbsp;
							</div>

								
							<%= @control %>
							<%= user.fields_for :characteristics do |my| %>
								
								<div class="span3 offset1 slider-ui pull-left">
									<h5>Romántico</h5>
									<%= my.text_field :romantic %>
									<!--<div id="romantic"></div>
									<script>createSlider('#romantic', 1, 5, <%= @user.my_characteristics.romantic %>)</script>-->

									<h5>Aventurero</h5>
									<%= my.text_field :adventurer %>

									<h5>Amable</h5>
									<%= my.text_field :friendly %>

									<h5>Familiar</h5>
									<%= my.text_field :familiar %>

									<h5>Trabajadro</h5>
									<%= my.text_field :hardWorking %>

									<h5>Extrovertido</h5>
									<%= my.text_field :extroverted %>

									<h5>Generoso</h5>
									<%= my.text_field :generous %>

									<h5>Reservado</h5>
									<%= my.text_field :reserved %>

									<h5>Sociable</h5>
									<%= my.text_field :sociable %>

									<h5>Tranquilo</h5>
									<%= my.text_field :quiet %>

									<h5>Exigente</h5>
									<%= my.text_field :demanding %>

									<h5>Orgulloso</h5>
									<%= my.text_field :prideful %>
								</div>
								

								<div class="span1">
									&nbsp;
								</div>
	
								<div class="span3">
									<h5>Solitario</h5>
									<%= my.text_field :solitary %>
	
									<h5>Tenaz</h5>
									<%= my.text_field :tenacious %>
	
									<h5>Atento</h5>
									<%= my.text_field :attentive %>
	
									<h5>Bienhumorado</h5>
									<%= my.text_field :goodHumored %>
	
									<h5>Espontáneo</h5>
									<%= my.text_field :spontaneous %>
	
									<h5>Inquieto</h5>
									<%= my.text_field :restless %>
	
									<h5>Sensible</h5>
									<%= my.text_field :sensitive %>
	
									<h5>Tímido</h5>
									<%= my.text_field :shy %>
	
									<h5>Posesivo</h5>
									<%= my.text_field :possessive %>
	
									<h5>Celoso</h5>
									<%= my.text_field :jealous %>
	
									<h5>Fiel</h5>
									<%= my.text_field :faithful %>
	
								</div>
							<% end %>
						</article>
						<hr>
						<div class="center">
							<button type="submit" class="btn btn-info btn-large">Guardar cambios</button>
							<hr class="thin">
						</div>
						<% end %>
					</div>

					<div class="tab-pane" id="gustos">	  
						<%= form_for @user, :url => profile_path do |user| %>	
						<article>
							<h3>Acerca de tus aficiones... ¿qué te gusta hacer?</h3>
							<%= user.text_area :hobbies %>
						</article>
						<hr>
				  	<article>
							<h3>Cuando sales, ¿qué haces?</h3>
							<%= user.text_area :party %>
						</article>
						<hr>
				  	<article>
							<h3>¿Y la música? ¿Qué escuchas? ¿Bailas?</h3>
							<%= user.text_area :music %>
						</article>
						<hr>
				  	<article>
							<h3>Sólo queda el cine. ¿Alguna película favorita? ¿Directores, tal vez?</h3>
							<%= user.text_area :cinema %>
						</article>
						<hr>
								
						<div class="center">
							<button class="btn btn-info btn-large">Guardar gustos</button>
						</div>
						<% end %>

						<hr class="thin">
				  </div>

				  <div class="tab-pane" id="buscas">
						<article class="form-inline">
							<hr class="thin">
							<%= form_for @user, :url => profile_path do |user| %>
							<%= user.label :lf_gender, "Busco" %>
      				<%= user.select :lf_gender, gender_options  %>
      				<%= user.select :lf_orientation, orientation_options  %>
      				<%= user.label :lf_marital_status, "y" %>
      				<%= user.select :lf_marital_status, marital_status_options,	{}, { :class => 'span2' } %>
      				,
							<hr class="thin">
							<%= user.label :lf_age_between, 'de entre' %>
							<%= user.text_field :lf_age_between, :class => 'input-mini' %>
							<%= user.label :lf_age_to, 'y' %>
							<%= user.text_field :lf_age_to, :class => 'input-mini' %>
							años.
      				<hr class="thin">

      				<%= user.label :lf_city, 'Que viva en' %>
      				<%= user.text_field :lf_city, :class=> 'span2' %>
      				<%= user.label :lf_country, ',' %>
      				<%= user.select :lf_country, country_options, {}, :class=>'span2' %>
							<%= user.label :lf_postal_code, ' cerca del código postal' %>
							<%= user.text_field :lf_postal_code, placeholder: 'CP', :class => 'input-mini' %>.
						
							<hr>
							<%= user.label :lf_physical_desc, 'Que sea' %>
							<%= user.select :lf_physical_desc, physical_desc_options %>
							<%= user.label :lf_physical_style, 'y' %>
							<%= user.select :lf_physical_style, physical_style_options %>.

							<hr>
							<%= user.label :lf_height_between, 'De entre' %>
							<%= user.text_field :lf_height_between, :class => 'input-mini' %>
							<%= user.label :lf_height_to, 'y' %>
							<%= user.text_field :lf_weight_to, :class => 'input-mini' %>
							<%= user.label :lf_weight_between, 'm. y pese entre ' %>
							<%= user.text_field :lf_weight_between, :class => 'input-mini' %>
							<%= user.label :lf_weight_to, 'y' %>
							<%= user.text_field :lf_weight_to, :class => 'input-mini' %>
							kg.,<br>
							<%= user.label :lf_complexion, ' y de complexión ' %>
							<%= user.select :lf_complexion, complexion_options %>.

							<hr>
							<%= user.label :lf_child, 'Que' %>
							<%= user.select :lf_child, lf_child_options, {} , :class =>'span2' %>
							<%= user.label :lf_child_want, ' hijos, y' %>
							<%= user.select :lf_child_want, lf_child_want_options, {}, :class => 'span3' %>

							<hr>
							<%= user.label :lf_smoke, 'Que' %>
							<%= user.select :lf_smoke, lf_smoke_options, {} , :class => 'span2' %>
							<%= user.label :lf_smoke_tolerance, 'y' %>
							<%= user.select :lf_smoke_tolerance, lf_smoke_tolerance_options, {}, :class=> 'span3' %>.
							<hr>
							</br>
											
							<%= user.label :lf_diet, 'A la hora de comer, que sea' %>
							<%= user.select :lf_diet, lf_diet_options, {}, :class => 'span4' %>.
							
							<hr class="thin">
							<%= user.select :lf_alcohol, lf_alcohol_options %>
							<%= user.label :lf_drugs, 'y' %>
							<%= user.select :lf_drugs, lf_drugs_options, {}, :class => 'span2' %>
							<%= user.select :lf_drug_frequency, drugs_frequency_options  %>.

							<hr>
							<%= user.label :lf_religion, 'Que sea' %>
							<%= user.select :lf_religion, religion_options %>
							<%= user.label :lf_religion_opinions, 'y' %>
							<%= user.select :lf_religion_opinion, religion_opinion_options %>.

							<hr>
							<%= user.label :lf_animal_like, 'Que' %>
							<%= user.select :lf_animal_like, lf_animal_like_options  %>
							<%= user.label :lf_animal_have, 'los animales de compañia y' %>
							<%= user.select :lf_animal_have, lf_animal_have_options, {} , :class => 'span2' %>

							
							<hr>
							<%= user.label :lf_study_level, 'Con nivel de estudios es' %>
							<%= user.select :lf_study_level, study_level_options %>
							<%= user.label :lf_language, 'y hable' %>
							<%= user.select :lf_language, language_options %>.

							<hr class="thin">
							<%= user.label :lf_job, 'Que se dedique a' %>
							<%= user.select :lf_job, job_options %>
							<%= user.label :lf_salary, 'con un nivel de ingresos' %>
							<%= user.select :lf_salary, salary_options, {} , :class => 'span2' %>.

						</article>
						<hr>
						<div class="center">
							<button class="btn btn-info btn-large">Guardar preferencias</button>
						</div>
						<% end %>
						<hr class="thin">
				  </div>

				  <div class="tab-pane" id="dicen">
				  	<div class="span4">
							<% (1..12).each do %>
								<h5>Amable</h5>
								<input id="points" type="slider" name="" value="3"/>
							<% end %>
						</div>

						<div class="span4">
							<% (1..12).each do %>
								<h5>Amable</h5>
								<input id="points" type="slider" name="" value="3"/>
							<% end %>
						</div>
						<div class="clearfix"></div>

									
						<% (1..3).each do %>
						<%= render '/shared/user/celes-item' %>
						<hr>
						<% end %>
						<%= render '/shared/user/celes-item' %>
						<hr class="thin">
						<div class="center"><a href="/user/celestinos-of-mine#tab_mejora" class="btn btn-info btn-large">¡Consigue más puntos!</a></div>
					</div>

				</div>
			</div>
		</div>
	

</section>

<script type="text/javascript">
	$('#myTab a').click(function (e) {
  	e.preventDefault();
  	$(this).tab('show');
	})
</script>







