<section class="profile">

	<div class="boxed">
		<div class="boxed-inner">
			<header>
				<h1 class="span3">Tu perfil</h1>
				<div class="pull-right">
					Índice Cellove: 35/100 <%= link_to "¡Mejora tu índice!", "/user/celestinos-of-mine#tab_mejora" %> - Perfil 35% completado
				</div>
			</header>
      <%= render partial: "pictures", locals: {user: @user} %>
		</div>
	</div>

	<hr class="thin">

	
	<%= form_for @user, :url => profile_path do |f| %>
		<section class="boxed">
			<div class="boxed-inner">
				<fieldset>
					<header>
						<h1>Datos de acceso a Cellove</h1>
						<br>
						<p>Modifica aquí tus datos de acceso a Cellove</p>
					</header>
					<div>
						<div class="span4 left">
							<div class="control-group">
								<%= f.label :email, 'Email', :class => 'control-label' %>
								<div class="controls">
									<%= f.email_field :email, :class => 'span2' %>
								</div>
							</div>
							<div class="control-group">
								<%= f.label :email_confirmation, 'Confirmar Email', :class => 'control-label' %>
								<div class="controls">
									<%= f.email_field :email_confirmation, :class => 'span2' %>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="control-group">
								<%= f.label :password, 'Contraseña', :class => 'control-label' %>
								<div class="controls">
									<%= f.password_field :password, :class => 'span2' %>
								</div>
							</div>
							<div class="control-group">
								<%= f.label :password_confirmation, 'Confirmar contraseña', :class => 'control-label' %>
								<div class="controls">
									<%= f.password_field :password_confirmation, :class => 'span2' %>
								</div>
							</div>
						</div>
						
						<div class="center">
							<%= f.submit 'Modificar datos de acceso', :class => 'btn btn-info' %>
							<hr class="thin">
						</div>
					</div>
				</fieldset>
			</div>
		</section>
	<% end %>

	<hr class="thin">

	<%= form_for @user do |user| %>
		<section class="boxed">
			<div class="boxed-inner">
				<fieldset class="quien form-inline">
					<header>
						<h1>¿Quien eres?</h1>
					</header>
					<div class="span9">
						Me llamo 
						<%= user.text_field :name, :class => 'input-small' %>
						<%= user.text_field :surname, :class => 'input-small' %>
						pero quiero que mi nombre para mostrar sea 
						<%= user.text_field :screen_name, :class => 'input-small' %>
						<small>* Cellove recomienda utilizar tu nombre real para tener más posibilidades de contactos y Celestin@os. Deja este campo vacío para usar tu nombre real.</small>
					</div>
					<div class="center">
							<%= user.submit 'Modificar datos personales', :class => 'btn btn-info' %>
							<hr class="thin">
						</div>
				</fieldset>
			</div>
		</section>
	<% end %>

	<%= form_for @user do |user| %>
	

	<% end %>

	
</section>

<script src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript">
	$('#myTab a').click(function (e) {
  	e.preventDefault();
  	$(this).tab('show');
	})
</script>







