<section class="profile">

  <% unless current_user.confirmed? %>
    <div class="boxed">
      <div class="boxed-inner">
        <header>
        <h1 class="span3">Sin confirmar</h1>
        <div class="pull-right">
          <%= _('No recibiras notificaciones hasta que no hayas confirmado tu cuenta de email.') %> 
        </div>
        <div class="clearfix"></div>
        </header>
      </div>
    </div>
  <% end%>

  <div class="boxed">
    <div class="boxed-inner">
      <header>
        <h1 class="span3">Tu perfil</h1>
        <div class="pull-right">
          <%= _('Índice Cellove') %>: <%= current_user.cellove_percentage %>/100 <%= link_to "¡Mejora tu índice!", "/user/celestinos-of-mine#tab_mejora" %> - Perfil <%= current_user.progress_status %>% completado
        </div>
        <div class="clearfix"></div>
      </header>
      <div id="user-pictures">
        <div id="picture_gallery">
          <%= render partial: 'pictures/picture_gallery', locals: {user: @user} %>
        </div>
      </div>
    </div>
  </div>

  <hr class="thin">

  
  <%= form_for @user, :url => profile_path, :html => {:class => "form-horizontal"} do |f| %>
    <section class="boxed">
      <div class="boxed-inner">
        <fieldset>
          <header>
            <h1>Datos de acceso a Cellove</h1>
            <p>Modifica aquí tus datos de acceso a Cellove</p>
          </header>
          <div>
            <div class="span4 left">
              <div class="control-group">
                <%= f.label :email, 'Email', :class => 'control-label' %>
                <div class="controls">
                  <%= f.email_field :email, :class => 'span2' %>
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="control-group">
                <%= f.label :password, 'Contraseña', :class => 'control-label' %>
                <div class="controls">
                  <%= f.password_field :password, :class => 'span2' %>
                </div>
              </div>
            </div>
            
            <div class="center">
              <%= f.submit 'Modificar datos de acceso', :class => 'btn btn-info' %>
              <hr class="thin">
            </div>
          </div>
        </fieldset>
      </div>
    </section>
  <% end %>

  <hr class="thin">

  <%= form_for @user, :url => profile_path do |user| %>
    <section class="boxed">
      <div class="boxed-inner">
        <fieldset class="quien form-inline">
          <header>
            <h1>¿Quien eres?</h1>
          </header>
          <div class="span9">
            Me llamo 
            <%= user.text_field :name, :class => 'input-small' %>
            <%= user.text_field :surname, :class => 'input-small' %>
            pero quiero que mi nombre para mostrar sea 
            <%= user.text_field :screen_name, :class => 'input-small' %>
            <small>* Cellove recomienda utilizar tu nombre real para tener más posibilidades de contactos y Celestin@os. Deja este campo vacío para usar tu nombre real.</small>
          </div>
          <div class="center">
              <%= user.submit 'Modificar datos personales', :class => 'btn btn-info' %>
              <hr class="thin">
            </div>
        </fieldset>
      </div>
    </section>
  <% end %>

  <hr class="thin">

  <article class="profile-tabs">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#como" name="tab_como">¿Cómo eres?</a></li>
      <li><a href="#gustos" name="tab_gustos">Tus gustos</a></li>
      <li><a href="#buscas" name="tab_buscas">Qué buscas</a></li>
      <li><a href="#dicen" name="tab_dicen">Que dicen de ti</a></li>
    </ul>
     
    <div class="boxed">
      <div class="boxed-inner">
        <div class="tab-content">
          <div class="tab-pane active" id="como">
            <%= render 'como' %>
          </div>

          <div class="tab-pane" id="gustos">  
            <%= render 'gustos' %>
          </div>

          <div class="tab-pane" id="buscas">
            <%= render 'buscas' %>
          </div>

          <div class="tab-pane" id="dicen">
            <%= render 'dicen', user: current_user, show_footer: true %>
          </div>

        </div>
      </div>
    </div>
</section>

<script type="text/javascript">
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>

