                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" align="center">
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse!important">
                                                    <tbody><tr>
                                                        <td valign="top" style="padding-top:30px;padding-right:40px;padding-bottom:40px;padding-left:40px;border-top:solid 2px #f2f2f2;color:#373737;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:150%;text-align:left">
                                                            <%= _('Disfruta y dale alas al amor') %>
                                                            <br>
                                                            <%= _('El equipo de Cellove') %>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="background-color:#5cabe8"></td>
                            </tr>
                            <tr>
                                <td valign="top" align="center" colspan="2">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse!important;border-radius:5px;background-color:#2C2C2C">
                                        <tbody>
                                        <tr>
                                            <td valign="top" align="center" style="color:#FFFFFF;font-family:Helvetica,Arial,sans-serif;font-size:11px;line-height:125%;padding:10px;text-align:center">
                                                <%= _('Has recibido este correo de Cellove Social Network porque tu correo está registrado a Cellove.com. Si no deseas seguir recibiendo correos, modifica tu configuración de usuario dentro en Cellove.com.') %>
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" align="center">
                                                <table cellspacing="0" cellpadding="5" border="0" style="border-collapse:collapse!important">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" style="font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%;padding:10px">
                                                            <a target="_blank" style="color:#FFFFFF;text-decoration:none!important" href="http://www.cellove.com/terms-and-conditions">
                                                                <%= _('Terminos y condiciones') %>
                                                            </a>
                                                        </td>
                                                        <td valign="top" style="font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%;padding:10px">
                                                             <b><a target="_blank" style="color:#FFFFFF;text-decoration:none!important" href="http://www.cellove.com">
                                                                <%= _('Entra en Cellove.com') %>
                                                             </a></b>
                                                        </td>
                                                        <td valign="top" style="font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%;padding:10px">
                                                            <a target="_blank" style="color:#FFFFFF;text-decoration:none!important" href="http://www.cellove.com/user/settings/">
                                                                <%= _('Configuración de cuenta') %>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </center>
    </div>
</body>
</html>