<section>
  <header>
    <h1><%= _('Actividad reciente') %></h1>
  </header>
  <ul>
    <%
      number_of_visits = current_user.user_visits.unseen.count
      visit_str = ('<span>' + number_of_visits.to_s + '</span>').html_safe unless number_of_visits == 0
    %>
    <li><%= link_to (_('Me han visitado') + (!visit_str.nil? ? visit_str : '')).html_safe, user_hits_path %></li>
    <li><%= link_to (_('Les he gustado') + indicate(current_user.likers.unseen.count)).html_safe, user_likes_path %></li>
    <li><%= link_to (_('Mensajes') + indicate(current_user.mailbox.inbox.unread(current_user).to_a.count)).html_safe, conversations_path %></li>
    <li><%= link_to (_('Hacemos buena pareja') + indicate(current_user.rates.unseen.count)).html_safe, nice_couple_path %></li>
  </ul>
</section>
