<section id="user-sidebar">

  <% if params[:controller] == 'users' %>
    <% if params[:action] != 'index' %>
      <div class="profile_pic_wrapper">
        <div class="profile_pic_overlay">
          <button class="btn btn-info" type="submit">
            <i class="icon-wrench icon-white"></i>
            <%= _('Cambia tu foto de perfil') %>
          </button>
        </div>
        <div class="profile_pic">
          <%= profile_pic(current_user) %>
        </div>
      </div>
    <% end %>
  <% end %>
  
	<ul>
		<li>
      <a href="/user/cellove-index"><%= _('Ãndice Cellove') %> (<%= current_user.cellove_percentage %>/100)
        <div class="progress">
          <div class="bar" style="width:<%= current_user.cellove_percentage %>%"></div>
        </div>
      </a>
    </li>
		<li class="profile">
      <a href="<%= profile_path %>">
        Tu perfil (<%= current_user.progress_status %>% completo)
        <div class="progress">
          <div class="bar" style="width:<%= current_user.progress_status %>%"></div>
        </div>
      </a>
    </li>
		<li><%= link_to _('Te gustan') + '(' + User.people_i_like(current_user).length.to_s + ')', user_likes_of_mine_path %></li>
	</ul>
</section>
