<% if !current_user.has_role?(:matchmaker) %>
  <section>
    <header>
      <h1>Celestin@s</h1>
    </header>
    <ul>
      <li><%= link_to 'Mis celestin@s <em>(9)</em>', my_matchmakers_path %></li>
      <li><%= link_to 'Quiero ser celestin@', be_matchmaker_path %></li>
      <li class="highlight"><%= link_to '¡Mejora tu Índice Cellove!', '/user/celestinos-of-mine#tab_mejora' %></li>
    </ul>
  </section>
<% else %>
  <section>
    <ul>
      <li><%= link_to 'Conviértete en usuari@', matchmaker_become_user_path %></li>
      <li><%= link_to 'Quiero ser celestin@', be_matchmaker_path %></li>
    </ul>
  </section>
<% end %>
