<section id="user-sidebar">
  <div class="profile_pic_wrapper">
    <div class="profile_pic_overlay">
      <button class="btn btn-info" type="submit">
        <i class="icon-wrench icon-white"></i>
        <%= _('Cambia tu foto de perfil') %>
      </button>
    </div>
    <div class="profile_pic">
      <%= profile_pic(current_user) %>
    </div>
  </div>
	<header>
    <h1><%= current_user.full_name %></h1>
	</header>
	<ul>
		<li>
      <a href="/user/cellove-index"><%= _('Ãndice Cellove') %> (<%= current_user.cellove_percentage %>/100)
        <div class="progress">
          <div class="bar" style="width:<%= current_user.cellove_percentage %>%"></div>
        </div>
      </a>
    </li>
		<li class="profile">
      <a href="/user/profile">
        Tu perfil (63% completo)
        <div class="progress">
          <div class="bar" style="width:63%"></div>
        </div>
      </a>
    </li>
		<li><%= link_to _('Te gustan') + '(' + current_user.people_i_like.length.to_s + ')', user_likes_of_mine_path %></li>
	</ul>
</section>
