<section id="user-sidebar">
  <div class="profile_pic_wrapper">
    <div class="profile_pic_overlay">
      <%= link_to profile_path, class: 'btn btn-info' do %>
        <i class="icon-wrench icon-white"></i>
        <%= _('Cambia tu foto de perfil') %>
      <% end %>
    </div>
    <div class="profile_pic">
      <%= profile_pic(current_user, { width: 210, height: 210 }) %>
    </div>
  </div>
	<header>
    <h1><%= current_user.full_name %></h1>
	</header>
	<ul>
		<li>
      <a href="/user/cellove-index"><%= _('Ãndice Cellove') %> (<%= current_user.cellove_percentage %>/100)
        <div class="progress">
          <div class="bar" style="width:<%= current_user.cellove_percentage %>%"></div>
        </div>
      </a>
    </li>
		<li class="profile">
      <a href="<%= profile_path %>">
        Tu perfil (<%= current_user.progress_status %>% completo)
        <div class="progress">
          <div class="bar" style="width:<%= current_user.progress_status %>%"></div>
        </div>
      </a>
    </li>
		<li><%= link_to _('Te gustan') + '(' + User.people_i_like(current_user).length.to_s + ')', user_likes_of_mine_path %></li>
	</ul>
</section>
