<section>
  <header>
    <h1>Actividad reciente</h1>
  </header>
  <ul>
    <li><%= link_to 'Me han visitado <span>2</span>'.html_safe, '/user/hits' %></li>
    <li><%= link_to 'Les he gustado', '/user/likes' %></li>
    <li><%= link_to 'Hacemos buena pareja', '/user/nice-couple' %></li>
    <li><%= link_to _('Mensajes'), conversations_path %></li>
    <li><%= link_to _('Actividades'), conversations_path %></li>
  </ul>
</section>
