<%= div_for(conversation, :class =>"#{ 'unread ' if conversation.is_unread?(current_user) }msg-item") do %>
  <div class="clearfix">
    <%= user_link_with_picture(sender_or_recipient(conversation)) %>
    <div class="info">
      <p class="msg-data"><%= time_ago_in_words_or_date(conversation.updated_at) %> - <%= link_to conversation.last_sender.display_name, conversation.last_sender %> <%= conversation.last_sender.age %> <%= _('Años') %>, <%= conversation.last_sender.city %></p>

      <p class="msg"><%= link_to(truncate(conversation.last_message.body, :length => 55), conversation_path(conversation.id, :box => @box, :page => params[:page])) %></p>

    </div>
    <% unless @box.eql?'trash' %>
      <div class="reply">
        <%= link_to _('Eliminar'), "#delete-confirm-#{conversation.id.to_s}", 'data-toggle' => 'modal', :class => 'delete' %>
        <%= link_to _('Responder'), "#fast-reply-#{conversation.id.to_s}", 'data-toggle' => 'modal' unless @tab == 'deleted-messages' %>
      </div>
    <% end %>
  </div>

  <%= render 'activities/activity-small', conversation: conversation  %>

<% end %>
<hr>
<%= render partial: 'conversations/modal_delete', locals: { conversation: conversation } %>
<%= render partial: 'conversations/modal_reply_conversation', locals: { conversation: conversation } %>
