<!-- Modal -->
<div id="fast-reply-<%= user.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <%= user_detail(user) %>
  </div>
  <%= simple_form_for Message.new, url: messages_path do |f| %>
    <div class="modal-body">
      <div class="reply">
        <%= f.input_field :body %>
        <%= hidden_field_tag :recipient, user.id %>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to 'Proponer actividad', "#activity-proposal-#{user.id}", 'data-toggle' => 'modal', 'data-dismiss' => 'modal', 'aria-hidden' => 'true', :class => 'activity' %>
      <%= link_to 'Cerrar', '#', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' %>
      <%= f.submit _('Enviar'), class: 'btn btn-info' %>
    </div>
  <% end %>
</div>
<%= render partial: 'conversations/modal_activity', locals: { user: user }%>
