<!-- Modal -->
<div id="activity-proposal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Proponer una actividad</h3>
    <%= user_detail(sender_or_recipient(conversation)) %>
  </div>
  <%= simple_form_for Activity.new, url: conversation_activities_path(conversation) do |f| %>
    <div class="modal-body">

      <p>Selecciona una propuesta para compartir...</p>
      <br>
      <ul id="activity-types">
        <li class="coffee"><%= link_to _('Tomar un café'), '#' %></li>
        <li class="movie"><%= link_to _('Ir al cine / espectáculo'), '#' %></li>
        <li class="drink"><%= link_to _('Salir de copas'), '#' %></li>
        <li class="eat"><%= link_to _('Ir a comer'), '#' %></li>
        <li class="sport"><%= link_to _('Actividad deportiva'), '#' %></li>
        <li class="culture"><%= link_to _('Actividad cultural'), '#' %></li>
        <li class="heart"><%= link_to _('Conocerte de verdad'), '#' %></li>
      </ul>
      <%= f.input :activity_type %>
      <div class="reply">
        <%= f.input_field :body %>
      </div>
      <br>
      <div id="activity-date" class="form-inline">
        <div class="control-group">
          <label><%= _('¿Cuando?') %></label> <%= f.input_field :date, as: :string, placeholder: 'dd/mm/aaaa', class: 'input-small' %>
          <label class="checkbox">
            <input type="checkbox"> No quiero especificar cuando
          </label>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <%= link_to 'Cancelar', '#fast-reply', 'data-toggle' => 'modal', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' %>
      <%= f.submit _('Proponer'), class: 'btn btn-info' %>
    </div>
  <% end %>
</div>
