<section class="messages">
  <div class="boxed headless">
    <div class="boxed-inner">
      <header>
        <h1 class="span3">Mensajes y actividades</h1>
        <div class="pull-right">Estas usando el 35% de tu buzón. ¡<%= link_to "Ampliar mi capacidad", "/user/pay" %>!</div>
      </header>
    </div>
  </div>
    
  <hr class="thin">

  <div class="tabs">
    <ul class="nav nav-tabs" id="messages-tab">
      <li class="active"><a href="#inbox">Recibidos<%= " (#{@conversations_inbox.total_count})" if @conversations_inbox.total_count > 0 %></a></li>
      <li><a href="#sentbox">Enviados<%= " (#{@conversations_sentbox.total_count})" if @conversations_sentbox.total_count > 0 %></a></li>
        <li><a href="#trash">Eliminados<%= " (#{@conversations_trash.total_count})" if @conversations_trash.total_count > 0 %></a></li>
    </ul>
    <%= render '/shared/user/sorting' %>
  </div>
  
  <div class="boxed">
    <div class="boxed-inner">

      <div class="tab-content">

        <!-- begin tabs -->
        <div class="tab-pane<%= ' active' if @box.eql? 'inbox' %>" id="inbox">
          <%= render partial: 'conversations', locals: {conversations: @conversations_inbox} %>
        </div>

        <div class="tab-pane<%= ' active' if @box.eql? 'sentbox' %>" id="sentbox">
          <%= render partial: 'conversations', locals: {conversations: @conversations_sentbox} %>
        </div>
        
        <div class="tab-pane<%= ' active' if @box.eql? 'trash' %>" id="trash">
          <%= render partial: 'conversations', locals: {conversations: @conversations_trash} %>
        </div>
        <!-- end tabs -->
      </div>
    </div>
  </div>
  <script>
    $(document).on('click', '#sentbox .pagination a', function(e) {
      $.get(e.target.href, function(data) {
        $('#sentbox').html(data);
      });
      return false; 
    });
  </script>
