<section class="celestinos">
	<article class="boxed">
		<div class="boxed-inner">
			<h4>Mis Celestin@s: <span>Tu indice es del 40% y tienes 2 Celestin@s</span></h4>
			<div class="mejora"><%= link_to "Mejora tu indice!" , "celestinos-more" %></div>
			<div class="clearfix"></div>
			

			<div class="indice span8">
				<div class="span4">
					<% (1..12).each do %>
						<h5>Amable</h5>
						<input id="points" type="slider" name="" value="3"/>
					<% end %>
				</div>

				<div class="span4">
					<% (1..12).each do %>
						<h5>Amable</h5>
						<input id="points" type="slider" name="" value="3"/>
					<% end %>
				</div>
				<div class="clearfix"></div>
			</div>

		</div>
	</article>

	<hr class="thin">


	<ul class="nav nav-tabs" id="myTab">
	 	<li class="active"><a href="#confirmados">Confirmados</a></li>
	  <li><a href="#confirmar">Por confirmar</a></li>
	  <li><a href="#mejora">Mejora tu índice</a></li>
	</ul>
	
	<div class="boxed">
		<div class="boxed-inner">
			<div class="tab-content">

			  <!-- begin tabs -->
			  <div class="tab-pane active" id="confirmados">
			  	<h4>Mis Celestin@s: <span>Tu indice es del 40% y tienes 2 Celestin@s</span></h4>
					<div class="mejora"><%= link_to "Mejora tu indice!" , "celestinos-more" %></div>
					<div class="clearfix"></div>

					<% 3.times do %>
					<%= render '/shared/user/celes-item' %>
					<% end %>

					<%= render '/shared/user/pagination' %>

			  </div>

			  <div class="tab-pane" id="confirmar">
			  	<h4>Celestin@s por confirmar</h4>
					<div class="clearfix"></div>
					
			  	<% 3.times do %>
					<%= render '/shared/user/celes-item' %>

					<div class="choose">
						<p>¿Aceptar?</p>
						<i class="icon-ok"></i>
						<i class="icon-remove"></i>
					</div>

					<div class="clearfix"></div>
					<hr>
					<% end %>

			  	<%= render '/shared/user/pagination' %>
			  </div>
			  
			  <div class="tab-pane" id="mejora">
					<div class="clearfix">
						<div class="white-box">
							<h4>¿Quieres aumentar tu indice Cellove?</h4>
							<p>Recomiéndanos un nuevo usuari@, si se registra, ambos ganaréis puntos.</p>
							<form class="form-inline">
								<input type="text" class="input-medium" placeholder="Email">
								<button type="submit" class="btn">OK</button>
							</form>
						</div>
			
						<div class="white-box">
							<h4>¿Quieres proponer un Celestin@?</h4>
							<p>Propón un nuevo celesti@ para que te recomiende y gana más puntos.</p>
							<form class="form-inline">
								<input type="text" class="input-medium" placeholder="Email">
								<button type="submit" class="btn">OK</button>
							</form>
						</div>
					</div>
			  </div>
			  <!-- end tabs -->
			</div>

		</div>
	</div>

</section>


<script src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript">
	$('#myTab a').click(function (e) {
  	e.preventDefault();
  	$(this).tab('show');

	});
</script>













