<section class="user-home">

	<section id="related-list">
		<div class="boxed">
			<div class="boxed-inner">
				<h4>Afines cerca de ti...</h4>
				<ul class="clearfix">
						<li class="online"><a href="/user/user-profile/"><img src="/users/placeholder2.jpg" width="60" height ="60"></a></li>
					<% (1..7).each do %>
						<li><a href="/user/user-profile/"><img src="/users/placeholder2.jpg" width="60" height ="60"></a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</section>

	<hr class="thin">

	<section class="direct-search">
		<div class="boxed">
			<div class="boxed-inner">
				<h4>Búsqueda directa:</h4>
				<div class="searchform form-horizontal">
					<form>
						<fieldset class="span6">
							<div class="control-group sliders">
								<label>Edad <span></span></label>
								<div class="controls">
									<input id="years" type="slider" name="" value="18;80"/>
								</div>
							</div>
							<div class="control-group">
								<label>Población y código postal</label>
								<div class="controls">
									<input type="text" placeholder="Población" class="span3">
									<input type="text" placeholder="CP" class="span1">
								</div>
							</div>
							<div class="control-group sliders">
								<label>Distancia <span></span></label>
								<div class="controls">
									<input id="kms" type="slider" name="" value="20"/>
								</div>
							</div>
							<div class="control-group">
								<label>Palabra clave</label>
								<div class="controls">
									<input type="text">
								</div>
							</div>
						</fieldset>

						<fieldset class="form-options">
							<label class="checkbox">
	      						<input type="checkbox">Con foto
	    					</label>
	    					<label class="checkbox">
	      						<input type="checkbox">Online
	    					</label>
	    					<button type="submit" class="btn btn-info">Buscar</button>
						</fieldset>
					</form>

				</div>
			</div>
		</div>
	</section>

	<hr class="thin">

	<section id="new-users" class="home-users">
		<div class="clearfix list-header">
			<h4 class="pull-left">Ususarios nuevos en tu zona</h4>
			<div class="pull-right">En un radio de 50 km <%= link_to "Cambiar radio", "#" %> | <%= link_to "Ver más", "#" %></div>
		</div>
		<ul class="user-list clearfix">
			<% (1..5).each do %>
		  		<li><%= render '/shared/user/user-card' %></li>
			<% end %>
		</ul>
	</section>

	<section id="best-rated" class="home-users">
		<div class="clearfix list-header">
			<h4 class="pull-left">Usuari@s con mejor puntuación</h4>
			<div class="pull-right">En un radio de 50 km <%= link_to "Cambiar radio", "#" %> | <%= link_to "Ver más", "#" %></div>
		</div>
		<ul class="user-list clearfix">
			<% (1..5).each do %>
		  		<li><%= render '/shared/user/user-card' %></li>
			<% end %>
		</ul>
	</section>

	<section id="near-most-visited" class="home-users">
		<div class="clearfix list-header">
			<h4 class="pull-left">Usuari@s que te pueden gustar</h4>
			<div class="pull-right">En un radio de 50 km <%= link_to "Cambiar radio", "#" %> | <%= link_to "Ver más", "#" %></div>
		</div>
		<ul class="user-list clearfix">
			<% (1..5).each do %>
		  		<li><%= render '/shared/user/user-card' %></li>
			<% end %>
		</ul>
	</section>

	<section id="last-messages">
		<h4>Últimas conversaciones</h4>

		<% (1..5).each do %>
			<%= render '/shared/user/msg-item' %>
			<hr>
		<% end %>

		<div class="button">
			<a href="/user/messages" class="btn btn-large btn-info">Ver todos los mensajes</a>
		</div>

	</section>
</section>
