<section class="home">

	<article class="related-list">
		<div class="row">
			<h4 class="span2">Afines cerca de ti...</h4>
			<ul class="span7">
				<% (1..7).each do %>
					<li><a href="#"><img src="/users/placeholder2.jpg" width="60" height ="60"></a></li>
				<% end %>
			</ul>
		</div>
	</article>
	<hr>

	<article class="direct-search">
		<div class="row">
			<h4 class="span1">Búsqueda directa:</h4>
			<form class="span8 form-horizontal">
				<div class="row">
					<div class="span6">
						<div class="control-group">
							<label class="control-label">Edad</label>
							<div class="controls">
								<input id="years" type="slider" name="" value="18;80"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Población y código postal</label>
							<div class="controls controls-row">
								<input type="text" class="span2" placeholder="Población">
								<input type="text" class="span1" placeholder="CP">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Distancia</label>
							<div class="controls">
								<input id="kms" type="slider" name="" value="20"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Palabra clave</span></label>
							<div class="controls">
								<input type="text">
							</div>
						</div>
					</div>
					<div class="span2">
						<label class="checkbox">
      						<input type="checkbox"> Con foto
    					</label>
    					<label class="checkbox">
      						<input type="checkbox"> Online
    					</label>
					</div>
				
					<button type="submit" class="btn pull-center">Buscar</button>
				</div>
			<form>
		</div>
	</article>
	<hr>

	<article>
		<h4 class="pull-left">Ususarios nuevos en tu zona</h4>
		<div class="pull-right">
			En ratio de 50 km <%= link_to "Cambiar ratio", "#" %> | <%= link_to "Ver más", "#" %>
		</div>
		<div class="clearfix"></div>
		<ul class="user-list clearfix">
			<% (1..4).each do %>
		  		<li><%= render '/shared/user/user-card' %></li>
			<% end %>
		</ul>
	</article>
	<hr>

	<article>
		<h4 class="pull-left">Usuari@s con mejor puntuación</h4>
		<div class="pull-right">
			En ratio de 50 km <%= link_to "Cambiar ratio", "#" %> | <%= link_to "Ver más", "#" %>
		</div>
		<div class="clearfix"></div>
		<ul class="user-list clearfix">
			<% (1..4).each do %>
		  		<li><%= render '/shared/user/user-card' %></li>
			<% end %>
		</ul>
	</article>
	<hr>

	<article class="last-chats">
		<h4>Últimas conversaciones</h4>
		<% (1..4).each do %>
			<%= render '/shared/user/msg-item' %>
		<% end %>
		<!-- item with proposal -->
		<%= render '/shared/user/msg-item-proposal' %>

		<div class="button">
			<a href="#" class="btn btn-large ">Ver más</a>
		</div>

	</article>
</section>

<script src="/javascripts/jquery.slider.min.js"></script>
<script type="text/javascript" charset="utf-8">
	jQuery("#years").slider({ from: 18, to: 80, step: 1, smooth: true, round: 0, dimension: "&nbsp;$", skin: "plastic", dimension: '&nbsp;años' });

 	jQuery("#kms").slider({ from: 0, to: 200, step: 20, round: 1, skin: "plastic", dimension: '&nbsp;kms' });
</script>

