<section class="messages">
	<div class="boxed headless">
		<div class="boxed-inner">
			<header>
				<h1 class="span3">Mensajes y actividades</h1>
				<div class="pull-right">Estas usando el 35% de tu buzón. ¡<%= link_to "Ampliar mi capacidad", "/user/pay" %>!</div>
			</header>
		</div>
	</div>
		
	<hr class="thin">

	<div class="tabs">
		<ul class="nav nav-tabs">
  		  <li><a href="/user/messages/#tab_recibidos">Recibidos (2)</a></li>
		  <li><a href="/user/messages/#tab_enviados">Enviados</a></li>
		  <li><a href="/user/messages/#eliminados">Eliminados</a></li>
		</ul>
		<%= render '/shared/user/sorting' %>
	</div>
	
	<div class="boxed">
		<div class="boxed-inner">

			<div class="msg-item">
				<div class="clearfix">
					<div class="pic"><a href="/user/user-profile"><img src="/users/placeholder2.jpg" width="60" height ="60"></a></div>
					<div class="info">
							<p class="msg-data"><%= link_to "Judit", "#" %> 21 años, Barcelona</p>
							<p class="msg-date">8/12/2012 - 22:36h</p>
							<div class="msg">
								<p>Hola, tu perfil me parece super interesante.</p>
								<p>He pensado que podríamos quedar y ver el atardecer en algún lago con cisnes. Me gustan mucho los cisnes, ¿y a ti?</p>
							</div>
					</div>
					<div class="conversation">
							<div class="msg-reply">
								<div class="pic">
									<a href="/user/user-profile"><img src="/users/placeholder-user.jpg" width="60" height ="60"></a>
								</div>
								<p class="msg-date">8/12/2012 - 22:36h</p>
								<p>Hola! Me parece una idea excelente. Me encantan los cisnes, de hecho desde que soy pequeño los colecciono. Creo que fue preciamente por los cisnes por lo que me hice taxidermista.</p>
							</div>

							<div class="msg-origin">
								<div class="pic">
									<a href="/user/user-profile"><img src="/users/placeholder2.jpg" width="60" height ="60"></a>
								</div>
								<p class="msg-date">8/12/2012 - 22:36h</p>
								<p>¡Taxidermista! Qué profesión tan interesante. Mi gato murió la semana pasada y no me atreví a enterrarlo. Lo tengo en el congelador. ¿Podrías disecarlo por mí?</p>
							</div>

							<% if rand(1...50) > 25 %>

							<div class="activity">
								<i class="type">
									Tomar una cerveza
								</i>
								<p><strong>Judith</strong> the ha propuesto...</p>
								<p>Bueno qué, ¿nos vamos de cañas picarón?</p>
								<div class="actions right">
									<a class="btn btn-danger" href="#proposal-reject" data-toggle="modal"><i class="icon icon-remove icon-white"></i> Rechazar</a>
									<a class="btn btn-success" href="#proposal-accept" data-toggle="modal"><i class="icon icon-ok icon-white"></i> Aceptar</a>
								</div>
							</div>

							<% end %>

							<div class="msg-reply-dialog clearfix">

								<div class="pic">
									<a href="/user/user-profile"><img src="/users/placeholder-user.jpg" width="60" height ="60"></a>
								</div>

								<div class="msg-actions">
									<a href="#" class="action-reply">Responder</a> - <%= link_to 'Proponer actividad', '#activity-proposal', 'data-toggle' => 'modal' %></a> - <%= link_to 'Bloquear', '#user-block', 'data-toggle' => 'modal' %>
									<%= link_to 'Eliminar hilo', '#delete-confirm', 'data-toggle' => 'modal', :class => 'pull-right' %>
								</div>

								<div class="reply-form">									
									<textarea>Por supuesto. Yo por ti disecaba hasta la luna, nena.</textarea>
									<button class="btn btn-info pull-right">Responder</button>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>