<section class="messages">
	<div class="boxed headless">
		<div class="boxed-inner">
			<header>
				<h1 class="span3">Mensajes y actividades</h1>
				<div class="pull-right">Estas usando el 35% de tu buzón. ¡<%= link_to "Amplia", "/user/pay" %> la capacidad!</div>
			</header>
		</div>
	</div>
		
	<hr class="thin">


		<div class="clearfix">
		<ul class="nav nav-tabs" id="myTab">
  		<li class="active"><a href="#recibidos">Recibidos (2)</a></li>
		  <li><a href="#enviados">Enviados</a></li>
		  <li><a href="#eliminados">Eliminados</a></li>
		</ul>
	
		
		<div class="tab-content">
			
		  <div class="tab-pane active" id="recibidos">
		  	<% 3.times do  %>
		  		<%= render '/shared/user/msg-item-proposal' %>
		  		<hr>
		  	<% end %>
		  	<% 4.times do  %>
		  		<%= render '/shared/user/msg-item' %>
		  		<hr>
		  	<% end %>
		  	<%= render '/shared/user/pagination' %>
		  </div>

		  <div class="tab-pane" id="enviados">
		  	<% 6.times do %>
		  		<%= render '/shared/user/msg-archive' %>
					<hr>
		  	<% end %>
		  	<%= render '/shared/user/pagination' %>
		  </div>
		  
		  <div class="tab-pane" id="eliminados">
		  	<% 6.times do %>
		  		<%= render '/shared/user/msg-archive' %>
					<hr>
		  	<% end %>
		  	<%= render '/shared/user/pagination' %>
		  </div>

			
		</div>

	</div>
</section>

<script src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript">
	$('#myTab a').click(function (e) {
  	e.preventDefault();
  	$(this).tab('show');
	})
</script>
