<section class="messages">
	<div class="boxed headless">
		<div class="boxed-inner">
			<header>
				<h1 class="span3">Mensajes y actividades</h1>
				<div class="pull-right">Estas usando el 35% de tu buzón. ¡<%= link_to "Amplia", "/user/pay" %> la capacidad!</div>
			</header>
		</div>
	</div>
		
	<hr class="thin">

	<div class="tabs">
		<ul class="nav nav-tabs">
  		  <li><a href="/user/messages/#tab_recibidos">Recibidos (2)</a></li>
		  <li><a href="/user/messages/#tab_enviados">Enviados</a></li>
		  <li><a href="/user/messages/#eliminados">Eliminados</a></li>
		</ul>
		<%= render '/shared/user/sorting' %>
	</div>
	
	<div class="boxed">
		<div class="boxed-inner">

			<div class="msg-item">
				<div class="clearfix">
					<div class="pic"><a href="/user/user-profile"><img src="/users/placeholder2.jpg" width="60" height ="60"></a></div>
					<div class="info">
							<p class="msg-data"><%= link_to "Judit", "#" %> 21 años, Barcelona</p>
							<p class="msg-date">8/12/2012 - 22:36h</p>
							<p class="msg"><%= link_to 'Hola Jamelga, estas tremenda bla bla bla bla', '/user/message-show' %></p>
					</div>
				</div>
				<% if rand(1...50) > 25 %>
					<%= render '/shared/user/msg-item-proposal' %>
				<% end %>
			</div>


		</div>
	</div>