<section class="messages">
	<div class="boxed headless">
		<div class="boxed-inner">
			<header>
				<h1 class="span3">Mensajes y actividades</h1>
				<div class="pull-right">Estas usando el 35% de tu buzón. ¡<%= link_to "Amplia", "/user/pay" %> la capacidad!</div>
			</header>
		</div>
	</div>
		
	<hr class="thin">

			<ul class="nav nav-tabs" id="myTab">
	  		  <li class="active"><a href="#recibidos">Recibidos (2)</a></li>
			  <li><a href="#enviados">Enviados</a></li>
			  <li><a href="#eliminados">Eliminados</a></li>
			</ul>
	
	<div class="boxed">
		<div class="boxed-inner">
			<div class="tab-content">

			  <!-- begin tabs -->
			  <div class="tab-pane active" id="recibidos">
			  	<% 10.times do  %>
			  		<%= render '/shared/user/msg-item' %>
			  	<% end %>
			  	<%= render '/shared/user/pagination' %>
			  </div>

			  <div class="tab-pane" id="enviados">
			  	<% 6.times do %>
			  		<%= render '/shared/user/msg-item' %>
					<hr>
			  	<% end %>
			  	<%= render '/shared/user/pagination' %>
			  </div>
			  
			  <div class="tab-pane" id="eliminados">
			  	<% 6.times do %>
			  		<%= render '/shared/user/msg-item' %>
					<hr>
			  	<% end %>
			  	<%= render '/shared/user/pagination' %>
			  </div>
			  <!-- end tabs -->
			</div>

		</div>
	</div>

<script type="text/javascript">
	$('#myTab a').click(function (e) {
  	e.preventDefault();
  	$(this).tab('show');
	})
</script>
