<section class="user-profile">

	<article class="boxed">
		<div class="boxed-inner">
			<div class="photo">
				<div class="pull-left">
					<img src="/users/placeholder-user.jpg" width="210">
				</div>
				<div class="pull-left description">
					<h5>Maria González | <span>Sabadell, Barcelona</span></h5>
					<p class="small">Chica - 24 años - 1'72 altura</p>
					<p class="small">Maria es soltera y sin hijos. Busca a un chico de entre 16 y 20 años para hacer amigos y que esté cerca de Sabadell, Barcelona</p>
					<p>Tengo 36 años y vivo en Barcelona. Me gusta hacer monólogos, pero lodicen mis amigos. Me fustra poque es que hablo mucho, muy rápido y muy seguido.</p>
					<p><%= link_to "Leer más", "" %></p>
				</div>
			</div>
			
		</div>
	</article>

	<%= render '/shared/user/profile-action-links' %>

	<article class="profile-tabs">
		<ul class="nav nav-tabs" id="myTab">
  		<li class="active"><a href="#como">¿Cómo es?</a></li>
		  <li><a href="#gustos">Sus gustos</a></li>
		  <li><a href="#busca">Qué busca</a></li>
		  <li><a href="#dicen">Qué dicen de ella</a></li>
		  <li class="last"><a href="#notas">Tus notas</a></li>
		</ul>

		<div class="boxed">
			<div class="boxed-inner">
				<div class="tab-content">

		  		<div class="tab-pane active" id="como">
		  			
						<p>Tengo 36 años y vivo en Barcelona. Me gusta hacer monólogos, pero lodicen mis amigos. Me fustra poque es que hablo mucho, muy rápido y muy seguido.</p>
						<p class="small">Me considero normal y de estilo clásico. No tengo hijos y no me gustan los niños. Fumo y soy antitabaco.</p>
						<p class="small">Mido 1'75m y peso 65kg. Tengo los ojos de color marrón y mi complexión es fuerte.</p>
						<p class="small">Mi nivel de estudios es diplomado y hablo castellano fluido. Trabajo en el sector salud y mi nivel de ingresos es inimaginable.</p>
						<p class="small">Soy cristiana y me lo tomo muy en serio.</p>

		  		</div>

		  		<div class="tab-pane" id="gustos">
		  			<p>Me gusta comer estrictamente de todo. Bebo alcohol raramente y no tomo drogas.</p>
						<p><b>Sus aficiones...</b> e considero normal y de estilo clásico. No tengo hijos y no me gustan los niños. Fumo y soy antitabaco.</p>
						<p><b>Sus aficiones...</b> e considero normal y de estilo clásico. No tengo hijos y no me gustan los niños. Fumo y soy antitabaco.</p>
						<p><b>Sus aficiones...</b> e considero normal y de estilo clásico. No tengo hijos y no me gustan los niños. Fumo y soy antitabaco.</p>
						<p><b>Sus aficiones...</b> e considero normal y de estilo clásico. No tengo hijos y no me gustan los niños. Fumo y soy antitabaco.</p>
		  		</div>

		  		<div class="tab-pane" id="busca">
		  			<p>A alguien atractivo, de estilo bohemio que sea más alto que yo y que pese igual que yo.</p>
		  			<p>Si puede ser, con los ojos de color marrón y de complexión fuerte. Me gustaría que tuviera hijos y que deseara tener más.</p>
		  		</div>

		  		<div class="tab-pane" id="dicen">
		  			<% 3.times do %>
						<%= render '/shared/user/celes-item' %>
						<hr>
						<% end %>

						<%= render '/shared/user/pagination' %>
		  		</div>

		  		<div class="tab-pane" id="notas">
		  			<h4>Tus notas de María González <span>(tranquilo, ella no las verá)</span></h4>
		  			<hr>
		  			<% 3.times do %>
		  				<div class="nota-item">
		  					<div class="erase">X</div>
		  					<div class="info">05/11/2013 - 22:36h</div>
		  					<p>Es buena personam generoso, atractivo, simpáticoy además le gusta mucho recoger animalicos atropellados en la autopista. Y lo hace sin animo de lucro porque luego no vende sus peles. Les da un entierro digno.</p>	
		  				</div>
		  				<hr>
		  			<% end %>

		  			<div class="new-nota">
		  				<form>
		  					<textarea rows="4" class="span8" placeholder="Nueva nota"></textarea>
		  					<div class="pull-right controls">
		  						<%= link_to "Cancelar", "" %> <button type="submit" class="btn">Añadir nota</button>
		  					</div>
		  				</form>
		  				<div class="clearfix"></div>
		  			</div>
		  			
		  			<%= render '/shared/user/pagination' %>
		  
		  		</div>
				</div>
			</div>
		</div>
	</article>

	<%= render '/shared/user/profile-action-links' %>

</section>

<script type="text/javascript">
	$('#myTab a').click(function (e) {
  		e.preventDefault();
  		$(this).tab('show');
	})
</script>
