<% @page = "blog-home" %>
<% @title = "Blog Home" %>
<% @sidebar = true %>
<% @isblog = true %>

<div class="row">
	<%= render '/shared/public/blog-list-item' %>
	<%= render '/shared/public/blog-list-item' %>
	<%= render '/shared/public/blog-list-item' %>
	<%= render '/shared/public/blog-list-item' %>
	<%= render '/shared/public/blog-list-item' %>
	<%= render '/shared/public/blog-list-item' %>
</div>