<% 
  num = recommendation.relationship
  heart_class = ''
%>

<%
  if num == 1 
    heart_class = 'ex'
    relationship = 'Ex pareja'
  end

  if num == 2 
    heart_class = 'special'
    relationship = 'Amigo Especial'
  end

  if num == 3 
    heart_class = 'friend'
    relationship = 'Amigo'
  end

  if num == 4 
    heart_class = 'family'
    relationship = 'Familiar'
  end
%>

<article class="celes-item heart-<%= heart_class %>">
  <div class="clearfix">
    <%= image_tag "avatar1.png" %>
    <header>
        <%= link_to recommendation.user.name, user_path(recommendation.user) %> <span><i class="heart"></i><%= relationship %></span> <%= link_to "Eliminar celestin@", "#delete-celestino", 'data-toggle' => 'modal' unless @foregin_user.present? %><span class="date"><%= recommendation.updated_at %></span>
    </header>

    <p><%= recommendation.description %></p>
  </div>

  <% if (@type == 'por-confirmar') %>
  <div class="choose">
    <a href="#" class="btn btn-success"><i class="icon-ok icon-white"></i> Aceptar</a>
    <a hreg="#" class="btn btn-danger"><i class="icon-remove icon-white"></i> Rechazar</a>
  </div>  
  <% end %>
</article>
