<% 
  num = recommendation.relationship
  heart_class = ''
%>

<%
  if num == 1 
    heart_class = 'ex'
    relationship = 'Ex pareja'
  end

  if num == 2 
    heart_class = 'special'
    relationship = 'Amigo Especial'
  end

  if num == 3 
    heart_class = 'friend'
    relationship = 'Amigo'
  end

  if num == 4 
    heart_class = 'family'
    relationship = 'Familiar'
  end
%>

<article class="celes-item heart-<%= heart_class %>">
  <div class="clearfix">
    <%= image_tag "avatar1.png" %>
    <header>
      <% if is_creator %>
        <%= link_to recommendation.user.name, user_path(recommendation.user) %>
      <% else %>
        <%= link_to recommendation.creator.name, user_path(recommendation.creator) %>
      <% end %>
      <span><i class="heart"></i><%= relationship %></span> <%= link_to "Eliminar celestin@", recommendation_deny_path(recommendation.id), 'data-toggle' => 'modal' unless recommendation.user_id != current_user.id %><span class="date"><%= recommendation.updated_at %></span>
    </header>

    <p><%= recommendation.description %></p>
  </div>

  <% if (@type == 'por-confirmar') %>
  <div class="choose">
    <%= link_to '<i class="icon-ok icon-white"></i> Aceptar'.html_safe, recommendation_accept_path(recommendation.id), class: 'btn btn-success', :method => :post %>
    <%= link_to '<i class="icon-remove icon-white"></i> Rechazar'.html_safe, recommendation_deny_path(recommendation.id), class: 'btn btn-danger', :method => :post %>
  </div>  
  <% end %>
</article>
