<div id="header-actions">

  <div class="avatar">
    <%= link_to image_tag((current_user.has_role? :premium_user) ? 'vip-sq.png' : 'vip-price-sq.png'), pay_path %>
  </div>
	<div class="avatar">
  	<%= link_to(profile_pic(current_user, options = {width: 60, height: 60}), profile_path) %>
  </div>

	<div class="user-actions">
		<p>
			<%= link_to _('Editar mi perfil'), profile_path %> |
    	<%= link_to _('Desconectar'), destroy_user_session_path, method: :delete %>
		</p>
		<p>
			<% if current_user.has_role? :matchmaker %>
      	<%= link_to _('Conviértete en usuari@'), matchmaker_become_user_path %> |
    	<% else %>
      	<%= link_to _('Cambiar configuración'), '/user/settings/' %><%= ' (' + _('Oculto') + ')' if current_user.general_settings.try(:anonymous_browsing) %>
    	<% end %>
		</p>
		<p>
			<%= current_user.name ? current_user.name + ' ' + current_user.surname : "" %>
		</p>
  </div>
	<div class="clearfix"></div>

</div>
