<div id="header-actions">

	<div id="header-preface">
    <div id="user-count">
      <%= _('Somos %{count} usuari@s. ¡Gracias por vuestra confianza!') % {count: number_with_delimiter(User.count + 60000)} %>
    </div>

		<div id="color-switcher" class="header-switcher">
			<ul>
				<li class="picker"><a href="#"><%= _('Ponle color') %> <i></i></a></li>
				<% [1,3,5].each_with_index do |i| %>
          <span class="leaf">
            <a href="#" class="skin-change" data-skin="<%= i %>">
              <%= image_tag("skin#{i}-thumb.jpg") %>
            </a>
          </span>
				<% end %>
			</ul>
		</div>

		<div id="lang-switcher" class="header-switcher">
			<ul>
				<li class="picker"><a href="#"><%= _('Idioma') %> <i></i></a></li>
				<li class="leaf"><%= link_to 'Español', root_path(locale: :es) %><i></i></li>
				<li class="leaf"><%= link_to 'Català', root_path(locale: :ca) %></li>
				<li class="leaf"><%= link_to 'English', root_path(locale: :en) %></li>
			</ul>
		</div>

	</div>

	<div class="avatar">
  	<%= link_to(profile_pic(current_user, options = {width: 60, height: 60}), profile_path) %>
  </div>
	
	<div class="user-actions">
		<p>
			<%= link_to _('Editar mi perfil'), profile_path %> |
    	<%= link_to _('Desconectar'), destroy_user_session_path, method: :delete %>
		</p>
		<p>
			<% if current_user.has_role? :matchmaker %>
      	<%= link_to _('Conviértete en usuari@'), matchmaker_become_user_path %> |
    	<% else %>
      	<%= link_to _('Cambiar configuración'), '/user/settings/' %>
    	<% end %>
		</p>
		<p>
			<%= current_user.name + ' ' + current_user.surname %>
		</p>
  </div>
	<div class="clearfix"></div>  

</div>
