<div id="header-actions">

	<div id="header-preface">
    <div id="user-options">
      <% if current_user.has_role? :matchmaker %>
        <%= link_to _('Conviértete en usuari@'), matchmaker_become_user_path %> |
      <% else %>
        <%= link_to _('Cambiar configuración'), '/user/settings/' %> | 
      <% end %>
      <%= link_to _('Editar mi perfil'), profile_path %> |
      <%= link_to _('Desconectar'), destroy_user_session_path, method: :delete %>
    </div>

		<div id="color-switcher" class="header-switcher">
			<ul>
				<li class="picker"><a href="#">Ponle color <i></i></a></li>
				<% (1..5).each_with_index do |i| %>
          <li class="leaf">
            <a href="#">
              <%= image_tag("skin#{i}-thumb.jpg") %>
              Fondo <%= i %>
            </a>
          </li>
				<% end %>
			</ul>
		</div>

		<div id="lang-switcher" class="header-switcher">
			<ul>
				<li class="picker"><a href="#">Castellano<i></i></a></li>
				<li class="leaf"><a href="#">Català</a></li>
			</ul>
		</div>

	</div>

	<p class="user-count">Somos 60.000 usuari@s. ¡Gracias por vuesra confianza!</p>
  <p class="user-info">Bienvenid@, <%= current_user.name %> | <strong>Estás disponible para chatear</strong></p>
</div>
