<nav role="navigation">
  <ul class="clearfix">
    <li><%= link_to _('Visitas'), user_hits_path %><span>2</span></li>
    <li><%= link_to _('¡Les he gustado!'), user_likes_path %></li>
    <li><%= link_to _('Mensajes'), conversations_path %><span><%= current_user.mailbox.conversations.count %></span></li>
    <li><%= link_to _('Actividades'), conversations_path %><span><%= current_user.mailbox.conversations.count %></span></li>
    <li><%= link_to 'Búsquedas', user_searches_path(current_user) %></li>
    <li><%= link_to 'Chat','/user/chat' %><span>10</span></li>
  </ul>
</nav>
