<nav role="navigation">
  <ul class="clearfix">
    <li><%= link_to 'Visitas','/user/hits' %><span>2</span></li>
    <li><%= link_to '¡Les he gustado!','/user/likes' %></li>
    <li><%= link_to 'Mensajes', conversations_path %><span><%= current_user.mailbox.conversations.count %></span></li>
    <li><%= link_to 'Actividades', conversations_path %><span><%= current_user.mailbox.conversations.count %></span></li>
    <li><%= link_to 'Búsquedas','/user/search' %></li>
    <li><%= link_to 'Chat','/user/chat' %><span>10</span></li>
  </ul>
</nav>
