<!-- Modal -->
<div id="user-block-<%= user.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div id='html5-lightbox-cellove'>
    <span class='heart'>&#9829;</span> <%= _('Bloquear Usuario') %><span class='right'></span>
  </div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 style="margin-bottom:5px"><%= _('¿Deseas bloquear a este usuario?') %></h3>

    <%= user_detail(user) %>
  </div>
  <div class="modal-body" style="padding-top:0;padding-bottom:0">
    <p><%= _('Puedes elegir una o las dos opciones. Si cambias de opinión, podrás desbloquear a %{name}, desde tu apartado de configuración.') % {name: user.name} %></p>

    <% user_block = UserBlock.find_by_user_id(current_user) || UserBlock.new({ user_id: current_user.id }) %>
    <% user_hide = UserHide.find_by_user_id(current_user) || UserHide.new({ user_id: current_user.id }) %>

    <%= form_for(current_user, url: user_block_hide_path(user), :method => :post) do |f| %>
      <fieldset style="padding:0;margin-top:15px">
        <%= fields_for user_hide do |f1| %>
          <%= f1.check_box :hidden_user, checked: current_user.hidden?(user), id: 'user[hidden_user_'+user.id.to_s+']' %>
          <%= f1.label :hidden_user, "No quiero verla más", class: 'checkbox inline checkbox_bloquejar', for: 'user[hidden_user_'+user.id.to_s+']' %> No quiero verla más
        <% end %><br><br>
        <%= fields_for user_block do |f2| %>
          <%= f2.check_box :blocked_user, checked: current_user.blocked?(user), id: 'user[blocked_user_'+user.id.to_s+']' %>
          <%= f2.label :blocked_user, _('No quiero que me vea más'), class: 'checkbox inline checkbox_bloquejar', for: 'user[blocked_user_'+user.id.to_s+']' %> No quiero que me vea más
        <% end %>
      </fieldset>
  </div>
  <div class="modal-footer">
    <%= link_to _('Cancelar'), '#', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' %>
    <%= f.submit _('BLOQUEAR'), class: 'btn btn-danger' %>
  </div>
  <% end %>
</div>
