<article class="action-links">
	<ul class="clearfix">
   	<li class="message"><%= link_to '<i></i>Enviar mensaje'.html_safe, "#fast-reply-#{@user.id}", 'data-toggle' => 'modal' %></li>
    <li class="chat"><%= link_to '<i></i> Chatear'.html_safe, '#', onclick: "jqac.arrowchat.chatWith('#{@user.id}'); return false;" %></li>
    <% if current_user.likes?(@user) %>
      <li class="like user_dislike"><%= link_to '<i class="disabled"></i> ¡No me gusta!'.html_safe, user_unlike_path(@user), :method => :post, :remote => true, :class => "ajax_dislike_trigger" %></li>
      <li class="like hidden user_like"><%= link_to '<i></i> ¡Me gusta!'.html_safe, user_like_path(@user), :method => :post, :remote => true, :class => "ajax_like_trigger" %></li>
    <% else %>
      <li class="like user_like"><%= link_to '<i></i> ¡Me gusta!'.html_safe, user_like_path(@user), :method => :post, :remote => true, :class => "ajax_like_trigger" %></li>
      <li class="like hidden user_dislike"><%= link_to '<i class="disabled"></i> ¡No me gusta!'.html_safe, user_unlike_path(@user), :method => :post, :remote => true, :class => "ajax_dislike_trigger" %></li>
    <% end %>
    <% block_modal_id = '#user-block-' + @user.id.to_s %>
    <% is_blocked = !current_user.user_blocks.where("blocked_user_id = ?", @user.id).first.nil? %>
    <% is_hidden = !current_user.user_hides.where("hidden_user_id = ?", @user.id).first.nil? %>
    <li class="block">
      <%= link_to ('<i class=' + ((is_blocked || is_hidden) ? "disabled" : "") + '></i>Bloquear').html_safe, block_modal_id, "data-toggle" => "modal" %>
    </li>
	</ul>
</article>

<%= render partial: 'shared/user/modal_user-block', locals: { user: @user, is_blocked: is_blocked, is_hidden: is_hidden } %>
<%= render partial: 'shared/modal_new_message', locals: { user: @user } %>
