<ul class="sort" role="menu" aria-labelledby="dropdownMenu">
  <li>Ordenar por...</li>
  <li><%= sort_link(@search, :updated_at, "Online primero", default_order: :desc) %></li>
  <li><%= sort_link(@search, :name, "Prop. Actividad primero") %></li>
  <li><%= sort_link(@search, :created_at, "M치s antiguos primero", default_order: :desc) %></li>
  <li><%= sort_link(@search, :created_at, "M치s recientes primero") %></li>
  <li><%= sort_link(@search, :distance, "M치s cercanos primero", { :distance => params[:distance] }) %></li>
  <li><%= sort_link(@search, :recent_interaction, "Interactuaci칩n reciente") %></li>
</ul>
