<form class="sort">
	<select>
		<option>Ordenar por...</option>
		<option><%= sort_link(@search, :updated_at, "Online primero", default_order: :desc) %></option>
    <option><%= sort_link(@search, :name, "Prop. Actividad primero") %></option>
		<option><%= sort_link(@search, :created_at, "M치s recientes primero") %></option>
		<option><%= sort_link(@search, :created_at, "M치s antiguos primero", default_order: :desc) %></option>
		<option></option>
		<option></option>
	</select>
</form>

<div class="sort">
  <%= sort_link(@search, :closest_users_first, "M치s cercanos primero") %>
  <%= sort_link(@search, :recent_interaction, "Interactuaci칩n reciente") %>
</div>
