<article class="user-card online">
  <ul class="pics">
    <li><%= link_to user.profile_picture, user_path(user) %></li>
    <li><%= link_to user.profile_picture, user_path(user) %></li>
  </ul>
  <header>
    <% if @timestamp == true %>
      <small>#TODO: MAKE DYNAMIC -- Hace 2 horas</small>
    <% end %>
    <h1><%= link_to user.full_name, user_path(user) %><br><span><%= user.town %></span><br><%= user.age %> años</h1>
  </header>
  <ul class="actions clearfix">
    <li class="message"><%= link_to 'Send Message', '#fast-reply', 'data-toggle' => 'modal' %></li>
    <li class="chat"><%= link_to 'Chat', '/user/chat/' %></li>
    <li class="like"><%= link_to 'Like', user_like_path(user), :method => :post %></li>
    <li class="block"><%= link_to 'Block', user_block_path(user), 'data-toggle' => 'modal', :method => :post %></li>
  </ul>

  <% if @interactions == true %>
    <div class="interactions">
      <div class="punctuations">
        <strong>Tu dices:</strong> <span class="stars stars-5">****</span>
        <strong>Ha dicho:</strong> <span class="stars stars-3">****</span>
      </div>
      <%= link_to 'Proponer actividad','#activity-proposal' ,'data-toggle' => 'modal' %>
    </div>
  <% end %>
</article>
