<li>
<article class="user-card <%= user.online? ? "online" : "" %>" data-toggle="tooltip" title="<%= "<strong>#{user.full_name}</strong><br>#{_('Última conexión')}: #{user.current_sign_in_at ? (user.online? ? _("Ahora online") : time_ago_in_words_or_date(user.current_sign_in_at)) : _('Nunca')}" %>">
    <ul class="pics">
      <li><%= link_to profile_pic(user), user %></li>
      <li><%= link_to profile_pic(user), user %></li>
    </ul>
    <header>
        <%=
          if user_signed_in?
            case params[:action]
              when 'hits'
                ('<small>' + time_ago_in_words_or_date(current_user.visitor?(user).visited_at) + '</small>').html_safe if current_user.visitor?(user)
              when 'likes'
                ('<small>' + time_ago_in_words_or_date(current_user.liker?(user).created_at) + '</small>').html_safe if current_user.liker?(user)
              when 'nice_couple'
                if rate = current_user.ratings_given.where(rateable_id: user.id).first || rate = current_user.rates.where(rater_id: user.id).first
                  ('<small>' + time_ago_in_words_or_date(rate.updated_at) + '</small>').html_safe
                end
            end
          end
        %>
      <h1>
        <%= link_to truncate(user.display_name, length: 16), user %>
        <br>
        <span><%= truncate(user.city, length: 20) %></span>
        <br><%= "#{user.age} #{_('Años')}" %>
        <br><%= (current_user.distance_to user).round.to_s + ' km' if user_signed_in? && current_user.distance_to(user) %>
      </h1>
    </header>
    <ul class="actions clearfix">
      <% if user_signed_in? %>
        <% if current_user.can_interact_with?(user) && current_user.can_message_to?(user) %>
          <li class="message"><%= link_to _('Enviar mensaje'), "#fast-reply-#{user.id}", 'data-toggle' => 'modal', title: _('Enviar mensaje') %></li>
        <% else %>
          <li class="message disabled"><%= link_to _('Enviar mensaje'), '#', title: _('Desactivado. No cumples su franja de edad indicada.') %></li>
        <% end %>
        <% if current_user.can_interact_with?(user) && current_user.can_chat_to?(user) %>
          <% if user.online? %>
            <li class="chat"><%= link_to _('Chat'), '#', onclick: "chatWith('#{user.id}'); return false;", title: _('Chat') %></li>
          <% else %>
            <li class="chat disabled"><%= link_to _('Chat'), '#', title: _('Chat desactivado. Usuario desconectado.') %></li>
          <% end %>
        <% else %>
          <li class="chat disabled"><%= link_to _('Chat'), '#', title: _('Desactivado. No cumples su franja de edad indicada.') %></li>
        <% end %>
        <% if current_user.can_interact_with?(user) %>
          <% if current_user.likes?(user) %>
            <li class="like disabled active"><%= link_to _('Ya no me gusta'), user_unlike_path(user), method: :post, data: { id: user.id.to_s }, :class => "ajax_dislike_trigger", :remote => true, title: _('Ya no me gusta') %></li>
            <li class="like hidden"><%= link_to _('Me gusta'), user_like_path(user), method: :post, data: { id: user.id.to_s }, :class => "ajax_like_trigger", :remote => true, title: _('Me gusta') %></li>
          <% else %>
            <li class="like active"><%= link_to _('Me gusta'), user_like_path(user), method: :post, data: { id: user.id.to_s }, :class => "ajax_like_trigger", :remote => true, title: _('Me gusta') %></li>
            <li class="like disabled hidden"><%= link_to _('Ya no me gusta'), user_unlike_path(user), method: :post, data: { id: user.id.to_s }, :class => "ajax_dislike_trigger", :remote => true, title: _('Ya no me gusta') %></li>
          <% end %>
        <% else %>
          <% if current_user.likes?(user) %>
            <li class="like disabled active"><%= link_to _('Ya no me gusta'), user_unlike_path(user), method: :post, data: { id: user.id.to_s }, :class => "ajax_dislike_trigger", :remote => true, title: _('Ya no me gusta') %></li>
            <li class="like disabled hidden"><%= link_to _('Me gusta'), "#", data: { id: user.id.to_s }, title: _('Desactivado. No cumples su franja de edad indicada.') %></li>
          <% else %>
            <li class="like disabled"><%= link_to _('Me gusta'), "#", title: _('Desactivado. No cumples su franja de edad indicada.') %></li>
          <% end %>
        <% end %>
        <% block_modal_id = '#user-block-' + user.id.to_s %>
        <li class="block <%= (current_user.blocked?(user) || current_user.hidden?(user)) ? "disabled" : "" %> ">
        <%= link_to _('Bloquear'), block_modal_id, "data-toggle" => "modal", title: _('Bloquear') %>
        </li>
      <% else %>
        <li class="message"><%= link_to _('Enviar mensaje'), new_user_registration_path %></li>
        <li class="chat"><%= link_to _('Chat'), new_user_registration_path %></li>
          <li class="like active"><%= link_to _('Ya no me gusta'), new_user_registration_path %></li>
          <li class="like hidden"><%= link_to _('Me gusta'), new_user_registration_path %></li>
        <li class="block"><%= link_to _('Bloquear'), new_user_registration_path %></li>
      <% end %>
    </ul>

    <% if @interactions == true %>

      <div class="interactions">
        <div class="punctuations">
          <strong><%= _("Tu dices:") %></strong> <%= stars_for(user, current_user) %>
          <strong><%= _("Ha dicho:") %></strong> <%= stars_for(current_user, user) %>
        </div>
        <%= link_to 'Proponer actividad', "#activity-proposal-#{user.id}" ,'data-toggle' => 'modal' %>
      </div>

    <% end %>
  </article>
  </li>
  <% if user_signed_in? %>
    <%= render partial: 'conversations/modal_new_message', locals: { user: user } %>
    <%= render partial: 'shared/user/modal_user-block', locals: { user: user } %>
  <% end %>
