<li>
<article class="user-card <%= user.online? ? "online" : "" %>" data-toggle="tooltip" title="<%= "<strong>#{user.full_name}</strong><br>#{_('Última conexión')}: #{user.last_sign_in_at ? _('hace ') + time_ago_in_words(user.last_sign_in_at) : _('Nunca')}" %>">
    <ul class="pics">
      <li><%= link_to profile_pic(user), user %></li>
      <li><%= link_to profile_pic(user), user %></li>
    </ul>
    <header>
      <h1>
        <%= link_to user.name, user, 'data-toggle' => 'tooltip', :title => "<strong>#{user.full_name}</strong><br>#{_('Última conexión')}: #{user.last_sign_in_at ? _('hace ') + time_ago_in_words(user.last_sign_in_at) : _('Nunca')}".html_safe %>
        <br>
        <span><%= truncate(user.city, length: 20) %></span>
        <br><%= "#{user.age} #{_('Años')}" %>
        <br><%= (current_user.distance_to user).round.to_s + ' km' if user_signed_in? && current_user.distance_to(user) %>
      </h1>
    </header>
    <ul class="actions clearfix">
      <% if user_signed_in? %>
        <li class="message"><%= link_to _('Enviar mensaje'), "#fast-reply-#{user.id}", 'data-toggle' => 'modal', title: _('Enviar mensaje') %></li>
        <li class="chat"><%= link_to _('Chat'), '#', onclick: "jqac.arrowchat.chatWith('#{user.id}'); return false;", title: _('Chat') %></li>
        <% if current_user.likes?(user) %>
          <li class="like disabled active"><%= link_to _('Ya no me gusta'), user_unlike_path(user), method: :post, data: { id: user.id.to_s }, :class => "ajax_dislike_trigger", :remote => true, title: _('Ya no me gusta') %></li>
          <li class="like hidden"><%= link_to _('Me gusta'), user_like_path(user), method: :post, data: { id: user.id.to_s }, :class => "ajax_like_trigger", :remote => true, title: _('Me gusta') %></li>
        <% else %>
          <li class="like active"><%= link_to _('Me gusta'), user_like_path(user), method: :post, data: { id: user.id.to_s }, :class => "ajax_like_trigger", :remote => true, title: _('Me gusta') %></li>
          <li class="like disabled hidden"><%= link_to _('Ya no me gusta'), user_unlike_path(user), method: :post, data: { id: user.id.to_s }, :class => "ajax_dislike_trigger", :remote => true, title: _('Ya no me gusta') %></li>
        <% end %>
        <% block_modal_id = '#user-block-' + user.id.to_s %>

        <li class="block <%= (current_user.blocked?(user) || current_user.hidden?(user)) ? "disabled" : "" %> ">
        <%= link_to _('Bloquear'), block_modal_id, "data-toggle" => "modal", title: _('Bloquear') %>
        </li>
      <% else %>
        <li class="message"><%= link_to _('Enviar mensaje'), new_user_registration_path %></li>
        <li class="chat"><%= link_to _('Chat'), new_user_registration_path %></li>
          <li class="like disabled active"><%= link_to _('Ya no me gusta'), new_user_registration_path %></li>
          <li class="like hidden"><%= link_to _('Me gusta'), new_user_registration_path %></li>
        <li class="block"><%= link_to _('Bloquear'), new_user_registration_path %></li>
      <% end %>
    </ul>

    <% if @interactions == true %>

      <div class="interactions">
        <div class="punctuations">
          <strong><%= _("Tu dices:") %></strong> <span class="stars stars-5">****</span>
          <strong><%= _("Ha dicho:") %></strong> <span class="stars stars-3">****</span>
        </div>
        <%= link_to 'Proponer actividad','#activity-proposal' ,'data-toggle' => 'modal' %>
      </div>

    <% end %>
  </article>
  </li>
  <% if user_signed_in? %>
    <%= render partial: 'conversations/modal_new_message', locals: { user: user } %>
    <%= render partial: 'shared/user/modal_user-block', locals: { user: user } %>
  <% end %>
