<li>
  <article class="user-card <%= user.online? ? "online" : "" %>">
    <ul class="pics">
      <li><%= link_to profile_pic(user), user %></li>
      <li><%= link_to profile_pic(user), user %></li>
    </ul>
    <header>
      <% if user.last_sign_in_at %>
        <small><%= time_ago_in_words(user.last_sign_in_at) %></small>
      <% end %>
      <h1>
        <%= link_to user.name, user %>
        <br>
        <span><%= truncate(user.town, length: 20) %></span>
        <br><%= "#{user.age} #{t("datetime.prompts.year")}" %>
        <br><%= (current_user.distance_to user).round(2) %> km
      </h1>
    </header>
    <ul class="actions clearfix">
      <li class="message"><%= link_to 'Send Message', "#fast-reply-#{user.id}", 'data-toggle' => 'modal' %></li>
      <li class="chat"><%= link_to 'Chat', '#', onclick: "jqac.arrowchat.sendMessage('#{user.id}', 'foo'); return false;" %></li>
      <% if current_user.likes?(user) %>
        <li class="like disabled active" data-id="<%= user.id.to_s %>"><%= link_to 'Unlike', user_unlike_path(user), method: :post %></li>
        <li class="like hidden" data-id="<%= user.id.to_s %>"><%= link_to 'Unlike', user_like_path(user), method: :post %></li>
      <% else %>
        <li class="like active" data-id="<%= user.id.to_s %>"><%= link_to 'Like', user_like_path(user), method: :post %></li>
        <li class="like disabled hidden" data-id="<%= user.id.to_s %>"><%= link_to 'Unlike', user_unlike_path(user), method: :post %></li>
      <% end %>
      <% block_modal_id = '#user-block-' + user.id.to_s %>
      <li class="block"><%= link_to 'Block', block_modal_id, "data-toggle" => "modal" %></li>
    </ul>

    <% if @interactions == true %>

      <div class="interactions">
        <div class="punctuations">
          <strong><%= _("Tu dices:") %></strong> <span class="stars stars-5">****</span>
          <strong><%= _("Ha dicho:") %></strong> <span class="stars stars-3">****</span>
        </div>
        <%= link_to 'Proponer actividad','#activity-proposal' ,'data-toggle' => 'modal' %>
      </div>

    <% end %>
  </article>
</li>
<%= render partial: 'shared/modal_new_message', locals: { user: user } %>
<%= render partial: 'shared/user/modal_user-block', locals: { user: user } %>
