<%= render "shared/best_suited_near_me" %>
<section class="list">
  <header>
    <h1 class="pull-left section_title"><%= _('Me han visitado') %></h1>
    <div class="sort-gustado">
      <%#= render 'shared/user/sorting' %>

      <div class="dropdown sort">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= _('Ordenar por...') %></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li><%= link_to _("Online"), user_hits_path(order: 'visited_at desc') %></li>
          <li><%= link_to _("Mejor Índice Cellove"), user_hits_path(order: 'cellove_index desc') %></li>
          <li><%= link_to _('Más cercanos'), user_hits_path(order: 'distance asc') %></li>
        </ul>
      </div>

    </div>
    <div class="clearfix"></div>
  </header>

  <%= render "empty-list" %>

  <ul class="user-list clearfix">
    <%= render @users %>
  </ul>
  <div class="pagination">
    <%= pager_total(@users) %>
  </div>
  <%= paginate @users %>

</section>
