<%= render 'shared/best_suited_near_me' %>

<section class="search boxed">

  <div class="boxed-inner clearfix overflow-show">
    <header>
      <h1><%= _('Encuentra personas afines a tí') %></h1>
    </header>
    
    <%= search_form_for @search, class: 'span9 form-horizontal overflow-show' do |f| %>
      <div class="row">
        <div class="span7">
          <div class="control-group slider">
            <label class="control-label"><%= _('Edad') %></label>
            <div class="span5">
              <input id="years" type="slider" value="<%= params[:q][:years_start_lteq] || (current_user.lf_age_from.blank? ? '18' : current_user.lf_age_from) %>;<%= params[:q][:years_end_gteq] || (current_user.lf_age_to.blank? ? '80' : current_user.lf_age_to) %>"/>
              <%= f.hidden_field :years_start_lteq %>
              <%= f.hidden_field :years_end_gteq %>
            </div>
          </div>

            <div class="overflow-show control-group location-search">
                <%= f.label :city, _('Localidad'), class: 'control-label location-label' %>
                <%= select_tag :city, options_for_select([(params[:city] || current_user.city)], params[:city] || current_user.city), { include_blank: _('Localidad...'), class: 'city', 'data-placeholder' => _('Localidad...') } %>
                <%= f.label :postal_code, _('Código postal'), class: 'control-label zip' %>
                <%= text_field_tag :postal_code, (params[:postal_code] || current_user.postal_code), placeholder: _('CP'), class: 'span1' %>
            </div>

          <div class="clearfix">

            <div class="searchcol1">
              <div class="control-group slider">
                <label class="control-label"><%= _('Distancia') %></label>
                <div class="controls">
                  <%= text_field_tag :distance, (params[:distance] || User::DEFAULT_SEARCH_DISTANCE), type: 'slider' %>
                </div>
              </div>
            </div>

            <div class="searchcol2">
              <div class="control-group">
                <%= f.label :description_cont, _('Palabra clave'), class: 'control-label' %>
                <div class="controls">
                  <%= f.text_field :name_or_surname_or_screen_name_or_description_cont %>
                </div>
              </div>
            </div>
          </div>

          <div id="adv-search" class="clearfix collapse<%= 'in' if @search.complexion_eq.present? || @search.height_gteq.present? %>">
            <div class="searchcol1">
              <div class="control-group slider">
                <label class="control-label"><%= _('Altura') %></label>
                <div class="controls">
                  <input id="altura" type="slider" name="" value="<%= @search.height_gteq || '150' %>;<%= @search.height_lteq || '220' %>"/>
                  <%= f.hidden_field :height_gteq  %>
                  <%= f.hidden_field :height_lteq  %>
                </div>
              </div>
            </div>
            <div class="searchcol2">
              <div class="control-group">
                <%= f.label :complexion_eq, _('Complexión'), class: 'control-label' %>
                <div class="controls">
                  <%= f.select :complexion_eq, User::COMPLEXION.map { |k, v| [v, k] }, include_blank: _('Complexión...'), selected: @search.complexion_eq %>
                </div>
              </div>
            </div>
          </div>

          <div class="right span8">
            <a href="#adv-search" class="small" data-toggle="collapse"><%= _('Búsqueda avanzada') %></a>
            <%= f.submit _('Buscar'), class: 'btn btn-info' %>
          </div>
        </div>

        <div>
          <label class="checkbox">
            <%= f.check_box :pictures_main_not_null, {}, 1, '' %><%= _('Con foto') %>
          </label>
          <label class="checkbox">
            <%= f.check_box :updated_at_gteq, {}, 5.minutes.ago, '' %><%= _('Online') %>
          </label>
          <label class="checkbox">
            <%= f.check_box :smoker_in, {}, User.is_smoker, '' %><%= _('Fumador') %>
          </label>
          <label class="checkbox">
            <%= f.check_box :children_in, {}, User.have_children, '' %><%= _('Con hijos') %>
          </label>
        </div>
      </div>
    <% end %>
  </div>
</section>

<hr class="thin">

<section class="list">
  <header>
    <div class="pull-left">
      <h1><%= _('Resultados de la búsqueda') %></h1>
    </div>
    <div class="pull-right">
      <div class="pull-left">
        <% if params[:q] %>
          <%= render 'shared/user/modal_save-search' %>
          <%= link_to _('Guarda búsqueda'), '#save-search', "data-toggle" => "modal", class: 'btn btn-info' %>
        <% end %>
      </div>
      <div class="pull-right sort-gustado"> 
        <%= render 'shared/user/sorting' %>
      </div>
    </div>
    <div class="clearfix"></div>
  </header>
  <ul class="user-list clearfix">
    <%= render @users %>
  </ul>
  <div class="pagination">
    <%= pager_total(@users) %>
  </div>
  <%= paginate @users %>
</section>

<%= render partial: 'shared/search_js' %>
