<%= render 'shared/user/related-list' %>

<section class="search boxed">

  <div class="boxed-inner clearfix">
    <header>
      <h1>Encuentra personas afines a tí</h1>
    </header>

    <%= search_form_for @search, class: 'span9 form-horizontal' do |f| %>
      <%= f.hidden_field :years_gteq  %>
      <%= f.hidden_field :years_lteq  %>
      <%= f.select :town_eq, Town.all.map {|t| [t.name, t.id] } %>
      <%= f.label :postal_code_cont %>
      <%= f.text_field :postal_code_cont, placeholder: 'CP' %>
      <%= f.label :complexion_eq %>
      <%= f.select :complexion_eq, User::COMPLEXION %>
      <%= f.submit %>
    <% end %>
  <form class="span9 form-horizontal">

    <div class="row">
      <div class="span8">

        <div class="control-group slider">
          <label class="control-label">Edad</label>
          <div class="span6">
            <input id="years" type="slider" name="" value="18;80"/>
          </div>
        </div>

        <div class="row search-location">
          <div class="span8">
            <div class="control-group">
              <label class="control-label">Localidad</label><input type="text" class="location" placeholder="Localidad">
              <label class="control-label zip">Código postal</label><input type="text" class="span1" placeholder="CP">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span4">
            <div class="control-group slider">
              <label class="control-label">Distancia</label>
              <div class="controls">
                <input id="kms" type="slider" name="" value="20"/>
              </div>
            </div>
            <div class="control-group slider">
              <label class="control-label">Altura</label>
              <div class="controls">
                <input id="altura" type="slider" name="" value="170;190"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Palabra clave</label>
              <div class="controls">
                <input type="text" class="">
              </div>
            </div>
          </div>

          <div class="span4">
            <div class="control-group slider">
              <label class="control-label">Afinidad</label>
              <div class="controls">
                <input id="afinidad" type="slider" name="" value="70"/>
              </div>
            </div>
            <div class="control-group fit">
              <label class="control-label">Complexión</label>
              <select>
                <option>atlética</option>
                <option>curvas</option>
              </select>
            </div>
            <div class="right">
              <button type="submit" class="btn btn-info">Buscar</button>
            </div>
          </div>

        </div>
      </div>

      <div>
        <label class="checkbox">
            <input type="checkbox">Con foto
          </label>
          <label class="checkbox">
            <input type="checkbox">Online
          </label>
          <label class="checkbox">
            <input type="checkbox">Fumador
          </label>
          <label class="checkbox">
            <input type="checkbox">Con hijos
          </label>        
      </div>
      </form>
    </div>
  </div>
</section>

<hr class="thin">


<section class="list">
  <header>
    <div class="pull-left">
      <h1>Resultados de la búsqueda</h1>
    </div>
    <div class="pull-right">
      <%= render '/shared/user/sorting' %>
    </div>
  </header>
  <ul class="user-list clearfix">
    <%= render @users %>
  </ul>

  <%= paginate @users %>

</section>
