<section class="celestinos">
  <article class="boxed headless">
    <div class="boxed-inner">
      <header>
        <h1>Mis Celestin@s | <span>Tu índice es del 40% y tienes 2 Celestin@s.</span></h1>
        <%= link_to "¡Mejora tu índice Cellove!" , "#mejora", :class => 'pull-right' %>
      </header>
    </div>
  </article>

  <hr class="thin"> 

  <ul class="nav nav-tabs" id="celestinos-tab">
    <li class="active"><a href="#confirmados">Confirmados</a></li>
    <li><a href="#confirmar">Por confirmar</a></li>
    <li><a href="#attributes">Atributos</a></li>
    <li><a href="#mejora">Mejora tu índice Cellove</a></li>
  </ul>
  
  <div class="boxed">
    <div class="boxed-inner">
      <div class="tab-content">
      <% @can_delete_celestino = 'true' %>

        <!-- begin tabs -->
        <div class="tab-pane active" id="confirmados">
          <% current_user.confirmed_recommenders.each do |rec| %>
            <%= render '/shared/user/celes-item', recommendation: rec, is_creator: false %>
          <% end %>
          <%= render '/shared/user/pagination' %>
        </div>

        <div class="tab-pane" id="confirmar">
          <% @type = 'por-confirmar' %>

          <% current_user.unconfirmed_recommenders.each do |rec| %>
            <%= render '/shared/user/celes-item', recommendation: rec, is_creator: false %>
          <% end %>
          <%= render '/shared/user/pagination' %>
        </div>

        <div class="tab-pane" id="attributes">
            <div class="span4">
              <% (1..12).each do %>
                <h5>Amable</h5>
                <div class="progress">
                  <div class="bar" style="width:35%"></div>
                </div>
              <% end %>
            </div>

            <div class="span4 offset1">
                <% (1..12).each do %>
                  <h5>Amable</h5>
                  <div class="progress">
                    <div class="bar" style="width:35%"></div>
                  </div>
                <% end %>
            </div>
        </div>

        <div class="tab-pane" id="mejora">
          <div class="clearfix">
            <div class="white-box">
              <h4>¿Quieres aumentar tu indice Cellove?</h4>
              <p>Recomiéndanos un nuevo usuari@, si se registra, ambos ganaréis puntos.</p>
              <form class="form-inline">
                <input type="text" class="input-medium" placeholder="Email">
                <button type="submit" class="btn btn-info">OK</button>
              </form>
            </div>
      
            <div class="white-box">
              <h4>¿Quieres proponer un Celestin@?</h4>
              <p>Propón un nuevo celesti@ para que te recomiende y gana más puntos.</p>
              <form class="form-inline">
                <input type="text" class="input-medium" placeholder="Email">
                <button type="submit" class="btn btn-info">OK</button>
              </form>
            </div>
          </div>
        </div>
        <!-- end tabs -->
      </div>

    </div>
  </div>
</section>
