<section class="settings">

  <section class="boxed">
    <div class="boxed-inner">

      <header>
        <h1>Configuración</h1>
        <div>Desde aquí podrás configurar tus parámetros en Cellove</div>
      </header>
      <%= form_for(current_user, url: general_settings_path, :method => :put, class: 'form-inline') do |f| %>
        <%= fields_for current_user.general_settings do |f1| %>

          <article class="clearfix">
            <div class="col">
              <h5>Visibilidad</h5>
              <p>¿Cómo de real quieres que sea el tiempo real?</p>

              <div class="control-group clearfix">
                <div class="span3 right"><strong>Mostrar a los demás usuarios si estoy conectado</strong></div>
                <div class="checkbox">
                  <%= f1.check_box :show_online %>
                  <%= f1.label :show_online %>
                </div>
              </div>
              
              <!-- begin advanced settings, only for level3 users -->
              <div class="advanced chat-options">

                <div class="control-group clearfix">
                  <div class="span3 right"><strong>Permitir que cualquiera pueda chatear conmigo</strong></div>
                  <div class="checkbox">
                    <%= f1.check_box :allow_chat %>
                    <%= f1.label :allow_chat %>
                  </div>
                </div>

                <div class="control-group clearfix">
                  <div class="span3 right">Sólo usuarios de mi área (menos de 50km)</div>
                  <div class="checkbox">
                    <%= f1.check_box :show_only_nearby %>
                    <%= f1.label :show_only_nearby %>
                  </div>
                </div>

                <div class="control-group clearfix">
                  <div class="span3 right">Sólo perfiles que conicidan con mis preferencias</div>
                  <div class="checkbox">
                    <%= f1.check_box :show_only_matching_profiles %>
                    <%= f1.label :show_only_matching_profiles %>
                  </div>
                </div>

                <div class="control-group clearfix">
                  <div class="span3 right">Sólo perfiles que me han gustado</div>
                  <div class="checkbox">
                    <%= f1.check_box :show_only_people_who_like_me %>
                    <%= f1.label :show_only_people_who_like_me %>
                  </div>
                </div>

                <div class="control-group clearfix">
                  <div class="span3 right">Sólo perfiles "hacemos buena pareja"</div>
                  <div class="checkbox">
                    <%= f1.check_box :show_only_buena_pareja %>
                    <%= f1.label :show_only_buena_pareja %>
                  </div>
                </div>

                <div class="control-group clearfix">
                  <div class="span3 right">Sólo a perfiles con los que haya mantenido una conversación previa</div>
                  <div class="checkbox">
                    <%= f1.check_box :show_only_pm %>
                    <%= f1.label :show_only_pm %>
                  </div>
                </div>

                <div class="control-group clearfix">
                  <div class="span3 right">Sólo usuarios a los que haya valorado el perfil</div>
                  <div class="checkbox">
                    <%= f1.check_box :show_only_rated_me %>
                    <%= f1.label :show_only_rated_me %>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col">
              <h5>Notificaciones por email</h5>
              <p>¿Que notificaciones quieres recibir?</p>
              
              <div class="control-group clearfix">
                <div class="span3 right"><strong>No enviar notificaciones si estoy online</strong></div>
                  <div class="checkbox">
                    <%= f1.check_box :no_email_online %>
                    <%= f1.label :no_email_online %>
                  </div>
              </div>
              <div class="control-group clearfix">
                <div class="span3 right"><strong>Cuando alguien visite mi perfil</strong></div>
                  <div class="checkbox">
                    <%= f1.check_box :profile_visit %>
                    <%= f1.label :profile_visit %>
                </div>
              </div>

              <div class="control-group clearfix">
                <div class="span3 right"><strong>Cuando reciba un nuevo mensaje</strong></div>
                  <div class="checkbox">
                    <%= f1.check_box :receive_message %>
                    <%= f1.label :receive_message %>
                </div>
              </div>

              <div class="control-group clearfix">
                <div class="span3 right"><strong>Cuando le guste a alguien </strong>(votaciones de 4 ó 5 estrellas)</div>
                  <div class="checkbox">
                    <%= f1.check_box :star_rating %>
                    <%= f1.label :star_rating %>
                </div>
              </div>

              <div class="control-group clearfix">
                <div class="span3 right"><strong>Cuando alguien me añada a sus favoritos</strong></div>
                  <div class="checkbox">
                    <%= f1.check_box :like %>
                    <%= f1.label :like %>
                </div>
              </div>

              <div class="control-group clearfix">
                <div class="span3 right"><strong>Cuando un celestino me recomiende</strong></div>
                  <div class="checkbox">
                    <%= f1.check_box :celestino_recommendation %>
                    <%= f1.label :celestino_recommendation %>
                </div>
              </div>

              <div class="control-group clearfix">
                <div class="span3 right"><strong>Quiero recibir la newsletter</strong> (noticias y novedades, quincenal)</div>
                  <div class="checkbox">
                    <%= f1.check_box :newsletter %>
                    <%= f1.label :newsletter %>
                </div>
              </div>

              <div class="control-group clearfix">
                <div class="span3 right"><strong>Quiero recibir sugerencias por email</strong> (perfiles afines, semanal)</div>
                  <div class="checkbox">
                    <%= f1.check_box :user_suggestions %>
                    <%= f1.label :user_suggestions %>
                </div>
              </div>

              <div class="control-group clearfix">
                <div class="span3 right"><strong>Quiero recibir nuevos usuarios en mi zona</strong> (semanal)</div>
                  <div class="checkbox">
                    <%= f1.check_box :new_users_nearby %>
                    <%= f1.label :new_users_nearby %>
                </div>
              </div>
              <% if current_user.has_role?(:premium_user) %>
                <div class="control-group clearfix">
                  <div class="span3 right"><strong>Anonymous browsing</strong></div>
                    <div class="checkbox">
                      <%= f1.check_box :anonymous_browsing %>
                      <%= f1.label :anonymous_browsing %>
                  </div>
                </div>
              <% end %>
            </div>
          </article>
          <div class="button">
            <%= f.submit _('Guardar Configuración'), class: 'btn btn-large btn-info' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>

  <hr class="thin">

  <section class="boxed">
    <div class="boxed-inner blocked">

      <header>
        <h1>Configuración</h1>
        <div>Desde aquí podrás configurar tus parámetros en Cellove</div>
      </header>
    
      <%= form_for(current_user, url: user_block_hide_settings_path(current_user), :method => :post) do |f| %>
        <article>
          <h4>Ususarios bloqueados</h4>
          <p>Has bloqueado estos ususarios. ¿Has cambiado de opinión?</p>

            <table border="0" cellpadding="5" cellspacing="0" align="center">
              <tr>
                <th></th>
                <th>No le veo</th>
                <th>No me ve</th>
              </tr>

              <% current_user.blocked_and_hidden_users.each do |user| %>
                <tr>
                  <td width="350" style="text-align:left">
                    <%= link_to user.name, user_path(user) %> <%= user.age %> años, <%= user.town %>
                  </td>
                  <td width="100">
                    <% hidden_user_name = 'user[' + user.id.to_s + '][hidden_user]' %>
                    <%= f.check_box :hidden_user, checked: user.hidden, name: hidden_user_name %>
                  </td>
                  <td width="100">
                    <% blocked_user_name = 'user[' + user.id.to_s + '][blocked_user]' %>
                    <%= f.check_box :blocked_user, checked: user.blocked, name: blocked_user_name %>
                  </td>
                </tr>
              <% end %>

            </table>
            <div class="button">
              <%= f.submit "Guardar Configuración", class: 'btn btn-large btn-info' %>
            </div>
        </article>
      <% end %>
    </div>
  </section>

</section>
