<section class="user-profile">
	<header>
		<h1 class="section_title"><%= _('Perfil de Usuari@') %></h1>
	</header>

	<article class="boxed">

			<div class="user-detail-container clearfix">
				<div class="photo">
					<% image_url = current_user.profile_picture && @user.profile_picture ? @user.profile_picture.image.jpg.url : images_profile_path %>
					<a <%= "href=#{image_url} class=swipebox " if @user.profile_picture %> title="<%= _("Fotografias de ") %> <%= "#{@user.name} #{@user.surname}" %>">
						<% if @user.pictures.count > 1 %><div class="more-photos"><%= @user.pictures.count %> <i class="fa fa-camera"></i></div><% end %>
						<%= profile_pic(@user) %>
					</a>
				</div>
				<div class="description">
          			<h5>
	          			<div class="<%= @user.online? ? "online" : "" %>"></div>
	          			<%= "#{@user.name} #{@user.surname}" %><br>
	          			<small><%= (@user.screen_name.present? ? " (#{@user.screen_name}) " : " ") %></small>
          			</h5>
          			<p class="small">
          				<%= "#{@user.city}, #{CountrySelect::COUNTRIES[@user.country]}" %><br>

						<%= _(User::GENDER[@user.gender]).capitalize %> <%= @user.age %> <%= _("años")%>
						<% if @user.height %>
							<br><%= _('%{height} cms de altura') % {:height => @user.height} %>
						<% end %>
					</p>

				</div>
			</div>

			<% if @user.pictures.count > 1 %>
				<div id="user-profile-thumbs">
					<div class="jcarousel">
						<ul>
							<% @user.pictures.each do |p| %>
								<% image_url = current_user.profile_picture ? p.image.jpg.url : images_profile_path %>
								<li><a class="swipebox" href="<%= image_url %>" title="<%= _("Fotografias de ") %> <%= "#{@user.name} #{@user.surname}" %>"><%= image_tag(p.image.thumb('80x80').url)%></a></li>
							<% end %>
						</ul>
					</div>
				</div>
			<% end %>


			<% unless @user == current_user %>

				<%= render 'shared/user/profile-action-links' %>

			<% end %>
			
			<p class="small">
				<%= _('%{name} está %{marital_status}') % {:name => @user.name, :marital_status => _(User::MARITAL_STATUS[@user.marital_status])} %>
				<% if @user.child.present? %>
					<%= _('y %{tp_child}') % {:tp_child => _(User::TP_CHILD[@user.child])} %>.
				<% end %>
				<% if @user.lf_gender.present? %>
					<%= _('Busca %{gender}') % {:gender => _(User::GENDER[@user.lf_gender])} %>
					<% if @user.lf_age_from.present? and @user.lf_age_to.present? %>
						<%= _('de entre %{age_from} y %{age_to} años') % {:age_from => @user.lf_age_from, :age_to => @user.lf_age_to} %>
					<% end %>
					<% if @user.lf_relationship.present? %>
						<%= _('para %{tipo_relacion}') % { :tipo_relacion => _(User::LF_RELATIONSHIP[@user.lf_relationship]) } %>
					<% end %>
					<% if @user.city.present? %>
						<%= _('y que esté cerca de %{city}, %{country}') % {:city => @user.city, :country => @user.country} %>
					<% end %>
				<% end %>
			</p>

	</article>

	<article class="basic-tabs tabs-container" id="basic-tabs">


				<h3><%= _('Descripción') %></h3>
		  		<div class="tab-pane active" id="desc">
		  			<% if @user.description.blank? %>
              			<%= _('%{name} aún no ha introducido su descripción.') % {name: @user.name} %>
		  			<% else %>
						<p><%= @user.description %></p>
					<% end %>
		  		</div>

		  		<h3><%= _('Sus Celestin@s') %></h3>
		  		<div class="tab-pane" id="dicen">
		  			<% if @user.confirmed_recommenders.empty? %>
              <%= _('%{name} aún no tiene ningún celestino.') % {name: @user.name} %> <%= link_to _('Quieres ser el primero?'), be_matchmaker_path %>
		  			<% else %>
		  				<% @user.confirmed_recommenders.each do |rec| %>
								<%= render 'shared/user/celes-item', recommendation: rec, is_creator: false %>
							<% end %>
		  			<% end %>
		  		</div>

		  		<h3><%= _('Sus Atributos') %></h3>
		  		<div class="tab-pane" id="atributos">
		  			<%= render 'atributes', user: @user %>
		  		</div>

		  		<h3><%= _('Tus notas') %></h3>
		  		<div class="tab-pane" id="notas">
            		<h4><%= _('Tus notas de %{name} <span>(tranquilo, él/ella no las verá)</span>') % {name: @user.name} %></h4>
		  			<hr>
		  			<% current_user.my_notes(@user).each do |note| %>
		  				<%= render 'shared/user/nota-item', note: note %>
		  			<% end %>

		  			<div class="new-nota">
		  				<%= form_for :note, :url => '/notes' do |n| %>
		  					<%= n.text_area :content, :placeholder => _('Nueva nota') %>
		  					<%= n.hidden_field :user_id, :value => current_user.id %>
		  					<%= n.hidden_field :evaluated_id, :value => @user.id %>

		  						<button type="submit" class="btn btn-info"><%= _('Añadir nota') %></button>

		  				<% end %>
		  			</div>

		  		</div>

				<h3><%= _('¿Cómo es?') %></h3>
		  		<div class="tab-pane active" id="como">
		  			<%= render 'como' %>
		  		</div>

				<h3><%= _('Sus gustos') %></h3>
		  		<div class="tab-pane" id="gustos">
		  			<%= render 'gustos' %>
		  		</div>

				<h3><%= _('Qué busca') %></h3>
		  		<div class="tab-pane" id="busca">
		  			<%= render 'busca' %>
		  		</div>

				<h3><%= _('Denunciar perfil') %></h3>
		  		<div class="tab-pane report" id="denunciar">
		  			<%= link_to _('Denunciar perfil a Cellove'), user_report_path(@user) %>
		  		</div>

	</article>

</section>

<script type="text/javascript">
  // tabs
  $('.nav-tabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
  })
  // carousel
    $('.jcarousel').jcarousel({
      animation: 'slow'
    });

    $('.jcarousel-prev').click(function() {
        $('.jcarousel').jcarousel('scroll', '-=5');
    });

    $('.jcarousel-next').click(function() {
        $('.jcarousel').jcarousel('scroll', '+=5');
    });
</script>
