<section class="user-profile">
	<article class="boxed">
		<div class="boxed-inner">
			<div id="nice-couple">
				<i></i>
				<p>¿Hacéis buena pareja?</p>
				<ul>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
				</ul>
			</div>

			<div class="user-detail-container clearfix">
				<div class="photo">

					<a <%= "href=#{@user.profile_picture.image.jpg.url} class=grouped_elements " if @user.profile_picture %> rel="group1">
						<%= profile_pic(@user) %>
					</a>
				</div>
				<div class="description">
						<h5><%= "#{@user.name} #{@user.surname} | " %><span><%= "#{@user.town}, #{@user.country}" %></span></h5>
						<p class="small">
							<%= "#{User::GENDER[@user.gender].capitalize} - #{@user.age} años " %>
							<% if @user.height %>
								<%= "- #{@user.height} cms de altura" %>
							<% end %>
						</p>
						<p class="small"><%= "#{@user.name} está #{User::MARITAL_STATUS[@user.marital_status]}"%> 
							<% if @user.child %>
								<%= "y #{User::TP_CHILD[@user.child]}." %>
							<% end %>
							<% if @user.lf_gender %>
								<%= "Busca #{User::GENDER[@user.lf_gender]} "%> 
								<% if @user.lf_age_between and @user.lf_age_to %>
									<%= "de entre #{@user.lf_age_between} y #{@user.lf_age_to} años" %>
								<% end %>
								<% if @user.lf_relationship %>
									<%= "para #{User::LF_RELATIONSHIP[@user.lf_relationship]}" %>
								<% end %>
								<% if @user.town %>
									<%= "y que esté cerca de #{@user.town}, #{@user.country}" %>
								<% end %>
							<% end %>
						</p>
				</div>

				<% if @user.pictures.count > 1 %>
					<div id="user-profile-thumbs">

						<div class="jcarousel">
							<ul>
								<% @user.pictures.each do |p| %>
									<li><a class="grouped_elements" href="<%= p.image.jpg.url %>"><%= image_tag(p.image.thumb('80x80').url)%></a></li>
								<% end %>
							</ul>
						</div>
						<% if @user.pictures.count > 6 %>
							<a href="#" class="jcarousel-prev">anterior</a>
							<a href="#" class="jcarousel-next">siguiente</a>
						<% end %>
					</div>
				<% end %>

			</div>
		</div>
	</article>

	<% unless @user == current_user %>
		<%= render '/shared/user/profile-action-links' %>
	<% end %>

<article class="basic-tabs tabs-container">
		
		<ul class="nav nav-tabs" id="basic-tabs">
  		<li class="active"><a href="#desc">Descripción</a></li>
		  <li><a href="#dicen">Sus Celestin@s</a></li>
		  <li><a href="#atributos">Sus Atributos</a></li>
		  <li class="last"><a href="#notas">Tus notas</a></li>
		</ul>

		<div class="boxed">
			<div class="boxed-inner">
				<div class="tab-content">

		  		<div class="tab-pane active" id="desc">
		  			<% if @user.description.blank? %>
		  				<%= @user.name %> aún no ha introducido su descripción.
		  			<% else %>
							<p><%= @user.description %></p>
						<% end %>
		  		</div>

		  		<div class="tab-pane" id="dicen">
		  			<% if current_user.confirmed_recommenders.empty? %>
		  				<%= @user.name %> aún no tiene ningún celestino. <%= link_to 'Quieres ser el primero?', be_matchmaker_path %>
		  			<% else %>
		  				<% current_user.confirmed_recommenders.each do |rec| %>
								<%= render '/shared/user/celes-item', recommendation: rec, is_creator: false %>
							<% end %>
		  			<% end %>
		  		</div>

		  		<div class="tab-pane" id="atributos">
		  			<%= render 'atributes' %>
		  		</div>

		  		<div class="tab-pane" id="notas">
		  			<h4>Tus notas de María González <span>(tranquilo, él/ella no las verá)</span></h4>
		  			<hr>
		  			<% current_user.my_notes(@user).each do |note| %>
		  				<%= render '/shared/user/nota-item', note: note %>
		  			<% end %>

		  			<div class="new-nota">
		  				<%= form_for :note, :url => '/notes' do |n| %>
		  					<%= n.text_area :content, :placeholder => 'Nueva nota' %>
		  					<%= n.hidden_field :user_id, :value => current_user.id %>
		  					<%= n.hidden_field :evaluated_id, :value => @user.id %>
		  					<div class="pull-right controls">
		  						<button type="submit" class="btn btn-info">Añadir nota</button>
		  					</div>
		  				<% end %>
		  			</div>
		  					  
		  		</div>
				</div>
			</div>
		</div>
	</article>


	<article class="profile-tabs tabs-container">
		
		<ul class="nav nav-tabs" id="myTab">
  		<li class="active"><a href="#como">¿Cómo es?</a></li>
		  <li><a href="#gustos">Sus gustos</a></li>
		  <li><a href="#busca">Qué busca</a></li>
		</ul>

		<div class="boxed">
			<div class="boxed-inner">
				<div class="tab-content">

		  		<div class="tab-pane active" id="como">
		  			<%= render 'como' %>
		  		</div>

		  		<div class="tab-pane" id="gustos">
		  			<%= render 'gustos' %>
		  		</div>

		  		<div class="tab-pane" id="busca">
		  			<%= render 'busca' %>
		  		</div>

				</div>
			</div>
		</div>
	</article>

	<% unless @user == current_user %>
		<%= render '/shared/user/profile-action-links' %>
	<% end %>


</section>

<script type="text/javascript">
  // tabs
  $('.nav-tabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
  })
  // carousel
    $('.jcarousel').jcarousel({
      animation: 'slow'
    });

    $('.jcarousel-prev').click(function() {
        $('.jcarousel').jcarousel('scroll', '-=5');
    });

    $('.jcarousel-next').click(function() {
        $('.jcarousel').jcarousel('scroll', '+=5');
    });
</script>
