
<header>
  <h1><%= _('¿Has olvidado tu contraseña?') %></h1>
</header>
<p><%= _('Introduce el email con el que te registraste y te enviaremos las instrucciones de recuperación.') %></p>

<%= form_for(resource, :as => resource_name,
              :url => password_path(resource_name), :method => :post,
              :class => 'form-horizontal inline-form') do |f| %>
  <fieldset id="get-password" class="clearfix">
    <div class="control-group">
      <%= f.label :email %>
      <%= f.text_field :email, type: 'email', class: 'span3' %>
      <%= f.submit _('Recuperar contraseña'), class: 'btn btn-info' %>
    </div>
  </fieldset>
<% end %>
