<section id="unconfirmed-form">
  <div class="boxed">
    <div class="boxed-inner">
      <h4><%= _('Que no te molesten') %></h4>
      <%= simple_form_for current_user, url: profile_path, html: { class: 'form-horizontal' } do |f| %>
        <label for="user[lf_age_from]"><%= _('Estar solo visible para usuari@s de entre:') %></label>
        <%= f.select :lf_age_from, 18..99, {}, class: 'input-mini', maxlength: 2 %>
        <label for="user[lf_age_to]"><%= _('a') %></label>
        <%= f.select :lf_age_to, 18..99, {:selected => 99}, class: 'input-mini', maxlength: 2 %>
        <label><%= _('años.') %></label>
        <%= f.submit _('Guardar'), class: 'btn btn-success' %>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<hr class="thin">
