<aside class="sidebar">
	<ul>
		<li<%= ' class="active"' if @page == 'que-es' %>><%= link_to '¿Qué es?', '/public/que-es' %></li>
		<li<%= ' class="active"' if @page == 'consigue-popularidad' %>><%= link_to '¿Cómo consigo más popularidad?', '/public/consigue-popularidad' %></li>
		<li<%= ' class="active"' if @page == 'celestinos' %>><%= link_to 'Celestin@s', '/public/celestinos' %></li>
		<li<%= ' class="active"' if @page == 'consejos-de-uso' %>><%= link_to 'Consejos de uso', '/public/consejos-de-uso' %></li>
		<li<%= ' class="active"' if @page == 'condiciones-generales' %>><%= link_to 'Condiciones generales', '/public/condiciones-generales' %></li>
		<li<%= ' class="active"' if @page == 'sobre-cellove' %>><%= link_to 'Sobre Cellove.com', '/public/sobre-cellove' %></li>
	</ul>
</aside>
