<footer>
<div class="container">
  <nav class="row">
  <div class="span3">
    <h4><%= _('Sobre Cellove') %></h4>
    <ul>
      <li><%= link_to _('¿Qué es?'), what_path %> <%= link_to _('¿Cómo funciona?'), how_it_works_path %></li>
      <li><%= link_to _('¿Cómo consigo popularidad?'), raise_popularity_path %></li>
      <li><%= link_to _('Celestin@s'), matchmakers_path %></li>
    </ul>
  </div>

  <div class="span3">
    <h4><%= _('Anuncios TV') %></h4>
    <ul>
      <li>
        <a href="<%= _('https://www.youtube.com/watch?v=vS2-2CJ9F9s') %>" class="html5lightbox" data-group="anuncios"  data-width="679" data-height="369" title="<%=_('María ha quedado con Pedro gracias a su amig@ ') %>"><%=_('María ha quedado con Pedro') %></a>
      </li>
      <li>
        <a href="<%= _('https://www.youtube.com/watch?v=O2ZHJjHHk3w') %>" class="html5lightbox" data-group="anuncios"  data-width="679" data-height="369" title="<%=_('Marcos ha quedado con Ana gracias a su amig@') %>"><%=_('Marcos ha quedado con Ana') %></a>
      </li>
      <li>
        <a href="<%= _('https://www.youtube.com/watch?v=l38oDLj4Be8') %>" class="html5lightbox" data-group="anuncios"  data-width="679" data-height="369" title="<%=_('Claudia ha quedado con mi padre para una cita') %>"><%=_('Claudia ha quedado con mi padre') %></a>
      </li>
    </ul>
  </div>

  <div class="span3">
    <h4><%= _('Legal y conducta') %></h4>
    <ul>
      <li><%= link_to _('Consejos de uso'), usage_path %></li>
      <li><%= link_to _('Términos y condiciones'), terms_conditions_path %></li>
      <li><%= link_to _('Política de Privacidad'), privacy_policy_path %></li>
    </ul>
  </div>

  <div class="span3">
    <h4>Cellove © <%= Time.now.year %></h4>
    <ul>
      <li><%= link_to _('Contacto'), new_contact_form_path %></li>
      <li><%= link_to _('Media & prensa'), media_press_path %></li>
      <li>
        <div id="social-networks">
          <a href="https://www.facebook.com/cellovealas" target="_blank" class="facebook"></a>
          <a href="https://twitter.com/CelloveAlas" target="_blank" class="twitter"></a>
          <a href="https://www.youtube.com/user/cellovealas" target="_blank" class="youtube"></a>
        </div>
      </li>
    </ul>
  </div>
  </nav>
</div>
</footer>