      <footer>
        <div class="container">
          <nav class="row">
            <div class="span3">
              <h4>Sobre Cellove</h4>
              <ul>
                <li><%= link_to '¿Qué es?', '/public/que-es' %></li>
		<li><%= link_to '¿Cómo funciona?', '/public/como-funciona' %></li>
                <li><%= link_to '¿Cómo consigo popularidad?', '/public/consigue-popularidad' %></li>
                <li><%= link_to 'Celestin@s', '/public/celestinos' %></li>
              </ul>
            </div>

            <div class="span3">
              <h4>Anuncios TV</h4>
              <ul>
                <li><%= link_to 'Encuentra pareja', tv_spot_path(1) %></li>
                <li><%= link_to 'Solteros exigentes', '/public/anuncio-tv-2' %></li>
                <li><%= link_to 'Amor en línea', '/public/anuncio-tv-3' %></li>
		<li><%= link_to 'Ashley Madison', '/public/anuncio-tv-4' %></li>
              </ul>
            </div>

            <div class="span3">
              <h4>Legal y conducta</h4>
              <ul>
                <li><%= link_to 'Consejos de uso', usage_path %></li>
                <li><%= link_to 'Términos y condiciones', terms_conditions_path %></li>
                <li><%= link_to 'Política de Privacidad', privacy_policy_path %></li>
              </ul>
            </div>

            <div class="span3">
              <h4>Cellove © <%= Time.now.year %></h4>
              <ul>
                <li><%= link_to 'Contacto', new_contact_form_path %></li>
                <li><%= link_to 'Media & prensa', media_press_path %></li>
              </ul>
            </div>
          </nav>
        </div>
      </footer>
