<script>
$(document).ready(function() {
    $('#open-main-sidebar').sidr({
      name: 'main-sidebar',
      side: 'right' // By default
    });
});
</script>
<aside id="main-sidebar">
	<section id="user-sidebar">
	  	<ul>
		    <%
		      number_of_visits = current_user.user_visits.unseen.count
		      visit_str = ('<em>' + number_of_visits.to_s + '</em>').html_safe unless number_of_visits == 0
		    %>
		    <li><%= link_to (_('Me han visitado') + (!visit_str.nil? ? visit_str : '')).html_safe, user_hits_path %></li>
		    <li><%= link_to (_('Les he gustado') + indicate(current_user.likers.unseen.count)).html_safe, user_likes_path %></li>
		    <li><%= link_to (_('Mensajes') + indicate(current_user.mailbox.inbox.unread(current_user).to_a.count)).html_safe, conversations_path %></li>
		    <li><%= link_to (_('Hacemos buena pareja') + indicate(current_user.rates.unseen.count)).html_safe, nice_couple_path %></li>
		    <li>
		      <a href="<%= user_likes_of_mine_path %>">
		        <%= _('Te gustan') %> <em><%= User.people_i_like(current_user, params[:order]).count %></em>
		      </a>
		    </li>
			<li>
		      <a href="/user/cellove-index">
		      	<%= _('Índice Cellove') %> <em><%= current_user.cellove_percentage %>/100</em>
		      </a>
		    </li>
				<li class="profile">
		      <a href="<%= profile_path %>">
		        <%= _('Tu perfil') %> <em><%=current_user.progress_status.to_s %>% <%= _('completo') %></em>
		      </a>
		    </li>
		    <li>
		    	<%= link_to _('Búsquedas'), search_path({ years_start_lteq: current_user.lf_age_from, years_end_gteq: current_user.lf_age_to, city_eq: current_user.city, distance: '250', pictures_main_not_null: true }) %>
		    </li>
		</ul>
	</section>
	<div class="copyright-text">&copy; Copyright Cellove.com</div>
</aside>
