<% if false %>
  <section>
  	<header>
  		<h1>Celestin@s</h1>
  	</header>
  	<ul>
  		<li><%= link_to 'Mis celestin@s <em>(9)</em>','' %></li>
  		<li><%= link_to 'Quiero ser celestin@','' %></li>
  		<li class="highlight"><%= link_to '¡Mejora tu Índice Cellove!', '/user/celestinos-of-mine#tab_mejora' %></li>
  	</ul>
  </section>
<% else %>
  <section>
    <ul>
      <li><%= link_to 'Conviértete en usuari@','' %></li>
      <li><%= link_to 'Quiero ser celestin@','' %></li>
    </ul>
  </section>
<% end %>
