<% @page = 'home' %>
<% content_for(:title) { "Ponle alas al amor" } %>

<section id="slider" class="flex-container">
  <div class="flexslider loading">
    <ul class="slides">
      <li>
        <img src="/assets/home1.jpg">
      </li>
      <li>
        <img src="/assets/home2.jpg">
      </li>
      <li>
        <img src="/assets/home3.jpg">
      </li>
      <li>
        <img src="/assets/home4.jpg">
      </li>
      <li>
        <img src="/assets/home5.jpg">
      </li>
      <li>
        <img src="/assets/home6.jpg">
      </li>
      <li>
        <img src="/assets/home7.jpg">
      </li>
    </ul>
  </div>
</section>

<div id="home-highlights" class="row">
  <article class="span4">
    <header>
      <h1>Registro Usuario Gratis</h1>
    </header>
    <p>Si quieres conocer a alguien interesante y disfrutar juntos de vuestro tiempo libre o, quien sabe, ¡Encontrar tu media naranja!</p>
    <p><%= link_to 'Regístrate GRATIS', new_user_registration_path %> ahora en Cellove, es fácil y rápido. ¡Ponle alas al amor!</p>
    <%= link_to 'Registro Usuario Gratis', new_user_registration_path, class: 'more'  %>
  </article>
  <article class="span4">
    <header>
      <h1>Registro Celestin@ Gratis</h1>
    </header>
    <p>¿Quieres recomendar a un amig@, exnovi@ o familiar?</p>
    <p>Ayuda a esa persona a encontrar alguien interesante aportándole más visibilidad, popularidad y fiabilidad, sin ningún coste.</p>
    <%= link_to 'Registro Celestin@', new_user_registration_path, class: 'more' %>
  </article>
  <article class="span4">
    <header>
      <h1>¿Cómo funciona?</h1>
    </header>
    <p>Es muy fácil y efectivo. <%= link_to 'Regístrate', new_user_registration_path %> para encontrar personas afines por edad, gustos, estilo de vida...</p>
    <p>Encontrarás un montón de utilidades únicas para que tus citas no sean a ciegas.</p>
    <%= link_to '¿Como funciona?', how_it_works_path, class: 'more'  %>
  </article>
</div>
