<% title = _("¿Cómo funciona?") %>
<% description = _("A través de Cellove podrás comunicarte con quien desees, mediante nuestro Chat o Mensajes privados, y dispondrás de otras funciones para interactuar con los usuarios que te interesen, como enviar propuestas de actividad, comprobar si hacéis buena pareja, etc.") %>
<% content_for(:title) {title} %>
<% content_for(:description) {description} %>
<article>
  
  <header>
    <h1><%= _('¿Cómo funciona?') %></h1>
  </header>

  <div class="article-body">
    <p><%= _('Encontrar a tu pareja ideal es muy fácil. Sólo tienes que %{register_link}, especificar qué características buscas en una persona y Cellove se encarga del resto. ¡Así de fácil! Te proporcionaremos las personas que mejor encajen con tu perfil ¡para que seas tú quién elija!') % { register_link: link_to(_('registrarte gratis en Cellove'), new_user_registration_path) } %></p>

    <p><%= _('En Cellove lo más importante eres tú y que encuentres exactamente lo que buscas. Por ello, y porque el tiempo es oro, contamos con nuestra función exclusiva llamada') %> <%= link_to _('Celestin@s'), matchmakers_path %>.</p>

    <p><%= _('A través de Cellove podrás comunicarte con quien desees, mediante nuestro Chat o Mensajes privados, y dispondrás de otras funciones para interactuar con los usuarios que te interesen, como enviar propuestas de actividad, comprobar si hacéis buena pareja, etc.') %></p>

    <p><%= link_to _('Registrarse en Cellove es totalmente gratuito'), new_user_registration_path %>. <%= _('Podrás incluir tus datos y las características de la persona que buscas sin coste alguno. Cellove te proporcionará gratis acceso a los perfiles compatibles y afines a ti. Podrás navegar ilimitadamente por Cellove, 24h al día durante todo el año y visualizar todos los perfiles que desees, saber sus gustos y características, crear actividades, saber si tiene Celestinos y hablar con ellos... ¡Lo que quieras!') %></p>

    <p><%= _('Tu panel de control como usuario registrado va actualizándose a tiempo real, si recibes visitas nuevas a tu perfil, nuevos mensajes, chats,  propuestas de actividad, etc. De esta forma estarás al corriente de todo, podrás interactuar al instante y sacar máximo provecho de Cellove.') %></p>

    <p><%= _('Cellove te ofrece todas las herramientas y todo su potencial para encontar pareja o amistad completamente GRATIS. Sin duda,  podrás hacer realidad tu objetivo más íntimo y emocional, encontrar esa persona especial, sea amor o amistad duradera.') %></p>

    <p><%= _('Con Cellove, ¡tus citas ya no serán a ciegas!') %></p>
    <%= link_to _('¡Regístrate ahora Gratis!'), new_user_registration_path, class: 'more' %>
  </div>
</article>
