<% title = _("Celestin@s") %>
<% content_for(:title) {title} %>

<div class="container-fluid rounded-box page-content">
  <div class="content row-fluid">
    <div class="container-fluid nopadding">
      <div class="row-fluid text-center">
        <h1><%= title %></h1>
      </div>

      <div class="article-body flat-celestinos">

        <p>
          <%= _('Son las personas del entorno del usuario registrado que ayudan a encontrar con más confianza y seguridad a esa persona perfecta. Disponen de un panel privado y totalmente Gratis para recomendar a sus usuarios y otorgarle atributos y virtudes que serán visibles por los otros usuarios registrados afines a este.') %>
        </p>

        <p>
          <%= _('Hay cuatro tipos de Celestin@s y su finalidad es mejorar el Índice Cellove de los usuarios registrados:') %>
        </p>

        <blockquote>
          <i class="heart-pareja"></i>
          <p>
            <strong><%= _('Ex pareja:') %></strong> 
            <%= _('todos tenemos ex novios e incluso ex maridos. Puede que los dos no hayáis congeniado pero sois personas fantásticas, capaces de ofrecer amor y amistar y con ganas de encontrar a otra persona especial. ¿Porque no recomendarl@?') %>
          </p>

          <i class="heart-especial"></i>
          <p>
            <strong><%= _('Amigo especial:') %></strong> 
            <%= _('si tienes algún amigo con el que siempre has tenido mucha química, algo especial, y quieres ayudarlo a que encuentre el amor... ¡Recomiéndalo en Cellove!') %>
          </p>

          <i class="heart-amigo"></i>
          <p>
            <strong><%= _('Amigo:') %></strong> 
            <%= _('ayuda a tu mejor amig@ a que sea feliz encontrando a su media naranja, ¡apóyale en su búsqueda del amor! ¡Hazle de Ceslestino!') %></p>

          <i class="heart-familiar"></i>
          <p>
            <strong><%= _('Familiar:') %></strong> 
            <%= _('¿algún miembro de tu familia está buscando pareja o una amistad especial? ¿Tienes algún hermano, primo, o incluso a tu padre o tu madre les gustaría encontrar a alguien para compartir de nuevo su vida? ¡No lo dudes y ayúdales! ¡Recomiéndalos en Cellove!') %>
          </p>
        </blockquote>

        <p>
          <%= _('Esta función es completamente Gratis y siempre lo será.') %>
        </p>
        <p>
          <%= _('Porque te gusta ayudar a la gente que quieres…') %>
        </p>
        <p>
          <%= link_to _('¡Regístrate como Celestin@!'), new_matchmaker_registration_path, class: 'more' %>
        </p>

      </div>
    </div>
  </div>
</div>