<% title = "Media & Prensa" %>
<% content_for(:title) {title} %>
<article>

  <header class="bg clearfix">
    <h1>Media<br>&<br>Prensa</h1>
    <ul class="miniSlider">
      <li class="item active"><%= image_tag 'teaser-how.jpg' %>
      <li class="item"><%= image_tag 'teaser-how2.jpg' %>
    </ul>
  </header>
  <div class="article-body">
    <p><b>Cellove</b> cede los siguientes archivos para su divulgación y publicación en medios y prensa con finalidades legales y leales a nuestra marca. Ninguno de estos archivos debe ser modificado y/o manipulado. Solo se acepta el ajuste de medidas para su correcta visualización.</p>


    <div class="media-prensa">
      <div class="container">
        <h2>Material para descargar</h2>
        <div class="row">
          <article class="span3">
            <header>
              <h3>Logotipo</h3>
              <%= image_tag 'media/logocellove.jpg' %>
            </header>
            <p><a href="<%= asset_path 'media/logocellove.jpg' %>" target="_blank">logocellove.jpg</a></p>
          </article>
          <article class="span3">
            <header>
              <h3>Logotipo & Slogan</h3>
              <%= image_tag 'media/logocelloveslogan.jpg' %>
            </header>
            <p><a href="<%= asset_path 'media/logocelloveslogan.jpg' %>" target="_blank" target="_blank"">logocelloveslogan.jpg</a></p>
          </article>
          <article class="span3">
            <header>
              <h3>Diapositiva 1</h3>
              <%= image_tag 'media/diapositivacellove01.jpg' %>
            </header>
            <p><a href="<%= asset_path 'media/diapositivacellove01.jpg' %>" target="_blank">Diapositiva1.jpg</a></p>
          </article>
          <article class="span3">
            <header>
              <h3>Diapositiva 2</h3>
              <%= image_tag 'media/diapositivacellove02.jpg' %>
            </header>
            <p><a href="<%= asset_path 'media/diapositivacellove02.jpg' %>" target="_blank">Diapositiva2.jpg</p>
          </article>
        </div>
      </div>
    </div>
    <div class="media-prensa">
      <div class="container">
        <div class="row">
          <article class="span3">
            <header>
              <h3>Diapositiva 3</h3>
              <%= image_tag 'media/diapositivacellove03.jpg' %>
            </header>
            <p><a href="<%= asset_path 'media/diapositivacellove03.jpg' %>" target="_blank">Diapositiva3.jpg</a></p>
          </article>
          <article class="span3">
            <header>
              <h3>Diapositiva 4</h3>
              <%= image_tag 'media/diapositivacellove04.jpg' %>
            </header>
            <p><a href="<%= asset_path 'media/diapositivacellove04.jpg' %>" target="_blank">Diapositiva4.jpg</a></p>
          </article>
          <article class="span3">
            <header>
              <h3>Diapositiva 5</h3>
              <%= image_tag 'media/diapositivacellove05.jpg' %>
            </header>
            <p><a href="<%= asset_path 'media/diapositivacellove05.jpg' %>" target="_blank">Diapositiva5.jpg</a></p>
          </article>
          <article class="span3">
            <header>
              <h3>Diapositiva 6</h3>
              <%= image_tag 'media/diapositivacellove06.jpg' %>
            </header>
            <p><a href="<%= asset_path 'media/diapositivacellove06.jpg' %>" target="_blank">Diapositiva6.jpg</a></p>
          </article>
        </div>
      </div>
    </div>


  </div>
</article>
