<% title = _("Términos y condiciones generales de uso de Cellove") %>
<% content_for(:title) { title } %>

<article>

  <header>
    <h1><%= title %></h1>
  </header>

  <div class="article-body">

    <p><%= _('Cellove® es Marca registrada de CELLOVE SOCIAL NETWORK, S.L.') %></p>
    <h4>A. <%= _('CUESTIONES PRELIMINARES') %>:</h4>
    <h5>1. <%= _('Objeto de los presentes términos y condiciones generales.') %></h5>

    <p><%= _('Los presentes Términos y Condiciones tienen por objeto regular el uso de Cellove® Al visitar y/o utilizar los servicios prestados por CELLOVE SOCIAL NETWORK, S.L. a través de su página web www.cellove.com u otras de su propiedad, vinculadas a los servicios aquí establecidos, usted expresamente acepta hacerlo de acuerdo a los presentes Términos y Condiciones Generales de Uso de Cellove y sus modificaciones futuras. CELLOVE SOCIAL NETWORK, S.L. utilizará todos los recursos a su alcance para notificar de forma anticipada a sus usuarios, cualquier modificación en los presentes Términos y Condiciones de Uso, pero es obligación del usuario, visitar periódicamente estos Términos y Condiciones para comprobar si han sido actualizados.') %></p>

    <p><%= _('CELLOVE SOCIAL NETWORK, S.L. es una sociedad de nacionalidad española, con domicilio social en Ronda del Mar 53, CP 08720 Vilafranca del Penedès, Barcelona (España), con C.I.F. Nº B-65940686, e inscrita en el Registro Mercantil de Barcelona, Tomo 43573, Folio 214, Hoja  B-432621, Inscripción 1.') %></p>

    <h5>2. <%= _('¿Qué es Cellove®?') %></h5>
    <p><%= _('Cellove® es una página web que facilita y promueve las relaciones interpersonales a través de Internet.') %></p>

    <h5>3. <%= _('¿Los servicios de Cellove® son gratuitos?') %></h5>
    <p><%= _('Cellove® ofrece algunos servicios gratuitos y otros de pago, los que se detallarán mas adelante.') %></p>

    <h5>4. <%= _('¿Quiénes pueden ser usuarios de Cellove®?') %></h5>
    <p><%= _('Pueden ser usuarios de Cellove® todas aquellas personas que sean mayores de edad y que por su libre decisión completen el proceso de registro en Cellove®.') %></p>


    <h4>B. <%= _('CONDICIONES DE REGISTRO Y USO') %>:</h4>

    <p><b>1. <%= _('Usuario') %></b>: <%= _('Podrá ser usuario de Cellove® cualquier persona que sea mayor de edad según la legislación de su país. Para adquirir la condición de usuario, la persona que así lo desee, debe completar todos los datos requeridos en los formularios de registro. Siendo esta la única forma de acceder a los servicios gratuitos de Cellove®. Los servicios de pago de Cellove® requerirán, además de todo lo exigido para los servicios gratuitos, el pago del precio correspondiente a cada producto que el Usuario contrate.') %></p>

    <p><b>2. <%= _('Acceso') %></b>: <%= _('El dispositivo y la conexión a Internet, que permita al Usuario el acceso a Cellove®, corre por cuenta de éste. El Usuario puede conectarse utilizando cualquier navegador de Internet, aunque Cellove® no se hace responsable de las diferencias o errores de visualización que puedan provocar estos.') %></p>

    <p><b>3. <%= _('Tipos de Usuarios') %></b>: <%= _('Existen diferentes tipos de Usuarios en Cellove®: “Chico”, “Chica”, “Celestino” y “Celestina”. “Chico” y “Chica” son aquellos usuarios que buscan relacionarse con otros Usuarios.  “Celestino” y “Celestina” son aquellos usuarios que vinculados a algún “Chico” y/o “Chica”, promueven el encuentro de estos con otros “Chico” y/o “Chica”.') %></p>

    <p><b>4. <%= _('Incorporación de información y contenidos') %></b>: <%= _('A los efectos de lo que se dispone en los presentes términos de uso y condiciones generales, se entenderá que una información o contenido que se incorpora por un Usuario a Cellove® puede tener carácter público cuando se reproduzca, distribuya, transforme, comunique o se ponga a disposición del público a través de Cellove® dentro de sus lugares de acceso libre a la comunidad de Usuarios de Cellove®.') %></p>

    <p><%= _('En los espacios de uso privado para los Usuarios, los datos allí registrados son accesibles única y exclusivamente para los usuarios que la compartan. Nosotros respetamos su derecho a la propiedad del contenido creado o almacenado por usted.  A menos que sea permitido específicamente por usted, su uso de los servicios prestados por Cellove® no le otorga a Cellove®, la licencia para usar, reproducir, adaptar, modificar, publicar o distribuir el contenido creado por usted o almacenarlos en cuentas de uso comercial, o cualquier otro propósito similar. Sin embargo, usted otorga su permiso al acceder a Cellove® para que Cellove®, pueda copiar, distribuir, almacenar, transmitir, volver a formatear, mostrar públicamente y ejecutar públicamente el contenido de su cuenta de usuario solamente en el caso de tener que proporcionarle servicios de Cellove®, previamente autorizados por usted. De forma especial usted acepta que se realice copia de seguridad de sus datos y que estos se conserven en las instalaciones habilitadas por Cellove®, con el fin de proteger su información y la integridad de esta frente a posibles daños del sistema.') %></p>

    <p><b>5. <%= _('Contenido generado por usuarios') %></b>: <%= _('Usted puede transmitir o publicar contenido creado por usted con los servicios ofrecidos a tal efecto por Cellove®. Usted será el único responsable de dicho contenido y las consecuencias de su transmisión o publicación. Todo el contenido hecho público podría ser accesible al público a través de Internet y puede ser rastreado e indexado por los motores de búsqueda. Usted es responsable de asegurarse de no poner ningún contenido privado a disposición del público. Cualquier contenido que usted pueda recibir de otros usuarios a través de Cellove®, se le proporciona TAL CUAL para su información y uso personal y que se compromete a no utilizar, copiar, reproducir, distribuir, transmitir, difundir, exhibir, vender, licenciar o explotar el contenido para cualquier propósito, sin el consentimiento expreso y por escrito de la persona que posee los derechos de dicho contenido. En el curso de la utilización de cualquiera de los Servicios, si Usted se encuentra con cualquier contenido con copyright (s) o cualquier otra característica de protección contra copia(s), usted se compromete a no eliminar el aviso de copyright como desactivar dicha función de protección contra copia(s).  Usted acepta expresamente que Cellove® tendrá el derecho de bloquear el acceso o remover dicho contenido puesto a disposición por usted, si Cellove® recibe quejas sobre cualquier ilegalidad o violación de los derechos de terceros en el contenido. Usted consiente expresamente que la determinación de las cuestiones de ilegalidad o violación de los derechos de terceros de este contenido se  determine por el agente designado por Cellove® para este propósito.') %></p>

    <p><b>6.</b> <%= _('Los usuarios pueden denunciar ante Cellove® a otros usuarios bajo cuyos perfiles se presenten textos, imágenes y/o audios (y/o enlaces a textos, imágenes y/o audios) que les parezcan contrarios al respeto de la dignidad de las personas, razas, sexos, religiones, opiniones, nacionalidades, discapacidades, o cualesquiera otras circunstancias personales o sociales, y/o contrarios al orden público, perjudiciales para la protección de la juventud y la infancia y/o que infrinjan derechos de propiedad intelectual, insultos, injurias, calumnias, textos, imágenes y/o audios (y/o enlaces a textos, imágenes y/o audios) que describan escenas obscenas, comentarios desagradables de cualquier tipo, contrarios al espíritu del servicio de Cellove® y/o en general, cualesquiera contenidos contrarios a la legislación vigente. Cualquier usuario podrá denunciar las conductas de dichos usuarios ante Cellove®, que recibirá la denuncia, la valorará y adoptará una decisión sobre si expulsar, o no, y/o comunicar una advertencia al usuario denunciado, tras sopesar la gravedad de los hechos.') %></p>

    <p><%= _('Para denunciar por ilegalidad o violación de los derechos de terceros un contenido transmitido o publicado al utilizar los Servicios de Cellove®, o desea protestar contra cualquier bloqueo o eliminación del contenido de Cellove® póngase en contacto con el departamento legal de Cellove®, en cellove@cellove.es.') %></p>


    <h4>C. <%= _('OBLIGACIONES') %>:</h4>

    <p><b>1. <%= _('Generales') %></b>: <%= _('Es una obligación general de cualquier Usuario, no publicar contenidos ofensivos contra otros usuarios o contra Cellove®. No publicar contenidos que el mismo Usuario pretenda queden en la esfera de su intimidad personal, No infringir la propiedad industrial e intelectual de terceros o de Cellove® y de tomar las precauciones necesarias en los encuentros personales con otro Usuario.') %></p>

    <p><b>2. <%= _('De Cellove®') %></b>: <%= _('Cellove® se obliga a través de una página de Internet, a prestar de manera ininterrumpida, siempre que diferentes cuestiones técnicas se lo permitan, un servicio de facilitación y promoción de encuentros interpersonales. CELLOVE SOCIAL NETWORK, S.L. no tiene por objeto, ser mediador, ni garantiza el cumplimiento de encuentros establecidos entre sus Usuarios. CELLOVE SOCIAL NETWORK, S.L. no se hace responsable de la información o contenidos a los que pueda accederse desde los enlaces o hipervínculos a otras páginas web que se inserten en Cellove®.') %></p>

    <p><b>3. <%= _('Del Usuario') %></b>: <%= _('Cualquier Usuario está obligado a no publicar contenidos no ajustados a su persona y/o realidad personal. Es obligación de todos los Usuarios el no publicar datos personales o de contacto de cualquier otro Usuario o de terceros. Es obligación de todos los Usuarios, utilizar Cellove® solo con fines personales y nunca con fines profesionales. Todos los Usuarios deben mantener en secreto la contraseña brindada por Cellove®. Queda expresamente prohibida la incorporación de información y los contenidos:') %></p>

    <blockquote>

      <p><b>3.1</b> <%= _('Que resulten contrarios a la ley, a la moral, a las buenas costumbres, al orden público establecido o que tengan fines ilícitos, prohibidos o que puedan ser lesivos de derechos e intereses de terceros.') %></p>

      <p><b>3.2</b> <%= _('Que, sin estar comprendidos en el apartado anterior, puedan considerarse como un trato difamatorio, vejatorio o simplemente desconsiderado para personas o instituciones; o de alguna forma puedan identificarse con supuestos de discriminación de las personas por razón de su nacimiento, raza, origen étnico, sexo, religión, opinión o cualquier otra circunstancia personal o social.') %></p>

      <p><b>3.3</b> <%= _('Que cuestionen o pongan en duda el buen nombre, profesionalidad o proyección social de las actividades desarrolladas por Cellove®. En particular, no se puede usar Cellove® para canalizar quejas o reclamaciones relacionadas con los productos y los servicios que comercialice CELLOVE SOCIAL NETWORK, S.L.') %></p>
    </blockquote>

    <h4>D. <%= _('PROPIEDAD INTELECTUAL E INDUSTRIAL') %>:</h4>

    <p><%= _('Los derechos de propiedad intelectual e industrial sobre la plataforma tecnológica, los instrumentos técnicos, sistemas informáticos y contenidos de  (bases de datos, información, imágenes, diseños, gráficos, formatos y códigos en cualquier lenguaje de programación), excepción hecha de los contenidos incorporados por los Usuarios conforme a estas condiciones, corresponden a CELLOVE SOCIAL NETWORK, S.L. por ser de su propiedad o haber obtenido previamente las autorizaciones pertinentes. En consecuencia, queda prohibida su reproducción, distribución, comunicación pública y transformación sin su autorización expresa. Igualmente, queda prohibido todo tipo de uso de los nombres comerciales, marcas o signos distintivos de cualquier clase, titularidad de Cellove® o CELLOVE SOCIAL NETWORK, S.L., sin su autorización expresa. El registro como Usuario en Cellove® no otorga otro derecho, que el de uso de la plataforma conforme a las presentes condiciones de uso, sin conceder a los Usuarios ningún otro derecho que no esté expresamente contemplado en los presentes Términos y Condiciones de Uso.') %></p>

    <h4>E. <%= _('PUBLICIDAD Y COMUNICACIONES COMERCIALES') %>:</h4>

    <p><b><%= _('Comunicaciones de Cellove®') %></b>: <%= _('El uso de Cellove® puede incluir ciertas comunicaciones de Cellove®, tales como anuncios de servicio, mensajes administrativos y boletines informativos. Usted entiende que estas comunicaciones se consideran parte de la utilización de Cellove®. Como parte de nuestra política para ofrecerle total privacidad, ponemos a su disposición la opción de optar por dejar de recibir boletines de noticias. Sin embargo, el usuario no podrá optar por dejar de recibir anuncios de servicio y/o mensajes administrativos, en tanto que no se dé de baja según lo establecido en el apartado H. Estas comunicaciones comerciales serán visibles para todos los usuarios de Cellove®.') %></p>

    <p><b><%= _('Comunicaciones comerciales de terceros anunciantes') %></b>: <%= _('Todo usuario comprende y acepta que el uso de Cellove® comporta la aceptación de la aparición de anuncios de terceros durante la navegación. Estas comunicaciones comerciales serán visibles para los usuarios del Pase GRATIS, pero no para los usuarios del Pase VIP (en el apartado I se explica en qué consisten el Pase GRATIS y el Pase VIP).') %></p>

    <p><%= _('Todo usuario comprende y acepta que la plataforma web de Cellove®, www.cellove.com, actúa sólo como medio en el que terceros difunden anuncios, sin que CELLOVE SOCIAL NETWORK, S.L. asuma responsabilidad alguna sobre el contenido de los anuncios de terceros, más allá de lo expresamente previsto por la legislación vigente.') %></p>

    <p><b><%= _('Anuncios de los propios Usuarios') %></b>: <%= _('Todo usuario comprende y acepta que el uso de Cellove® comporta la aceptación de la aparición de anuncios de Usuarios mediante un gestor de anuncios y sistema de pago on-line para tal efecto, en los que los Usuarios que lo deseen, a través de su “anuncio”, pueden presentarse y darse a conocer para ser más visibles. Cellove® pondrá los medios que tenga a su alcance para que dichos anunciantes sean más visibles para los demás usuarios, para aumentar sus posibilidades de encontrar pareja.  Estas comunicaciones comerciales serán visibles para todos los usuarios de Cellove®.') %></p>


    <h4>F. <%= _('INCUMPLIMIENTO DE LAS CONDICIONES DE USO') %>:</h4>

    <p><%= _('CELLOVE SOCIAL NETWORK, S.L. podrá adoptar las normas y medidas de seguridad que en cada momento considere oportunas para garantizar que el acceso y la participación por parte de los Usuarios de Cellove® se desarrolla de acuerdo con las condiciones de uso y con sujeción a lo dispuesto en la normativa vigente aplicable.') %></p>

    <p><%= _('Sin necesidad de cumplir o realizar ningún trámite o comunicación previa, CELLOVE SOCIAL NETWORK, S.L. podrá, en cualquier momento:') %></p>
    <ul>
      <li>- <%= _('Bloquear temporalmente o retirar de forma definitiva la información pública y los contenidos que se incorporen a la red pública de Cellove® cuando tenga la sospecha o la certeza de que los mismos pueden infringir lo dispuesto en las condiciones de uso o en la normativa legal aplicable.') %></li>
      <li>- <%= _('Restringir o suspender la participación en la red de Cellove®, de cualquier Usuario e, incluso, expulsarle de forma definitiva en caso de incumplimiento de cualquiera de las condiciones de uso o de la normativa legal aplicable.') %></li>
    </ul>


    <h4>G. <%= _('RESPONSABILIDADES') %>:</h4>

    <p><%= _('Usted entiende y acepta que el uso del servicio de Cellove® se realiza bajo su propio riesgo. Cellove® NO garantiza bajo ningún concepto la seguridad de sus usuarios en los casos de encuentros personales y/o virtuales, y recomienda adoptar las medidas de seguridad habituales en este tipo de encuentros. Cellove® presta el servicio de forma TAL CUAL y, según disponibilidad. CELLOVE SOCIAL NETWORK, S.L. no garantiza que el servicio no sea  interrumpido, oportuno, seguro o libre de virus. El uso de cualquier material descargado u obtenido a través de los servicios de Cellove® se realiza por su propia cuenta y riesgo y usted será el único responsable de cualquier daño a su sistema informático, teléfono móvil, dispositivo inalámbrico o pérdida o deterioro de datos. Ningún consejo o información, oral o escrita, obtenida por usted de Cellove®, o sus empleados o representantes será una garantía fuera de lo expresamente contenido en estos términos y condiciones. Usted como Usuario, acepta que CELLOVE SOCIAL NETWORK, S.L., en ningún caso, se hace responsable por los daños accidentales, indirectos, especiales, punitivos, o daño alguno, como pueden ser los daños por difamación, daños morales o violación de su intimidad, o de otro tipo de pérdida o daños, derivados desde o causados por su uso o imposibilidad de usar el servicio de Cellove®. CELLOVE SOCIAL NETWORK, S.L. no responderá en caso de daños y perjuicios ocasionados, por negligencia en el uso y custodia de la clave de acceso o mala gestión de la misma por su usuario titular incluyendo los daños por un uso no autorizado por terceros. CELLOVE SOCIAL NETWORK, S.L. no responderá por casos de fuerza mayor. CELLOVE SOCIAL NETWORK, S.L. se exonera de toda responsabilidad por la información y contenidos que los Usuarios incorporen a Cellove®, y por la utilización que de los mismos realicen otros Usuarios o terceros ajenos a la red de Cellove®.') %></p>

    <p><%= _('Responsabilidad personal de los usuarios: Cada Usuario responderá de los daños y perjuicios causados a CELLOVE SOCIAL NETWORK, S.L. y/o a otros Usuarios y/o a terceros por el incumplimiento de cualquiera de las condiciones de uso.') %></p>


    <h4>H. <%= _('BAJA DE USUARIO') %>:</h4>

    <p><%= _('El acceso y uso de Cellove® tiene una duración indefinida, con sujeción a las condiciones de uso. En cualquier momento, un usuario podrá instar su baja  a través de la funcionalidad habilitada en el entorno de Cellove®, sin necesidad de ningún otro trámite. Así mismo, Cellove® podrá dar por finalizada la participación de un usuario de Cellove® por incumplimiento de las condiciones aceptadas en este documento. Los datos referidos a los Usuarios, así como la información y los contenidos aportados por estos, se bloquearán, conservándose únicamente para la atención de las responsabilidades que, en su caso, se deriven para CELLOVE SOCIAL NETWORK, S.L. por el tiempo que dure el plazo de prescripción de estas. Cumplido el citado plazo, los datos, información y contenidos mencionados serán suprimidos.') %></p>

    <h4>I. <%= _('CARGOS Y PAGOS') %>:</h4>

    <p><%= _('El uso de servicios de pago habilitados por Cellove® son los siguientes') %>:</p>

    <ul>
      <li>a. <b><%= _('Pase GRATIS') %></b>: <%= _('El uso de este servicio está libre de pago y permite el uso de cinco (5) mensajes privados al día, dos (2) Chats simultáneos, acceso veinticuatro (24) horas y navegación ilimitada en www.cellove.com, con publicidad en la navegación. El usuario entiende y acepta de forma expresa que con el fin de prestar cada vez mejor servicio a sus usuarios, Cellove® cada tanto tiempo podrá modificar y/o adaptar los servicios que incorpora este Pase, en cuyo caso informará a los usuarios de aquellas condiciones y/o requerimientos que hayan sido introducidos, que deberán ser aceptados por los Usuarios a fin de seguir haciendo uso del servicio.') %></li>

      <li>b. <b><%= _('Pase VIP') %></b>: <%= _('El uso de este servicio permite el uso ilimitado de mensajes privados y de Chats simultáneos, acceso las veinticuatro (24) horas y navegación ilimitada y navegación oculta, previa activación, en www.cellove.com, sin publicidad en la navegación. El precio aplicable al contratar el Pase VIP es de cuatro euros con noventa y nueve (4,99 €) al mes (IVA incluido).') %></li>


    </ul>

    <p><%= _('La contratación es mensual y sin posibilidad de retorno del importe pagado si durante el periodo de contratación el Usuario VIP decide dejar de usar el servicio, este seguirá activo hasta la fecha de vencimiento. El pago es mensual y el cliente que desee dejar de disfrutar de los servicios VIP establecidos y pagar la cuota, podrá darse de baja a través del envío de un correo electrónico a cellove@cellove.com con expresión de su petición de baja, sin más formalidades que expresar de forma clara su voluntad de darse de baja y su identificación. A falta de la comunicación del Usuario VIP de su baja, el Usuario VIP entiende y acepta que su Pase VIP se mantendrá activo y sus pases mensuales se renovarán automáticamente, en tanto que no haya sido dado de baja.') %></p>

    <p><%= _('La baja de un usuario VIP no interrumpe el servicio mensual, este queda activo hasta su vencimiento, sin que quepa por parte de los usuarios reclamar la recuperación de los importes ya abonados o parte proporcional de los mismos, salvo en caso de incumplimiento debidamente probado, e injustificado, de los servicios que corresponde prestar a Cellove®, según se describen en estos Términos y Condiciones.') %></p>

    <p><%= _('Lo estipulado en los dos párrafos anteriores es sin perjuicio del derecho de desistimiento que asiste al usuario para dejar sin efecto el contrato, derecho que el usuario podrá ejercitar notificándoselo así a CELLOVE SOCIAL NETWORK, S.L. en un plazo no superior a siete (7) días hábiles, a contar a partir de la celebración del contrato. El ejercicio por el usuario de este derecho podrá efectuarse sin necesidad de justificar su decisión y sin penalización a aquel.') %></p>

    <p><%= _('Para ejercitar el derecho de desistimiento el usuario remitirá a CELLOVE SOCIAL NETWORK, S.L. un documento manifestando el ejercicio de dicho derecho, que podrá enviar a la dirección de correo postal o electrónico indicadas en las presentes condiciones, a efectos de notificaciones.') %></p>

    <p><%= _('Una vez ejercitado el derecho de desistimiento de conformidad con lo establecido en estas condiciones y en la legislación vigente, CELLOVE SOCIAL NETWORK, S.L. le devolverá al usuario el importe del pago realizado por el servicio contratado y objeto de desistimiento, sin retención de gastos y sin repercutir gastos al usuario, realizándose la devolución lo antes posible y, en todo caso, en un plazo máximo de 30 días a contar desde el desistimiento.') %></p>

    <p><%= _('El usuario que haya ejercitado el derecho de desistimiento no deberá indemnizar a CELLOVE SOCIAL NETWORK, S.L. por el uso del servicio realiazado antes del ejercicio del citado derecho.') %></p>

    <p><%= _('Para el ejercicio del derecho de desistimiento, CELLOVE SOCIAL NETWORK, S.L. le enviará al usuario un documento de desistimiento, identificado como tal, con los datos de identificación del contrato y de los contratantes, así como expresión del nombre y dirección de la persona a quien el usuario deberá enviarlo, en el caso de querer ejercitar dicho derecho.') %></p>

    <p><%= _('La compra se realizará mediante plataforma de pago vía tarjeta de crédito, PAYPAL o transferencia bancaria o cualquier otro sistema que Cellove® implante a tal efecto.') %></p>

    <h4>J. <%= _('ATENCIÓN A LOS USUARIOS') %>:</h4>

    <p><%= _('Los usuarios de Cellove® pueden dirigir sus quejas y/o reclamaciones o solicitar información sobre el servicio ofertado o contratado por correo postal a CELLOVE SOCIAL NETWORK, S.L. Ronda del Mar 53, CP 08720 Vilafranca del Penedès, Barcelona (España), o por correo electrónico a cellove@cellove.com. ') %></p>

    <h4>K. <%= _('LEGISLACIÓN APLICABLE Y JURISDICCIÓN') %>:</h4>

    <p><%= _('Las presentes condiciones de uso, las Condiciones Particulares e instrucciones que, en su caso, CELLOVE SOCIAL NETWORK, S.L. a través de Cellove® establezca y, en general, las relaciones entre CELLOVE SOCIAL NETWORK, S.L. y los usuarios se encuentran sometidas a la legislación y jurisdicción españolas. Para cualquier divergencia surgida de las presentes condiciones de uso, ambas partes se someten expresamente a los juzgados y tribunales de la ciudad de Barcelona con renuncia a su propio fuero, si este fuese otro.') %></p>
  </div>
</article>
