<% title = _("Consejos de uso") %>
<% content_for(:title) {title} %>
<%= render 'shared/flat-header' %>

<div class="container-fluid rounded-box page-content">
  <div class="content row-fluid">
    <div class="container-fluid nopadding">
      <div class="row-fluid text-center">
        <h1><%= title %></h1>
      </div>

      <p><%= _('Estamos convencidos que Cellove puede aportarte nuevas experiencias, conocer a esa persona con la que puedes tener una conexión especial, pero también os diremos que esto es como la vida misma, hay que estar en el momento adecuado y hacer que surja la chispa =)') %></p>

      <p><%= _('Nuestros consejos para sacar el máximo partido de Cellove son los siguientes:') %></p>

      <h3><%= _('‘Pon el máximo de información sobre ti’') %></h3>
      <p><%= _('Rellena tanto como puedas la información de tu perfil, es tu presentación y la puerta de acceso hacia ti') %></p>

      <h3><%= _('‘Sé activo’') %></h3>
      <p><%= _('Muévete y sé dinámico dentro de la página, deja mensajes, propón conversaciones, deja huella de tu presencia y responde a tus peticiones') %></p>

      <h3><%= _('‘Muéstrate tal como eres’') %></h3>
      <p><%= _('Sé tú mismo relacionándote como en tu vida social, o mejor! Sé accesible y dispuesto a abrir puertas') %></p>
      <h3><%= _('‘Mejora tu Índice Cellove’') %></h3>
      <p><%= _('Utiliza la gran herramienta que son tus Celestin@s. Tod@s tenemos  amigos del alma, gente dispuesta a ayudar y contactos que pueden hablar bien de ti, y junto con otros detalles, esto es lo que hará que mejore tu Índice Cellove') %></p>
      <h3>
      <%= _('‘Y utilízanos como tu nuevo camino para rellenar tu vida de nueva gente interesante y con la que compartir grandes momentos’') %></h3>
      
    </div>
  </div>
</div>