<% @page = "blog-tag" %>
<% @title = "Blog Tag" %>
<% @sidebar = true %>
<% @isblog = true %>

<h2 class="category-title">Nombre del tag</h2>
<div class="row">
	<%= render '/shared/public-blog-list-item' %>
	<%= render '/shared/public-blog-list-item' %>
	<%= render '/shared/public-blog-list-item' %>
	<%= render '/shared/public-blog-list-item' %>
	<%= render '/shared/public-blog-list-item' %>
	<%= render '/shared/public-blog-list-item' %>
</div>