<% @page = "blog-category" %>
<% @title = "Blog Category" %>
<% @sidebar = true %>
<% @isblog = true %>

<h2 class="category-title">Testimonios</h2>
<div class="row">
	<%= render '/shared/user/blog-list-item' %>
	<%= render '/shared/user/blog-list-item' %>
	<%= render '/shared/user/blog-list-item' %>
	<%= render '/shared/user/blog-list-item' %>
	<%= render '/shared/user/blog-list-item' %>
	<%= render '/shared/user/blog-list-item' %>
</div>