<div id="header-actions">

	<div id="header-preface">
		<div id="user-options"><%= link_to 'Cambiar configuración', '/user/settings/' %> | <%= link_to 'Editar mi perfil', '/user/profile/' %> | <%= link_to 'Desconectar', '/public/home' %></div>

		<div id="color-switcher" class="header-switcher">
			<ul>
				<li class="picker"><a href="#">Ponle color <i></i></a></li>
				<% (1..5).each_with_index do |i| %>
					<li class="leaf"><a href="#"><img src="/images/skin<%= i %>-thumb.jpg"> Fondo <%= i %></a></li>
				<% end %>
			</ul>
		</div>

		<div id="lang-switcher" class="header-switcher">
			<ul>
				<li class="picker"><a href="#">Castellano</a><i></i></li>
				<li class="leaf"><a href="#">Català</a></li>
			</ul>
		</div>

	</div>

	<p class="user-count">Somos 60.000 usuari@s. ¡Gracias por vuesra confianza!</p>
	<p class="user-info">Bienvenid@, Josep María | <strong>Estás disponible para chatear</strong></p>
</div>