		<nav role="navigation">
          <ul class="clearfix">
            <li class="home"><%= link_to 'Inicio','/public/home' %></li>
            <li><%= link_to 'Búsquedas','/public/alta-usuario' %></li>
            <li><%= link_to 'Mensajes','/public/alta-celestino' %><span>5</span></li>
            <li><%= link_to 'Visitas','/public/ver-usuarios' %><span>2</span></li>
            <li><%= link_to 'Chat','/public/ver-usuarios' %><span>10</span></li>
            <li><%= link_to 'Actividades','/public/ver-usuarios' %><span>999</span></li>
            <li><%= link_to '¡Me gustan!','/public/ver-usuarios' %></li>
          </ul>
        </nav>