<nav role="navigation">
  <ul class="clearfix">
    <li><%= link_to 'Visitas','/user/hits' %><span>2</span></li>
    <li><%= link_to '¡Les he gustado!','/user/likes' %></li>
    <li><%= link_to 'Mensajes','/user/messages' %><span>5</span></li>
    <li><%= link_to 'Actividades','/user/messages-activities' %><span>999</span></li>
    <li><%= link_to 'Búsquedas','/user/search' %></li>
    <li><%= link_to 'Chat','/user/chat' %><span>10</span></li>
  </ul>
</nav>