<!-- will_paginate ready! -->
<div class="pagination">
	<span class="total">Mostrando usuari@s 1 a 12 de 340.</span>
	<span class="pages">
		<%= link_to '&laquo;','#', class: 'prev' %> 
		<span class="numbers">
			<%= link_to '1', '#', class: 'current' %>
		<% (2..5).each do |i| %>
			<%= link_to i, '#' %>
		<% end %>
		...
		<% (6..10).each do |i| %>
			<%= link_to i, '#' %>
		<% end %>
		</span>
		<%= link_to '&raquo;','#', class: 'next' %>
	</span>
</div>