<article class="user-card online">
  <ul class="pics">
    <li><a href="/user/user-profile"><img src="/users/placeholder1.jpg"></a></li>
    <li><a href="/user/user-profile"><img src="/users/placeholder2.jpg"></a></li>
  </ul>
  <header>
    <h1><%= link_to 'Maria Teresa', '/user/user-profile' %><br><span>Santa Coloma de...</span><br>24 años</h1>
  </header>
  <ul class="actions clearfix">
    <li class="message"><%= link_to 'Send Message', '#fast-reply', 'data-toggle' => 'modal' %></li>
    <li class="chat"><%= link_to 'Chat', '/user/chat/' %></li>
    <li class="like"><%= link_to 'Like', '/user/likes-of-mine/' %></li>
    <li class="block"><%= link_to 'Block', '#user-block', 'data-toggle' => 'modal' %></li>
  </ul>
</article>