<article class="user-card online">
  <ul class="pics">
    <li><a href="/user/user-profile"><img src="/users/placeholder1.jpg"></a></li>
    <li><a href="/user/user-profile"><img src="/users/placeholder2.jpg"></a></li>
    <li><a href="/user/user-profile"><img src="/users/placeholder3.jpg"></a></li>
  </ul>
  <header>
    <h1><%= link_to 'Maria Teresa', '/user/user-profile' %> 24 años<br><span>Santa Coloma de Gramenet</span></h1>
  </header>
  <ul class="actions clearfix">
    <li class="message"><%= link_to 'Send Message', '#' %></li>
    <li class="chat"><%= link_to 'Chat', '#' %></li>
    <li class="like"><%= link_to 'Like', '#' %></li>
    <li class="block"><%= link_to 'Block', '#' %></li>
  </ul>
</article>