<div style="background-color:#e5f2fb;margin:0;padding:0;min-height:100%!important;width:100%!important">
    	<center>
        	<table width="100%" cellspacing="0" cellpadding="0" border="0" height="100%" style="background-color:#e5f2fb;margin:0;padding:0;border-collapse:collapse!important;height:100%!important;width:100%!important">
            	<tbody>
                <tr>
                	<td valign="top" align="center" style="padding:30px 20px 30px 20px;margin:0;height:100%!important;width:100%!important">
                    	<table cellspacing="0" cellpadding="0" border="0" style="width:600px;border-collapse:collapse!important">
                        	<tbody>
                            <tr>
                                <td valign="top" align="right" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:11px;line-height:125%;padding-bottom:30px;text-align:right">
                                    <%= _('Añade el correo cellove@cellove.com a tu lista de contactos') %>
                                </td>
                            </tr>
                            <tr>
                            	<td valign="top" align="center" style="padding:10px;text-align:center;background-color:#5cabe8;" width="400px">
                                	<a target="_blank" style="text-decoration:none" title="Cellove.com" href="http://www.cellove.com">
                                        <img alt="Cellove.com" src="http://static.cellove.com/images/cellove-mail.png">
                                    </a>
                                </td>
                                <td align="center" style="padding:10px;text-align:center;background-color:#2C2C2C;">
                                    <a target="_blank" style="text-decoration:none;color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:150%;" title="Cellove.com" href="http://www.cellove.com">
                                        <h3>
                                        	<%= _('Entrar<br>
	                                        directamente<br>
	                                        a mi perfil') %>
	                                    </h3>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td valign="top" align="center" style="padding-top:0px;padding-bottom:20px" colspan="2">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color:#ffffff;border-collapse:separate!important;border-radius:4px">
                                                    <tbody>
                                                    <tr>
                                                    	<td valign="top" align="center" style="padding-top:30px;padding-right:40px;padding-bottom:10px;padding-left:40px">
                                                            <h2 style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:26px;font-weight:bold;line-height:115%;margin:0;padding:0;text-align:left;color:#373737!important;text-decoration:none!important">
                                                        	   <%= _('Recuperación de contraseña') %></h2>
                                                        </td>
                                                    </tr>
<tr>
                                            <td valign="top" align="center" style="padding-top:10px;padding-right:40px;padding-bottom:30px;padding-left:40px;color:#373737;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:150%;text-align:left">
												<p><%= _('Hola') %> <%= @resource.email %>!</p>

												<p><%= _('Has pedido cambiar tu contraseña de Cellove.com. Puedes hacelo siguiendo el siguiente enlace:') %></p>

												<p><%= link_to _('Cambiar mi contraseña'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

												<p><%= _('Si no has pedido este cambio, porfavor ignora este correo.') %></p>
												<p><%= _('Tu contraseña no va a cambiar hasta que accedas al enlace y crees una nueva.') %></p>
                                            </td>
                                        </tr>
										<tr>
                                        	<td valign="top" align="center">
                                            	<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse!important">
													<tbody><tr>
                                                    	<td valign="top" style="padding-top:30px;padding-right:40px;padding-bottom:40px;padding-left:40px;border-top:solid 2px #f2f2f2;color:#373737;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:150%;text-align:left">
                                                    		<%= _('¡Disfruta!') %>
                                                            <br>
                                                            <%= _('El equipo de Cellove') %>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                            	<td valign="top" align="center" colspan="2">
                                 	<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse!important">
                                    	<tbody>
                                        <tr>
                                        	<td valign="top" align="center" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:11px;line-height:125%;padding-bottom:30px;text-align:center">
                                        		<%= _('Has recibido este correo de Cellove Social Network porque tu correo está registrado a Cellove.com. Si no deseas seguir recibiendo correos, modifica tu configuración de usuario dentro en Cellove.com.') %>
                                                
                                            </td>
                                        </tr>
                                    	<tr>
                                        	<td valign="top" align="center">
                                            	<table cellspacing="0" cellpadding="5" border="0" style="border-collapse:collapse!important">
                                                	<tbody>
                                                    <tr>
                                                    	<td valign="top" style="font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%">
                                                        	<a target="_blank" style="color:#606060" href="http://www.cellove.com/terms-and-conditions">
                                                        		<%= _('Terminos y condiciones') %>
                                                        	</a>
                                                        </td>
                                                        <td valign="top" style="font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%">
                                                             <b><a target="_blank" style="color:#606060" href="http://www.cellove.com">
                                                             	<%= _('Entra en Cellove.com') %>
                                                             </a></b>
                                                        </td>
                                                    	<td valign="top" style="font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%">
                                                        	<a target="_blank" style="color:#606060" href="http://www.cellove.com/user/settings/">
                                                        		<%= _('Configuración de cuenta') %>
                                                        	</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </center>
</div>