<aside class="sidebar blog-sidebar">
	<h4>Categorías</h4>
	<ul>
		<li<%= ' class="active"' if @page == 'blog-home' %>><%= link_to 'Portada del blog', '/public/blog-home' %></li>
		<li><%= link_to 'Noticias', '/public/blog-category' %></li>
	</ul>
	<h4>Lo más leído</h4>
	<ul>
		<li><%= link_to 'Encuentran un restaurante secreto y cenan solos', '/public/blog-post' %></li>
		<li<%= ' class="active"' if @page == 'blog-post' %>><%= link_to 'Se conocieron en Cellove ¡y fueron juntos al salón del manga!', '/public/blog-post' %></li>
		<li><%= link_to 'Carlos e Inés nos cuentan su viaje de novios', '/public/blog-post' %></li>
	</ul>

	<h4>Nube de tags</h4>
	<div class="tag-cloud">
		<span style="font-size:8pt"><a href="/public/blog-tag">alien tentacles</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">b/s</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">bi</a></span>&nbsp;&nbsp;
		<span style="font-size:11pt"><a href="/public/blog-tag">big boobs</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">bisexual</a></span>&nbsp;&nbsp;
		<span style="font-size:14pt"><a href="/public/blog-tag">blowjob</a></span>&nbsp;&nbsp;
		<span style="font-size:14pt"><a href="/public/blog-tag">brother</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">cheating wife</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">daddy</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">dog sex</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">exhibitionist</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">family</a></span>&nbsp;&nbsp;
		<span style="font-size:17pt"><a href="/public/blog-tag">father</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">first time</a></span>&nbsp;&nbsp;
		<span style="font-size:17pt"><a href="/public/blog-tag">force</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">group</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">group sex</a></span>&nbsp;&nbsp;
		<span style="font-size:11pt"><a href="/public/blog-tag">hcb solar</a></span>&nbsp;&nbsp;
		<span style="font-size:36pt"><a href="/public/blog-tag">incest</a></span>&nbsp;&nbsp;
		<span style="font-size:11pt"><a href="/public/blog-tag">lesbian</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">lesbians</a></span>&nbsp;&nbsp;
		<span style="font-size:11pt"><a href="/public/blog-tag">masturbation</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">mother</a></span>&nbsp;&nbsp;
		<span style="font-size:11"><a href="/public/blog-tag">power</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">pyramid vaporizer vt</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">sexy</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">shower</a></span>&nbsp;&nbsp;
		<span style="font-size:11pt"><a href="/public/blog-tag">smartbox</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">son</a></span>&nbsp;&nbsp;
		<span style="font-size:17pt"><a href="/public/blog-tag">teen</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">triple-penetration</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">voyeur</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">voyeurism</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">weird fucking</a></span>&nbsp;&nbsp;
		<span style="font-size:8pt"><a href="/public/blog-tag">wife</a></span>&nbsp;&nbsp;
		<span style="font-size:11pt"><a href="/public/blog-tag">zquiet</a></span>&nbsp;&nbsp;
	</div>
</aside>