<%= content_for :title do %>
  Quiero encontrar
<% end %>

<header class="bg clearfix">
  <h1>Registro<br>Usuari@<br>Gratis!</h1>
  <ul class="miniSlider">
    <li class="item active"><%= image_tag 'teaser-user.jpg' %></li>
    <li class="item"><%= image_tag 'teaser-user2.jpg' %></li>
  </ul>
</header>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'register-form' }) do |f| %>
  <%= display_base_errors resource %>
  <div class="row">
    <div class="span4">
      <fieldset id="name" class="clearfix">
        <legend>¿Quién eres?</legend>
        <p>Me llamo<br>
        <%= f.text_field :name, :autofocus => true, placeholder: t('simple_form.labels.user.name') %>
        <%= f.text_field :surname, placeholder: t('simple_form.labels.user.surname') %>
        <p>
        <%= f.text_field :screen_name, placeholder: t('simple_form.labels.user.screen_name') %>
        <small class="span3">* Te recomendamos dejar este campo vacío para tener más posibilidades de contactos y Celestin@s.</small>
      </fieldset>
    </div>

    <div class="span8">
      <p>Regístrate ahora mismo en Cellove, es muy fácil y rápido, y en segundos estarás viendo a usuari@s que buscan lo mismo que tu.</p>
      <p>Cellove es una potente herramienta online para encontrar perfiles afines a ti, pero además cuenta con nuevas funciones que mejoran su rendimiento y resultado: conversar con usuari@s, enviarles mensajes, proponer actividades, comprobar si hacéis buena pareja, etc... Además su motor y diseño es muy potente y consigue presentarte perfiles de interés según la relación de muchos parámetros, lo cual hace que aproveches mejor tu tiempo y consigas tener más éxito y sobretodo menos sorpresas en tus citas.</p> 
      <p>Cuenta con un sistema que gradúa la popularidad y fiabilidad de los usuari@s, con el objetivo de evitar perfiles que no cumplan con tus requisitos y perspectivas, presentarte solo aquellos que si lo hacen y puedas tener afinidades importantes. </p>
    </div>
  </div>
 <fieldset id="orientation" class="form-inline">
    <div class="control-group">
      <%= f.label :gender, "Soy" %>
      <%= f.select :gender, gender_options  %>
      <%= f.label :gender, "," %>
      <%= f.select :orientation, orientation_options  %>
      <%= f.label :marital_status, "y" %>
      <%= f.select :marital_status, marital_status_options  %>
      .
    </div>
    <div class="control-group">
      <%= f.label :birth_date_day, "Nací el" %>
      <%= f.text_field :birth_date_day, placeholder: Date.today.day, class: "span1" %>
      <%= f.label :birth_date_month, "de" %>
      <%= f.text_field :birth_date_month, placeholder: Date.today.month, class: "span1" %>
      <%= f.label :birth_date_year, "de" %>
      <%= f.text_field :birth_date_year, placeholder: Date.today.year, class: "span1" %>
      <%= f.label :country, "y vivo en" %>
      <%= f.select :country, country_options %>
    </div>
    <div class="control-group">
      <%= f.label :zip_code, "Mi codigo postal es el" %>
      <%= f.text_field :zip_code, class: "span1" %>
      <%= f.label :town, "de" %>
      <%= f.text_field :town %>
    </div>
  </fieldset>
  <fieldset id="photo" class="clearfix form-inline">
    <legend>¿Cómo eres?</legend>
    <div class="row">
      <div class="span6">
        <label class="control-label photo">Sube tu foto</label> <input type="file" class="span4">
      </div>
      <div class="span6">
        <%= f.check_box :image_not_uploaded %>
        <%= f.label :image_not_uploaded, "!Subir image más adelante!" %>
        <small>* Te recomendamos que subas una imagen para tener más posibilidades de contacto y Celestin@s.</small>
      </div>
    </div>
  </fieldset>
  <fieldset id="access" class="clearfix form-horizontal">
    <legend>Datos de acceso a Cellove</legend>
    <div class="row">
      <div class="span6">
        <div class="control-group">
          <%= f.label :email, "Email", class: 'control-label' %>
          <%= f.email_field :email %>
        </div>
        <div class="control-group">
          <%= f.label :email_confirmation, "Confirmar email", class: 'control-label' %>
          <%= f.email_field :email_confirmation %>
        </div>
      </div>
      <div class="span6">
        <div class="control-group">
          <%= f.label :password, "Contraseña", class: "control-label" %>
          <%= f.password_field :password %>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, "Confirmar contraseña", class: "control-label" %>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="row">
        <div class="span6 center">
          <div class="clearfix">
            <%= f.check_box :terms_and_conditions %>
            <label>Certifico que soy mayor de edad y que he leído y acepto los <%= link_to 'Consejos de uso', '/public/consejos-de-uso' %>, las <%= link_to 'Condiciones generales', '/public/condiciones-generales' %> y la <%= link_to 'Política de privacidad', '/public/politica-de-privacidad' %> del sitio y los servicios descritos</label>
          </div>
          <div class="clearfix">
            <%= f.check_box :newsletter_optin %>
            <label>Acepto recibir emails sobre usuari@s Cellove y comunicados Cellove.</label>
          </div>
        </div>
        <div class="span6">
          <%= f.submit t(:sign_up), :class => 'btn btn-info btn-large' %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
