<div id="fast-signup">
  <div id="signup-ct">
    <div id="signup-header">
      <h2><%= _('Crea una cuenta') %></h2>
      <p><%= _('Es fácil y gratis.') %></p>
      <a class="modal_close" href="#"></a>
    </div>
    <form>
      <div class="txt-fld">
        <label for=""><%= _('Tu correo') %></label>
        <input type="email" class="control-label" placeholder="<%= _('Email') %>">
      </div>
      <div class="txt-fld">
        <label for=""><%= _('Contraseña') %></label>
        <input type="password" class="control-label" placeholder="<%= _('Contraseña') %>">
      </div>
      <div class="txt-fld">
        <label for=""><%= _('¿Qué buscas?') %></label>
        <select id="user_seeking" name="user[seeking]" data-validate="true">
          <option value="woman seeking man"><%= _('mujer buscando un hombre') %></option>
          <option value="man seeking woman"><%= _('hombre buscando una mujer') %></option>
          <option value="woman seeking woman"><%= _('mujer buscando una mujer') %></option>
          <option value="man seeking man"><%= _('hombre buscando un hombre') %></option>
      </select>
      </div>
      <div class="btn-fld">
        <button type="submit"><%= _('Registrate »') %></button>
      </div>
    </form>
  </div>
</div>