<div id="header-actions-homepage">
  <div id="lang-switcher" class="header-switcher">   
    <ul>
      <li class="picker"><%= link_to _('Idioma'), '#' %><i></i></li>
      <li class="leaf"><%= link_to _('Castellano'), root_path(locale: :es) %><i></i></li>
      <li class="leaf"><%= link_to _('Català'), root_path(locale: :ca) %></li>
      <li class="leaf"><%= link_to _('English'), root_path(locale: :en) %></li>
    </ul>
  </div>
</div>
<div id="login-box">
  <h4><%= _('Acceso de usuarios registrados') %></h4>
  <small><%= link_to _('¿Has olvidado tu contraseña?'), new_user_password_path %></small>
  <fieldset>
    <%= simple_form_for('user', :url => user_session_path) do |f| %>
      <%= f.input_field :email, :placeholder => _('Tu dirección de correo'), :required => true, :autofocus => true, wrapper_html: {} %>
      <%= f.input_field :password, :placeholder => _('Tu contraseña'), :required => true %>
      <%= f.button :submit, _('Login'), :class => 'btn btn-success' %>
    <% end %>
  </fieldset>
  <p id="user-count"><%= _('Somos %{user_count} usuari@s. Gracias por vuesra confianza.') % {user_count: number_with_delimiter(User.count + 60000)} %></p>
</div>
