<div class="container-fluid nopadding">
    <div class="row-fluid text-center">
        <h4><%= _('Seleccionar Idioma') %></h4>
    </div>
    

        <li class="leaf"><%= link_to 'Español', root_path(locale: :es), class: 'more' %><i></i></li>
        <li class="leaf"><%= link_to 'Català', root_path(locale: :ca), class: 'more' %></li>
        <li class="leaf"><%= link_to 'English', root_path(locale: :en), class: 'more' %></li>
        <%= link_to _('Cancelar'), 'javascript:void(0)', :id => 'cancel_language', :class => 'btn input-block-level' %>
    
</div>