<nav role="navigation">
  <ul class="clearfix">
    <li class="<%= active_if_current(new_user_registration_path) %> <%= active_if_current(root_path) %>">
      <%= link_to _('Registro Gratis'), new_user_registration_path %>
    </li>
    <li class="<%= active_if_current(new_matchmaker_registration_path) %>">
      <%= link_to _('Celestin@s'), new_matchmaker_registration_path %>
    </li>
    <li class="<%= active_if_current(view_users_path) %>">
      <%= link_to _('Ver usuarios'), view_users_path %>
    </li>
    <li class="<%= active_if_current(tv_spot_path(1)) %>">
      <a href="<%= _('https://www.youtube.com/watch?v=vS2-2CJ9F9s') %>" class="html5lightbox" data-group="anuncios"  data-width="679" data-height="369" title="<%=_('María ha quedado con Pedro gracias a su amig@ ') %>"><%=_('TV') %></a>
    </li>
  </ul>
</nav>
