<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=  yield(:title) + " | " if content_for?(:title) %>Cellove.com</title>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= javascript_include_tag "application" %>
    
    <script src="/javascripts/jquery.flexslider-min.js"></script>
    <script src="/javascripts/functions.js"></script>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <% if @page == 'home' %>
      <style>
        body {
          background:url('/stylesheets/images/bg/main-bg<%= Random.rand(5) + 1 %>.jpg') left -25px no-repeat;
        }
      </style>
      <% else %>
      <style>
        header[role="banner"] {
          background:url('/stylesheets/images/bg/main-bg<%= Random.rand(5) + 1 %>.jpg') top left no-repeat;
        }
      </style>
    <% end %>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cellove" %>">
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
