<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=  yield(:title) + " | " if content_for?(:title) %>Cellove.com</title>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <% if @page == 'home' %>
      <style>
        body {
          background:url('/assets/bg/main-bg<%= Random.rand(5) + 1 %>.jpg') left -25px no-repeat;
        }
      </style>
      <% else %>
      <style>
        header[role="banner"] {
          background:url('/assets/bg/main-bg<%= Random.rand(5) + 1 %>.jpg') top left no-repeat;
        }
      </style>
    <% end %>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cellove" %>">
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header role="banner" class="clearfix">
      <div class="container">
        <%= render 'layouts/header-login' %>
        <h1><%= link_to "Cellove", root_path, :class => 'brand' %></h1>
        <h2>Ponle alas al amor</h2>
        <%#= render '/shared/public/main-nav' %>
        <%= render 'layouts/navigation' %>
      </div>
    </header>
    <div class="container">
      <section role="main">
        <% if @sidebar %>
          <div class="row">
          <div class="span3">
            <%= render 'shared/flat-sidebar' %>
          </div>
          <div class="span9">
            <div class="box">
              <div class="box-content">
                <%= render 'layouts/messages' %>
                <%= yield %>
              </div>
            </div>
          </div>
        <% else %>
          <%= render 'layouts/messages' %>
          <%= yield %>
        <% end %>
      </section>
    </div>
    <%= render 'shared/in-love' %>
    <%= render 'shared/footer' %>  
    </div>
  </body>
</html>
  </body>
</html>
