<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <%= render partial: "layouts/common_head" %>
    <link type="text/css" rel="stylesheet" id="arrowchat_css" media="all" href="/arrowchat/external.php?type=css" charset="utf-8" />
  </head>
  <body class="user">
    <%= render partial: "layouts/changing_background" %>
    <header role="banner" class="clearfix">
      <div class="container">
        <%= render '/shared/user/header-actions' %>
        <h1><%= link_to "Cellove", dashboard_path %></h1>
        <h2>Ponle alas al amor</h2>
        <%= render 'shared/user/main-nav' %>
      </div>
    </header>
    <div class="container">
      <section role="main">
        <div class="row">
          <div class="span3">
            <% if current_user.has_role?(:matchmaker) %>
              <%= render '/shared/sidebar_matchmaker' %>
            <% else %>
              <%= render partial: 'shared/sidebar' %>
            <% end %>

            <h1 id="consejos">Consejos</h1>
            <div id="caixarandom">
              <p><%= _("Pon el máximo de información sobre ti") %></p>
              <p><%= _("Sé activo") %></p>
              <p><%= _("Muéstrate tal como eres") %></p>
              <p><%= _("Mejora tu Índice Cellove") %></p>
              <p><%= _("Utilízanos como tu nuevo camino para rellenar tu vida de nueva gente interesante y con la que compartir grandes momentos") %></p>
            </div>
          </div>

          <div class="span9">
            <%= yield %>
          </div>
        </section>
      </div>
      <%= render partial: 'shared/in_love' %>
      <%= render partial: 'shared/footer' %>
    </div>

    <%= render partial: 'shared/user/notifications' %>
    <%= render 'layouts/messages' %>


  </body>
  <script type="text/javascript" src="/arrowchat/external.php?type=djs" charset="utf-8"></script>
  <script type="text/javascript" src="/arrowchat/external.php?type=js" charset="utf-8"></script> 
</html>
