<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <%= render "layouts/common_head" %>
    <link type="text/css" rel="stylesheet" id="arrowchat_css" media="all" href="/arrowchat/external.php?type=css" charset="utf-8" />
  </head>
  <body class="user <%= controller_name %> <%= action_name %>">
  	<%= render "layouts/changing_background" %>
    <header role="banner" class="clearfix">
      <div class="container">
    	<%= render 'shared/user/header-actions' %>
    	<h1>MOBILE SIGNED IN LAYOUT</h1>
      </div>
    </header>
    <%= yield %>

  </body>
</html>
