<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <%= render "layouts/common_head" %>
    <link type="text/css" rel="stylesheet" id="arrowchat_css" media="all" href="/arrowchat/external.php?type=css" charset="utf-8" />
  </head>
  <body class="user">
    <%= render "layouts/changing_background" %>
    <header role="banner" class="clearfix">
      <div class="container">
        <%= render 'shared/user/header-actions' %>
        <h1><%= link_to "Cellove", dashboard_path %></h1>
        <h2><%= _('Ponle alas al amor') %></h2>
        <%= render 'shared/user/main-nav' %>
      </div>
    </header>
    <div class="container">
      <section role="main">
        <div class="row">
          <div class="span3">
            <% if current_user.has_role?(:matchmaker) %>
              <%= render 'shared/sidebar_matchmaker' %>
            <% else %>
              <%= render 'shared/sidebar' %>
            <% end %>
          </div>

          <div class="span9">
            <%= render 'shared/confirmation_pending_form' unless current_user.confirmed? || current_user.has_role?(:matchmaker) || (params[:controller] == 'users' && params[:action] == 'show')%>
            <%= yield %>
          </div>
        </section>
      </div>
      <%= render 'shared/footer' %>
    </div>

    <%= render 'shared/user/notifications' %>
    <%= render 'layouts/messages' %>


  </body>
  <% unless current_user.has_role?(:matchmaker) %>
    <script type="text/javascript" src="/arrowchat/external.php?type=djs" charset="utf-8"></script>
    <script type="text/javascript" src="/arrowchat/external.php?type=js" charset="utf-8"></script> 
    <% unless current_user.has_role?(:premium_user) %>
      <script type="text/javascript">
        c_video_chat = 0;
      </script>
    <%end%>
  <% end %>
</html>
