<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <%= render "layouts/common_head" %>
    <link type="text/css" rel="stylesheet" id="arrowchat_css" media="all" href="/arrowchat/external.php?type=css" charset="utf-8" />
  </head>
  <body class="user <%= controller_name %> <%= action_name %>">
    <%= render "layouts/changing_background" %>
    <header role="banner" class="clearfix">
      <div class="container">
        <%= render 'shared/user/header-actions' %>
        <div id="logo">
          <span class="beta">beta</span>
          <h1><%= link_to "Cellove", dashboard_path %></h1>
          <h2><%= _('Ponle alas al amor') %></h2>
        </div>
        <%= render 'shared/user/main-nav' %>
      </div>
    </header>
    <div class="container">
      <section role="main">
        <% unless params[:controller] == 'flat_pages' %>
          <div class="row">
            <div class="span3">
              <% if current_user.has_role?(:matchmaker) %>
                <%= render 'shared/sidebar_matchmaker' %>
              <% else %>
                <%= render 'shared/sidebar' %>
              <% end %>
            </div>
            <div class="span9">
              <%= render 'shared/confirmation_pending_form' unless (current_user.lf_age_from.present? && current_user.lf_age_to.present?) || current_user.has_role?(:matchmaker) || (params[:controller] == 'users' && params[:action] == 'show')%>
              <%= yield %>
            </div>
          </div>
        <% else %>
          <% if @sidebar %>
            <div class="row">
              <div class="span3">
                <%= render 'shared/flat-sidebar' %>
              </div>
              <div class="span9">
                <div class="box">
                  <div class="box-content">
                    <%= yield %>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <%= yield %>
          <% end %>
        <% end %>
      </section>
    </div>

    <%= render 'shared/footer' %>
    <%= render 'shared/user/notifications' %>
    <%= render 'layouts/messages' %>

    <%= render 'shared/user/modal_upgrade' %>
    <%= render 'shared/modal_progress' %>
    <%= link_to '', "#upgrade-account", 'data-toggle' => 'modal', id: 'upgrade-account-modal', style: 'display: none' %>
    <%= render 'shared/scripts' %>
  </body>
  <% unless current_user.has_role?(:matchmaker) %>
    <script type="text/javascript" src="/arrowchat/external.php?type=djs" charset="utf-8"></script>
    <script type="text/javascript" src="/arrowchat/external.php?type=js" charset="utf-8"></script>
    <script type="text/javascript">
      setTimeout(getNotifications, 5000);
      c_video_chat = <%= current_user.has_role?(:premium_user) ? '1' : '0' %>;

      <% unless current_user.has_role?(:premium_user) %>
      function chatWith(id) {
        if ($('#arrowchat_chatboxes_wide .arrowchat_bar_right').size() < 2) {
          jqac.arrowchat.chatWith(id);
        } else {
          $('#upgrade-account-modal').click();
        }
      }
      <% end %>
    </script>
  <% end %>
</html>
