<!doctype html>
<html lang="en">
  <head>
    <%= render "layouts/logged_in_head" %>
    <link type="text/css" rel="stylesheet" id="arrowchat_css" media="all" href="/arrowchat/external.php?type=css&amp;mobile=true" charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script>
      addToHomescreen();
      $(window).load(function() {
        $(".loader").fadeOut("slow");
      })

      /* IOS APP */
      $(document).on(
        "click",
        "a",
        function(event){
          if(!$(this).parent().parent().parent().hasClass("converses") && !$(this).hasClass("external") && !$(this).hasClass("grouped_elements") && !$(this).hasClass("ajax_like_trigger") && !$(this).hasClass("ajax_dislike_trigger") && !($(this).attr('id')=="fancybox-close")){
            event.preventDefault();
            if(!$(event.target).attr("href")){
              location.href = $(event.target).parent().attr("href");
            }
            else{
              location.href = $(event.target).attr("href");
            }
          }
          else {
          }
        }
      );

    </script>
  </head>
  <body class="user <%= controller_name %> <%= action_name %> inside">
    <div class="loader"></div>
    <header role="banner" class="clearfix">
      <div class="container">
        <div id="open-menu">
          <a id="open-main-sidebar" href="#main-sidebar"><%= image_tag("mobile-menu.png", :alt => "Menu") %>
          <%= indicate_mobile_menu( current_user.likers.unseen.count + current_user.mailbox.inbox.unread(current_user).to_a.count + current_user.rates.unseen.count + current_user.user_visits.unseen.count ).html_safe %>

          </a> 
        </div>
        <div id="logo">
          <h1><%= link_to "Cellove", dashboard_path %></h1>
        </div>
        <%= render 'shared/user/header-actions' %>
      </div>
    </header>

      <section role="main">
        <div class="page-content">
          <% if current_user.has_role?(:matchmaker) %>
            <%= _('Lo sentimos pero la web móvil no está disponible para celestinos.') %>
          <% else %>

            <%= render 'shared/sidebar' %>
            
            <%= yield %>

          <% end %><!-- Matchmakers -->
        </div>
      </section>

    <%= render 'shared/user/notifications' %>
    <%= render 'layouts/messages' %>
    <%= render 'shared/modal_progress' %>
    <%#= render 'shared/user/modal_upgrade' %>
    <%= render 'shared/modal_progress' %>
    <%#= link_to '', "#upgrade-account", 'data-toggle' => 'modal', id: 'upgrade-account-modal', style: 'display: none' %>
    <%= render 'shared/user/main-nav' %>
    
  <% unless current_user.has_role?(:matchmaker) %>
    <script type="text/javascript" src="/arrowchat/external.php?type=djs" charset="utf-8"></script>
    <script type="text/javascript" src="/arrowchat/external.php?type=js" charset="utf-8"></script>
    <script type="text/javascript">

      setTimeout(getNotifications, 5000);

      c_video_chat = 0;
      function chatWith(id) {
      <% unless current_user.has_role?(:premium_user) %>
        if ($('#arrowchat_chatboxes_wide .arrowchat_bar_right').size() < 5) {
          jqac.arrowchat.chatWith(id);
        } else {
          $('#upgrade-account-modal').click();
        }
      <% else %>
        jqac.arrowchat.chatWith(id);
      <% end %>
      }

      /*
      <% unless current_user.has_role?(:premium_user) %>
        $(document).ready(function() {
          vip_modal = true;
          $(document).on('input click keypress', 'textarea.arrowchat_textarea', function (e) {
            if ($('#arrowchat_chatboxes_wide .arrowchat_bar_right').size() > 1) {
              e.preventDefault();
              $(this).val('');
              if (vip_modal && !$('#upgrade-account').is(':visible')) {
                vip_modal = false;
                $('#upgrade-account-modal').click();
                setTimeout(function(){
                  vip_modal = true;
                }, 3000);
              }
            }
          });
        });
      <% end %>
      */
    </script>


  <% end %>
</html>
  </body>
</html>
